.resolucionExpedida {
	background-color: #87CEFA !important;
}

.resolucionCancelada {
	background-color: #F08080 !important;
}

.valorEfectivo{
	text-align: right;
}

.estilo_numeros{
	text-align: center;
}

.campo-boton{
	float: left;
	width: 33.333333%;
}
