<br>
<div class="panel panel-default">
  <div class="panel-body">
        <center><h3>{{'SOLICITUD_PERSONAS' | translate}}</h3></center>
    </div>
    <div class="panel panel-body">

    <div class ="row">
      <div class="panel panel-default col-md-10 col-md-offset-1">
      <div class="panel-body">
        <div class="col-md-9 col-md-offset-3">
            <h4>{{'SELECCIONAR_FILTRO' | translate}}</h4>
        </div>
        <div class="col-md-6 col-md-offset-3">
          <div class="col-md-3">
              <label><input type="radio" ng-model="radioB" name="optradio" ng-value="1">{{'CONTRATO' | translate}}</label>
          </div>
          
          <div class="col-md-2 col-md-offset-1">
              <label><input type="radio" ng-model="radioB" name="optradio" ng-value="2">{{'CDP' | translate}}</label>
          </div>
          
          <div class="col-md-3 col-md-offset-1">
              <label><input type="radio" ng-model="radioB" name="optradio" ng-value="3">{{'RESOLUCION' | translate}}</label>
          </div>

          <div class="col-md-1">
              <button type="button" class="btn btn-primary" ng-click="rpSolicitudPersonas.cargar_filtro()" >{{'BUSCAR' | translate}}</button>
          </div>
        </div>
      </div>
      </div>
    </div>

<!-- DISPONIBILIDAD -->
    <div class="row" ng-show="rpSolicitudPersonas.cdp_bool">
      <div class="panel panel-default col-md-10 col-md-offset-1">
        <div class="panel-body">
              <div class="col-md-12" ng-show="rpSolicitudPersonas.gridOptions_cdp.data.length > 0">
                <h4><b>{{SELECCIONE_CDP | translate}}</b></h4>
                  <div ui-grid="rpSolicitudPersonas.gridOptions_cdp" ui-grid-selection ui-grid-auto-resize class="myGrid" >
                  </div>
                  <br><br>
                  <div class="col-md-12" align="center">
                      <button ng-click="rpSolicitudPersonas.mostrar_estadisticas()"  class="btn btn-primary btn-lg " ng-disabled="preliquidacionPersonas.saving"> <i class="" ng-show="preliquidacionPersonas.saving"></i>
                        {{'SOLICITAR_RP' | translate }} <i class="fa fa-spin fa-spinner" ng-show="rpSolicitudPersonas.boton_solicitar"></i>
                      </button>
                      </div>  
                </div>     

                <div class="well grid-loading" ng-show="rpSolicitudPersonas.gridOptions_cdp.data.length === 0" align="center">
                    <h2><i class="fa fa-spin fa-spinner"></i>
                      <strong>{{'CARGANDO_DATOS' | translate}}...</strong>
                      </h2>
                </div>
        </div>
      </div>
    </div>

<!-- CONTRATO -->
    <div class="row" ng-show="rpSolicitudPersonas.contrato_bool">
        <div class="panel panel-default col-md-10 col-md-offset-1">
          <div class="panel-body">
            <div class="form-group" ng-show="rpSolicitudPersonas.gridOptions.data.length > 0">
              <div class="col-md-2 col-md-offset-3">
                  <div ng-if="vigenciaModel=== null">
                    <label>{{'VIGENCIA_ACTUAL' | translate}} <b>2017</b> </label>
                  </div>
                  <div ng-if="vigenciaModel !== null">
                    <label>{{'VIGENCIA_SELECCIONADA' | translate}}<b>{{vigenciaModel}}</b> </label>
                  </div>
                  
                </div>
                <div class="form-group">
                    <div class="col-md-3" align="right">
                      <label>{{'SELECCIONE_UNA_VIGENCIA' | translate}}</label>
                    </div>
                    <div class="col-md-2">
                      <select class="form-control" ng-change="rpSolicitudPersonas.buscar_contratos_vigencia()" ng-model="vigenciaModel">
                        <option ng-repeat="vigencia in vigencias" >{{vigencia}}</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-12" align="center">   
                  <div ng-show="rpSolicitudPersonas.gridOptions.data.length > 0">
                      <div ui-grid="rpSolicitudPersonas.gridOptions" ui-grid-selection ui-grid-auto-resize class="myGrid" >
                      </div>
                      <div align="center">
                          <br><br>
                          <button ng-click="rpSolicitudPersonas.mostrar_estadisticas()"  class="btn btn-primary btn-lg " ng-disabled="preliquidacionPersonas.saving"> <i class="" ng-show="preliquidacionPersonas.saving"></i>
                            {{'SOLICITAR_RP' | translate }} <i class="fa fa-spin fa-spinner" ng-show="rpSolicitudPersonas.boton_solicitar"></i>
                          </button>
                        </div>
                  </div>
                    <div class="well grid-loading" ng-show="rpSolicitudPersonas.gridOptions.data.length === 0">
                        <h2><i class="fa fa-spin fa-spinner"></i>
                          <strong>{{'CARGANDO_DATOS' | translate}}...</strong>
                          </h2>
                      </div>
                  </div>      
          </div>
        </div>
      </div>
    
<!-- RESOLUCION -->
    <div class="row" ng-show="rpSolicitudPersonas.resolucion_bool">
        <div class="panel panel-default col-md-10 col-md-offset-1">
          <div class="panel-body">
              <div class="form-group" ng-show="rpSolicitudPersonas.gridOptionsResolucion.data.length !== 0">
                  <div class="col-md-4 col-md-offset-1" align="right">  
                    <div ng-if="vigenciaModel=== null">
                          <label>{{'VIGENCIA_ACTUAL' | translate}} <b>2017</b> </label>
                        </div>
                        <div ng-if="vigenciaModel !== null">
                          <label>{{'VIGENCIA_SELECCIONADA' | translate}}<b>{{vigenciaModel}}</b> </label>
                        </div>
                      </div>  
                      <div class="col-md-3" align="right">
                          <label>{{'SELECCIONE_UNA_VIGENCIA' | translate}}</label>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" ng-change="rpSolicitudPersonas.buscar_resoluciones_vigencia()" ng-model="vigenciaModel">
                              <option ng-repeat="vigencia in vigencias_resoluciones" >{{vigencia}}</option>
                            </select>
                          </div>
                    </div>
                </div>

                <div class="col-md-12" align="center">
                    <div ng-show="rpSolicitudPersonas.gridOptionsResolucion.data.length !== 0">
                    <h4><b>{{'SELECCIONAR_RESOLUCION' | translate}}</b></h4>
                     <div style="height:400px" ui-grid="rpSolicitudPersonas.gridOptionsResolucion"  ui-grid-auto-resize ui-grid-selection class="myGrid">
                    </div>
                    <div align="center">
                      <br><br>
                      <button ng-click="rpSolicitudPersonas.mostrar_estadisticas()"  class="btn btn-primary btn-lg " ng-disabled="preliquidacionPersonas.saving"> <i class="" ng-show="preliquidacionPersonas.saving"></i>
                        {{'SOLICITAR_RP' | translate }} <i class="fa fa-spin fa-spinner" ng-show="rpSolicitudPersonas.boton_solicitar"></i>
                      </button>
                    </div>
                  </div>
                  <div ng-show="rpSolicitudPersonas.gridOptionsResolucion.data.length === 0">
                      <h2><i class="fa fa-spin fa-spinner"></i>
                      <strong>{{'CARGANDO_DATOS' | translate}}...</strong>
                      </h2>
                    <div>
                    </div>
                </div>
                  </div>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="panel-footer">
  </div>
</div>


<!-- RESOLUCION MODAL-->

<div class="modal fade" id="resolucionModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><b>{{'RESOLUCION' | translate }} {{'NUMERO' | translate }}: </b>{{rpSolicitudPersonas.resolucionId}}</h4>
          <h4><b>{{'VIGENCIA' | translate }}: </b>{{rpSolicitudPersonas.resolucionVigencia}} </h4>
        </div>
        <div class="modal-body">
          <div>
          <div ng-show="rpSolicitudPersonas.gridOptionsResolucionPersonas.data.length > 0">
              <div class="modal-title">
                </div>
              <b><h4>{{'CONTRATISTAS_RESOLUCION' | translate }}</h4></b>
            <div ui-grid="rpSolicitudPersonas.gridOptionsResolucionPersonas" ui-grid-selection ui-grid-auto-resize class="myGrid">             
           </div>
          </div>

           <div ng-show="rpSolicitudPersonas.gridOptionsResolucionPersonas.data.length === 0 && rpSolicitudPersonas.no_datos" align="center">
              <h2><i class="fa fa-spin fa-spinner"></i>
              <strong>{{'CARGANDO_DATOS' | translate}}...</strong>
              </h2>
            </div>

            <div class="alert alert-danger" ng-show="!rpSolicitudPersonas.no_datos">
                <h3 align="center"><b>{{'RESOLUCION_SIN_VINCULACIONES' | translate}}</b></h3>
              </div>

          </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{'CERRAR' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- RESOLUCION MODAL  -->