<br>
<div class="panel panel-default">
  <div class="panel panel-primary panel-body">
    <!--Cabecera del panel-->
    <h2 class="page-header text-center">{{ 'TITULO_APRO_DOC' | translate}}</h2>

  <div class="panel-body">
    <div class="row">
      <div class="panel panel-default col-lg-10 col-lg-offset-1">
        <div class="panel-body">
          <form role="form">
            <div class="row">
              <div class="form-group col-lg-9">
                <label>{{'NUM_DOC_IDENTIDAD' | translate}}</label>
                <input type="text" class="form-control" ng-model="aprobacionDocumentos.Documento" placeholder="{{'PLACE_NUM_DOC' | translate}}" required>
              </div>
              <div class="form-group col-lg-3">
                  <label>  </label>
                  <input type="submit" class="form-control btn btn-success" value="{{'ACCION_CONSULTAR_NUM_DOC' | translate}}" ng-click="aprobacionDocumentos.obtener_informacion_supervisor()">
              </div>
              <div class="form-group col-lg-6">
                <label>{{'NOM_SUPER' | translate}}</label>
                <input type="text" class="form-control" ng-model="aprobacionDocumentos.supervisor.nombre">
              </div>
      </div>


        <div style="height: {{gridHeight}}px;" ui-grid="aprobacionDocumentos.gridOptions1" align='center' ui-grid-auto-resize></div>

          </form>
        </div>
      </div>
    </div>
  </div>

</div>
  </div>

  <div id="modal_informacion_contrato" class="modal fade" role="dialog">

    <div class="modal-content col-md-10 col-md-offset-1" style="margin-top: 5%">

        <div class="modal-header">
            <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal">&times</button><br>
        </div>

        <div class="modal-body">

            <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Información del Contrato</h3>
                </div>
                <div class="panel-body">
                    <fieldset class="form-group">
                      <label for="numerocontrato">Número Contrato:</label>
                      <input type="text" class="form-control" id="numero_contrato"  ng-model="aprobacionDocumentos.objeto_modal.numero_contrato" >
                    </fieldset>

                    <fieldset class="form-group">
                        <label for="vigencia">Vigencia:</label>
                        <input type="text" class="form-control" id="vigencia"  ng-model="aprobacionDocumentos.objeto_modal.vigencia" >
                      </fieldset>

                    <fieldset class="form-group">
                        <label for="cdp">CDP:</label>
                        <input type="text" class="form-control" id="cdp"  ng-model="aprobacionDocumentos.objeto_modal.cdp" >
                      </fieldset>

                      <fieldset class="form-group">
                          <label for="fechacdp">Fecha CDP:</label>
                          <input type="text" class="form-control" id="fechacdp"  ng-model="aprobacionDocumentos.objeto_modal.fecha_cdp" >
                        </fieldset>

                      <fieldset class="form-group">
                          <label for="crp">CRP:</label>
                          <input type="text" class="form-control" id="crp"  ng-model="aprobacionDocumentos.objeto_modal.crp" >
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="fechacrp">Fecha CRP:</label>
                            <input type="text" class="form-control" id="fechacrp"  ng-model="aprobacionDocumentos.objeto_modal.fecha_crp" >
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="fechainicio">Fecha inicio:</label>
                            <input type="text" class="form-control" id="fechainicio"  ng-model="aprobacionDocumentos.objeto_modal.fecha_inicio" >
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="fechainicio">Fecha fín:</label>
                            <input type="text" class="form-control" id="fechafin"  ng-model="aprobacionDocumentos.objeto_modal.fecha_fin" >
                        </fieldset>
                </div>
              </div>
        </div>
    </div>
  </div>


    <!--Modal de Visualizar los Soportes-->
    <div id="modal_ver_soportes" class="modal fade" role="dialog">
      <div class="modal-content col-md-6 col-md-offset-3" style="margin-top: 5%" align="center">

        <div class="modal-header">
          <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal">&times</button>
          <br>
        </div>

        <div class="modal-body">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{'VER_SOP' | translate}}</h3>
            </div>
            <div class="panel-body">

              <div class="col-md-12">
                <p>{{'PARRA_VER_SOP' | translate }}</p>
              </div>

              <div class="col-md-12" ng-model="aprobacionDocumentos.documentos" ng-repeat="iDoc in aprobacionDocumentos.documentos">
                <md-card >
                  <md-card-title>
                    <md-card-title-text>
                      <span class="md-headline"> {{iDoc.Contenido.NombreArchivo}}</span>
                      <span class="md-subhead">{{iDoc.Descripcion}}</span>

                    </md-card-title-text>
                    <md-card-title-media>
                      <!-- <div class="md-media-sm card-media"><textarea ng-model="iDoc.Contenido.Observaciones"></textarea></div> -->
                    <label layout="row" layout-align="start"  >Observaciones: </label> <textarea  layout="row" layout-align="start center" cols="30" ng-model="iDoc.Contenido.Observaciones"></textarea>
                    </md-card-title-media>
                  </md-card-title>
                  <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-if="iDoc.Contenido.Tipo === 'Archivo'" ng-click="aprobacionDocumentos.getDocumento(iDoc.Contenido.IdNuxeo)" class="btn btn-primary btn-outline">Ver documento</md-button>
                    <md-button ng-if="iDoc.Contenido.Tipo === 'Enlace'" ng-click="aprobacionDocumentos.getDocumento(iDoc.Contenido.IdNuxeo); aprobacionDocumentos.visualizar_enlace(iDoc.Contenido.Enlace)" class="btn btn-primary btn-outline">Ver documento</md-button>
                    <md-button class="btn btn-danger btn-outline" ng-click="aprobacionDocumentos.enviar_comentario(iDoc)">Enviar observaciones</md-button>
                    <md-button class="btn btn-success btn-outline" ng-click="aprobacionDocumentos.aprobar_documentos(iDoc.Id)">Aprobar</md-button>
                  </md-card-actions>
                </md-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
