<div class="panel panel-default">
  <div class="panel panel-primary panel-body">
    <!--Cabecera del panel-->
    <h2 class="page-header text-center">{{ 'TITULO_REV_COO' | translate}}</h2>

  <div class="panel-body">
    <div class="row">
      <div class="panel panel-default col-lg-10 col-lg-offset-1">
        <div class="panel-body">
          <form role="form">
            <div class="row">

              <div class="form-group col-lg-6">
                <label>{{'NOM_COOR' | translate}}</label>
                <input type="text" class="form-control" ng-model="aprobacionCoordinador.coordinador.nombre_coordinador" disabled>
              </div>

              <div class="form-group col-lg-6">
                <label>{{'PRO_CURR' | translate}}</label>
                <span class="form-control" readonly> {{aprobacionCoordinador.coordinador.nombre_proyecto_curricular}}</span>
              </div>



            <div class="col-md-3">
                <label>{{'MES' | translate }}</label>
                <select class="form-control" ng-model="aprobacionCoordinador.mes" ng-options="option.Nombre for option in aprobacionCoordinador.meses">
                      <option value="">--Elija el mes del certificado--</option>
                </select>
              </div>


              <div class="col-md-3">
                <label>{{'ANO' | translate }}</label>
                <select ng-model="aprobacionCoordinador.anio" class="form-control">
                  <option ng-repeat="iAnio in aprobacionCoordinador.anios" ng-value="iAnio">{{iAnio}} </option>
                </select>
              </div>

              <div class="col-md-3">
                  <label> </label>
                  <input type="submit" class="form-control btn btn-success" value="{{'GEN_PDF' | translate}}" ng-click="aprobacionCoordinador.generarPDF()">
              </div>
      </div>

        <br><br>
        <div style="height: {{gridHeight}}px;" ui-grid="aprobacionCoordinador.gridOptions1" align='center' ui-grid-auto-resize></div>

          </form>
        </div>
      </div>
    </div>
  </div>

</div>
  </div>


  <!--Modal de Visualizar los Soportes-->
  <div id="modal_ver_soportes" class="modal fade" role="dialog">
    <div class="modal-content col-md-6 col-md-offset-3" style="margin-top: 5%" align="center">

      <div class="modal-header">
        <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal">&times</button>
        <br>
      </div>

      <div class="modal-body">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{'VER_SOP' | translate}}</h3>
          </div>
          <div class="panel-body">

            <div class="col-md-12">
              <p>{{'PARRA_VER_SOP' | translate }}</p>
            </div>

            <div class="col-md-12" ng-model="aprobacionCoordinador.documentos" ng-repeat="iDoc in aprobacionCoordinador.documentos">
              <md-card >
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline"> {{iDoc.Contenido.NombreArchivo}}</span>
                    <span class="md-subhead">{{iDoc.Descripcion}}</span>

                  </md-card-title-text>
                  <md-card-title-media>
                    <!-- <div class="md-media-sm card-media"><textarea ng-model="iDoc.Contenido.Observaciones"></textarea></div> -->
                  <label layout="row" layout-align="start"  >Observaciones: </label> <textarea  layout="row" layout-align="start center" cols="30" ng-model="iDoc.Contenido.Observaciones"></textarea>
                  </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button ng-if="iDoc.Contenido.Tipo === 'Archivo'" ng-click="aprobacionCoordinador.getDocumento(iDoc.Contenido.IdNuxeo)" class="btn btn-primary btn-outline">Ver documento</md-button>
                  <md-button ng-if="iDoc.Contenido.Tipo === 'Enlace'" ng-click="aprobacionCoordinador.getDocumento(iDoc.Contenido.IdNuxeo); aprobacionCoordinador.visualizar_enlace(iDoc.Contenido.Enlace)" class="btn btn-primary btn-outline">Ver documento</md-button>
                  <md-button class="btn btn-danger btn-outline" ng-click="aprobacionCoordinador.enviar_comentario(iDoc)">Enviar observaciones</md-button>
                </md-card-actions>
              </md-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
