<br>
<div class="panel panel-default">
  <div class="panel panel-primary panel-body">
    <!--Cabecera del panel-->
    <h2 class="page-header text-center">{{'TITULO_APRO_PAGO' | translate}}</h2>

  <div class="panel-body">
    <div class="row">
      <div class="panel panel-default col-lg-10 col-lg-offset-1">
        <div class="panel-body">
          <form role="form">
            <div class="row">
              <div class="form-group col-lg-6">
                <label>{{'NOM_ORDENADOR'| translate}}</label>
                <input type="text" class="form-control" ng-model="aprobacionPago.ordenador.ordenador.nombre">
              </div>
      </div>


        <div style="height: {{gridHeight}}px;" ui-grid="aprobacionPago.gridOptions1" align='center' ui-grid-auto-resize></div>

          </form>
        </div>
      </div>
    </div>
  </div>

</div>
  </div>
