<br>
<div class="panel panel-default">
  <div class="panel panel-primary panel-body">
    <!--Cabecera del panel-->
    <h2 class="page-header text-center">{{'TITULO_CARGA_LISTAS' | translate}}</h2>

    <div class="panel-body">
      <div class="row">
        <div class="panel panel-default col-lg-10 col-lg-offset-1">
          <div class="panel-body">
            <form role="form">
              <div class="row">




                <div class="form-group col-lg-6">
                  <label>{{'NOM_DOCENTE'| translate}}</label>
                  <span class="form-control" readonly> {{cargaDocumentosDocente.nombre_docente}}</span>
                </div>
              </div>

              <div class="row">

                <div style="height: {{gridHeight}}px;" ui-grid="cargaDocumentosDocente.gridOptions1" align='center' ui-grid-auto-resize></div>

              </div>

            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!--Modal Para Cargar Soportes De Acuerdo A Las Solicitudes Creadas-->
<div id="modal_carga_listas_docente" class="modal fade" role="dialog">
  <div class="modal-content col-md-10 col-md-offset-1" style="margin-top: 5%">

    <div class="modal-header">
      <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal">&times</button>
      <br>
    </div>

    <div class="modal-body">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{'CAR_SOP' | translate}}</h3>
        </div>

        <div class="row">

        <div class="col-md-12">
            <p>{{'PARRAFO_SOLICITAR_PAGO' | translate }}</p>
          </div>

          <div class="col-md-1">
              <label>{{'ANO' | translate }}</label>
            </div>
            <div class="col-md-3">
              <select ng-model="cargaDocumentosDocente.anio"   ng-change="cargaDocumentosDocente.getMeses(cargaDocumentosDocente.anio)" class="form-control">
                <option ng-repeat="iAnio in cargaDocumentosDocente.anios" ng-value="iAnio">{{iAnio}} </option>
              </select>
            </div>
  

          <div class="col-md-1">
            <label>{{'MES' | translate }}</label>
          </div>
          <div class="col-md-3">
            <select ng-model="cargaDocumentosDocente.mes" class="form-control">
              <option ng-repeat="iMes in cargaDocumentosDocente.meses" ng-value="iMes.Id">{{iMes.Nombre}} </option>
            </select>
          </div>


          <button class="btn btn-success" ng-click="cargaDocumentosDocente.verificar_fecha_pago()" ng-show="cargaDocumentosDocente.mostrar_boton">
              {{'ENVIAR' | translate }}
            </button>

        </div>
        <br>

        <div class="col-md-12">
          <p>{{'PARRAFO_CARGAR_LISTAS' | translate }}</p>
        </div>

        <br>


        <div class="panel-body">

          <div style="height: {{gridHeight}}px;width:{{gridWidth}}px" ui-grid="cargaDocumentosDocente.gridOptions2" align='center' ui-grid-selection ui-grid-auto-resize></div>

          <br>
          <br>

          <!--Div que se visualiza al seleccionar una vinculación y muestra los tipos de adjuntos que el usuario puede hacer-->
          <div class="col-md-12" ng-if="cargaDocumentosDocente.seleccionado && (cargaDocumentosDocente.fila_seleccionada.EstadoPagoMensual.CodigoAbreviacion === 'CD' || cargaDocumentosDocente.fila_seleccionada.EstadoPagoMensual.CodigoAbreviacion == 'RD' || cargaDocumentosDocente.fila_seleccionada.EstadoPagoMensual.CodigoAbreviacion === 'RC' || cargaDocumentosDocente.fila_seleccionada.EstadoPagoMensual.CodigoAbreviacion === 'RP')">
            <p>{{'DESC_ADJ' | translate}}</p>
            <!--Campo que pinta la opción archivo-->
            <fieldset class="form-group">
              <label> {{'ARC' | translate}}</label>
              <input type="checkbox" ng-model="cargaDocumentosDocente.archivo" ng-change="cargaDocumentosDocente.cambiarCheckArchivo()">
              <!--Campo que pinta la opción de enlace-->
              <label> {{'ENL' | translate}}</label>
              <input type="checkbox" ng-model="cargaDocumentosDocente.link" ng-change="cargaDocumentosDocente.cambiarCheckLink()">
            </fieldset>

            <!--Div que se visualiza al seleccionar el check archivo-->
            <div ng-if="cargaDocumentosDocente.archivo">

              <div class="col-md-1">
                <label class="control-label">{{'ARC' | translate}}</label>
              </div>
              <div class="col-md-3">
                <input type="file" angular-bfi="{'showUpload':false, allowedFileExtensions:['pdf'], language:'es'}" file-model="cargaDocumentosDocente.fileModel" required> </input>
              </div>
            </div>

            <!--Div que se visualiza al seleccionar el check link-->
            <div class="row">
              <div ng-if="cargaDocumentosDocente.link">
                <div class="col-md-1">
                  <label class="control-label">{{'ENL' | translate}}</label>
                </div>
                <div class="col-md-2">
                  <input type="text" class="form-control" ng-model="cargaDocumentosDocente.enlace" required> </input>
                </div>

              </div>

              <div class="col-md-1">
                <label for="select_item" class="col-form-label">Item</label>
              </div>
              <div class="col-md-5">
                <select ng-model="cargaDocumentosDocente.item" class="form-control">
                  <option ng-repeat="iItem in cargaDocumentosDocente.items" ng-value="iItem">{{iItem.ItemInforme.Nombre}} </option>
                </select>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-3">
                <label for="observacion" class="col-form-label">{{'OBSER' | translate}}</label>
              </div>
              <div class="col-md-6">
                <textarea rows="3" cols="50" ng-model="cargaDocumentosDocente.observaciones"></textarea>
              </div>
            </div>
          </div>


        </div>
      </div>


      <button ng-if="cargaDocumentosDocente.seleccionado && (cargaDocumentosDocente.fila_seleccionada.EstadoPagoMensual.CodigoAbreviacion === 'CD' || cargaDocumentosDocente.fila_seleccionada.EstadoPagoMensual.CodigoAbreviacion == 'RD' || cargaDocumentosDocente.fila_seleccionada.EstadoPagoMensual.CodigoAbreviacion === 'RC' || cargaDocumentosDocente.fila_seleccionada.EstadoPagoMensual.CodigoAbreviacion === 'RP') " ng-show="cargaDocumentosDocente.mostrar_boton" class="btn btn-success" ng-click="cargaDocumentosDocente.subir_documento()">
        {{'CAR_SOP' | translate }}
      </button>
    </div>
  </div>
</div>

<!--Modal de Crear la Solicitud-->
<div id="modal_enviar_solicitud" class="modal fade" role="dialog">
  <div class="modal-content col-md-10 col-md-offset-1" style="margin-top: 5%">

    <div class="modal-header">
      <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal">&times</button>
      <br>
    </div>

    <div class="modal-body">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{'SOLICITAR_CUM' | translate}}</h3>
        </div>
        <div class="panel-body">



          <div class="row">

            <div class="col-md-12">
              <p>{{'PARRAFO_SOLICITAR_PAGO' | translate }}</p>
            </div>

            <div class="col-md-1">
              <label>{{'MES' | translate }}</label>
            </div>
            <div class="col-md-3">
              <select ng-model="cargaDocumentosDocente.mes" class="form-control">
                <option ng-repeat="iMes in cargaDocumentosDocente.meses" ng-value="iMes.Id">{{iMes.Nombre}} </option>
              </select>
            </div>

            <div class="col-md-1">
              <label>{{'ANO' | translate }}</label>
            </div>
            <div class="col-md-3">
              <select ng-model="cargaDocumentosDocente.anio"   ng-change="cargaDocumentosDocente.getMeses(cargaDocumentosDocente.anio)" class="form-control">
                <option ng-repeat="iAnio in cargaDocumentosDocente.anios" ng-value="iAnio">{{iAnio}} </option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <button class="btn btn-success" ng-click="cargaDocumentosDocente.enviar_solicitud()" data-dismiss="modal">
        {{'ENVIAR' | translate }}
      </button>
    </div>
  </div>
</div>

<!--Modal de Visualizar los Soportes-->
<div id="modal_ver_soportes" class="modal fade" role="dialog" style="z-index: 1600">
  <div class="modal-content col-md-6 col-md-offset-3" style="margin-top: 5%" align="center">

    <div class="modal-header">
      <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal">&times</button>
      <br>
    </div>

    <div class="modal-body">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{'VER_SOP' | translate}}</h3>
        </div>
        <div class="panel-body">

          <div class="col-md-12">
            <p>{{'PARRA_VER_SOP' | translate }}</p>
          </div>

          <div class="col-md-12" ng-model="cargaDocumentosDocente.documentos" ng-repeat="iDoc in cargaDocumentosDocente.documentos">
            <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline"> {{iDoc.Contenido.NombreArchivo}}</span>
                  <span class="md-subhead">{{iDoc.Contenido.FechaCreacion}}</span>
                  <span class="md-subhead">{{iDoc.Descripcion}}</span>
                  <span class="md-subhead">{{iDoc.Contenido.Observaciones}}</span>
                </md-card-title-text>
                <md-card-title-media>
                  <div class="md-media-sm card-media"></div>
                </md-card-title-media>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
                <md-button ng-if="iDoc.Contenido.Tipo === 'Archivo'" ng-click="cargaDocumentosDocente.getDocumento(iDoc.Contenido.IdNuxeo)" class="md-primary">VER DOCUMENTO</md-button>
                  <md-button ng-if="iDoc.Contenido.Tipo === 'Enlace'" ng-click="cargaDocumentosDocente.getDocumento(iDoc.Contenido.IdNuxeo); cargaDocumentosDocente.visualizar_enlace(iDoc.Contenido.Enlace)" class="md-primary">VER DOCUMENTO</md-button>
                <md-button class="md-warn" ng-if="cargaDocumentosDocente.fila_sol_pago.EstadoPagoMensual.CodigoAbreviacion === 'CD' || cargaDocumentosDocente.fila_sol_pago.EstadoPagoMensual.CodigoAbreviacion === 'RD' || cargaDocumentosDocente.fila_sol_pago.EstadoPagoMensual.CodigoAbreviacion === 'RP' || cargaDocumentosDocente.fila_sol_pago.EstadoPagoMensual.CodigoAbreviacion ==='RC'" ng-click="cargaDocumentosDocente.set_doc(iDoc)" data-toggle="modal" data-target="#modal_borrar_soportes">BORRAR</md-button>
              </md-card-actions>
            </md-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Modal borrar Soportes-->
<div id="modal_borrar_soportes" class="modal fade" role="dialog" style="z-index: 1600">
  <div class="modal-content col-md-6 col-md-offset-3" style="margin-top: 5%" align="center">

    <div class="modal-header">
      <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal">&times</button>
      <br>
    </div>

    <div class="modal-body">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">BORRAR SOPORTE</h3>
        </div>
        <div class="panel-body">

          <div class="col-md-12">
            <h1>¿Está seguro que desea borrar el soporte?</h1>
            <p>No podrá revertir esta acción</p>

            <br>
            <button class="btn btn-danger" ng-click="cargaDocumentosDocente.borrar_doc()" data-dismiss="modal">Aceptar</button>
            <button class="btn btn-info"  data-dismiss="modal">Cancelar</button>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>


<div id="modal_check_docente" class="modal fade" role="dialog">
    <div class="modal-content col-md-10 col-md-offset-1" style="margin-top: 5%">
  
      <div class="modal-header">
        <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal">&times</button>
        <br>
      </div>
  
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Solicitar cumplido</h3>
          </div>
  
          <div class="row">
              <center>
          <div class="col-md-12">
              <p>{{'PARRAFO_SOLICITAR_PAGO' | translate }}</p>
            </div>
  
            <div class="col-md-1 col-md-offset-2">
                <label>{{'ANO' | translate }}</label>
              </div>
              <div class="col-md-3">
                <select ng-model="cargaDocumentosDocente.anio"   ng-change="cargaDocumentosDocente.getMeses(cargaDocumentosDocente.anio)" class="form-control">
                  <option ng-repeat="iAnio in cargaDocumentosDocente.anios" ng-value="iAnio">{{iAnio}} </option>
                </select>
              </div>
    
            <div class="row">
            <div class="col-md-1">
              <label>{{'MES' | translate }}</label>
            </div>
            <div class="col-md-3">
              <select ng-model="cargaDocumentosDocente.mes" class="form-control">
                <option ng-repeat="iMes in cargaDocumentosDocente.meses" ng-value="iMes.Id">{{iMes.Nombre}} </option>
              </select>
            </div>
          </div>  
          <br>
          
              <div class="row">
              <div class="panel panel-default col-md-6 col-md-offset-3">
                  <div class="panel-body">
            <div class="form-check ">
                <label class="form-check-label" for="check_acepto">Acepto que he cumplido con mi propuesta de trabajo como docente de vinculación especial para el mes y año seleccionado</label>
                <input type="checkbox" class="form-check-input" id="check_acepto" ng-model="cargaDocumentosDocente.acepto">

            </div>
                  </div>
              </div>
            </div>
       
            <div class="col-md-4 col-md-offset-4">
              <button class="btn btn-success" ng-click="cargaDocumentosDocente.verificar_fecha_pago_check()" ng-show="cargaDocumentosDocente.mostrar_boton">
                {{'ENVIAR' | translate }}
              </button>
            </div>
          </center>
          </div>
          <br>
  

  
          <br>
  
  
          <div class="panel-body">
  
            <div style="height: {{gridHeight}}px;width:{{gridWidth}}px" ui-grid="cargaDocumentosDocente.gridOptions2" align='center' ui-grid-selection ui-grid-auto-resize></div>
  
            <br>
            <br>
          </div>
  
  </div>
</div>
