<br>
<div class="panel panel-default">
    <div>
        <center>
            <h3 class="titulo-centrado">{{'ACTA_ADICION_PRORROGA' | translate}}</h3>
        </center>
    </div>
    <form name="formadipro" id="formulario" novalidate>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <center>
                                <h4><b>{{'INFORMACION' | translate}}</b></h4>
                            </center>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-md-4"><b>{{'TIPO_CONTRATO' | translate}}</b></div>
                                <div class="col-sm-12 col-md-8">
                                    <p>{{sLactaAdicionProrroga.contrato_obj.tipo_contrato}}</p>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-4"><b>{{'NUMERO_CONTRATO' | translate}}</b></div>
                                <div class="col-sm-12 col-md-8">
                                    <p>{{sLactaAdicionProrroga.contrato_obj.numero_contrato }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-4"><b>{{'OBJETO' | translate}}</b></div>
                                <div class="col-sm-12 col-md-8">
                                    <p>{{sLactaAdicionProrroga.contrato_obj.objeto}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-4"><b>{{'VALOR_TOTAL_CONTRATO' | translate}}</b></div>
                                <div class="col-sm-12 col-md-8">
                                    <p>{{sLactaAdicionProrroga.contrato_obj.valor | currency}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-4"><b>{{'DATOS_CONTRATISTA' | translate}}</b></div>
                                <div class="col-sm-12 col-md-8">
                                    <p>{{sLactaAdicionProrroga.contrato_obj.contratista_nombre}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-4"><b>{{'PLAZO_INICIAL_MESES' | translate}}</b></div>
                                <div class="col-sm-12 col-md-8">
                                    <p>{{sLactaAdicionProrroga.plazoMeses}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-4"><b>{{'SUPERVISOR' | translate}}</b></div>
                                <div class="col-sm-12 col-md-8">
                                    <p>{{sLactaAdicionProrroga.contrato_obj.supervisor_nombre}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-4"><b>{{'FECHA_INICIACION' | translate}}</b></div>
                                <div class="col-sm-12 col-md-8">
                                    <p>{{sLactaAdicionProrroga.contrato_obj.inicio | date : format : timezone}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <center>
                                <h4><b>{{'INFORMACION_NOVEDAD' | translate}}</b></h4>
                            </center>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <center>
                                        <label class="checkbox-inline"><input type="checkbox" ng-model="adicion"
                                                ng-click="check_adicion()"><b>{{'ADICION' |
                                                translate}}</b></label>
                                        <label class="checkbox-inline"><input type="checkbox" ng-model="prorroga"
                                                ng-click="check_prorroga()"><b>{{'PRORROGA' |
                                                translate}}</b></label>
                                    </center>
                                </div>
                            </div>
                            <hr>
                            <div class="row" style="border: 0px solid;">
                                <div class="col-xs-12 col-md-6">
                                    <label>{{'NUMERO_SOLICITUD_NECESIDAD' | translate}}*</label>
                                    <br>
                                    <md-input-container style="margin:0;">
                                        <input type="text" id="solicitud" aria-label="solicitud" name="solicitud"
                                            ng-model="numero_solicitud" min="0" required>
                                        <div ng-messages="formadipro.solicitud.$error">
                                            <div ng-message="required">{{'CAMPO_REQUERIDO' | translate}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <label>{{'FECHA_SOLICITUD_NECESIDAD' | translate}}</label>
                                    <br>
                                    <md-datepicker ng-model="sLactaAdicionProrroga.fecha_solicitud"></md-datepicker>
                                </div>
                            </div>
                            <div class="row" style="border: 0px solid;"></div>
                            <div class="col-xs-12 col-md-6">
                                <label>{{'NUMERO_OFICIO' | translate}}*</label>
                                <br>
                                <md-input-container style="margin:0;">
                                    <input type="text" id="oficio" aria-label="oficio" name="oficio"
                                        ng-model="sLactaAdicionProrroga.numero_oficio">
                                </md-input-container>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <label>{{'FECHA_OFICIO' | translate}}</label>
                                <br>
                                <md-datepicker ng-model="sLactaAdicionProrroga.fecha_oficio"></md-datepicker>
                            </div>
                            <div class="col-xs-12 col-md-12">
                                <label>Fecha de expedición del acta</label><br>
                                <md-datepicker ng-model="sLactaAdicionProrroga.f_expedicion_acta"
                                    md-placeholder="Ingrese fecha"></md-datepicker>
                                <br><br>
                            </div>
                            <div class="row" style="border: 0px solid;">
                                <div class="col-xs-12 col-md-12">
                                    <label for="verDoc">Previsualización del documento</label>
                                    <br><br>
                                    <md-input-container style="margin:0;">
                                        <input type="number" id="tamano_fuente" name="tamano_fuente"
                                            ng-model="sLactaAdicionProrroga.tamanoFuente" min="1" max="30"
                                            placeholder="tamaño fuente general">
                                    </md-input-container>
                                    <md-button class="md-icon-button" ng-click="sLactaAdicionProrroga.verDocumento()">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </md-button>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <label class="checkbox-inline"><input type="checkbox"
                                        ng-model="nueva_clausula"><b>Cláusula adicional</b></label>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <md-input-container style="margin:0;">
                                    <input ng-if="nueva_clausula" type="number" id="posicion_nc" name="posicion_nc"
                                        ng-model="sLactaAdicionProrroga.posicion_clausula" min="4" max="9"
                                        placeholder="posición (4-9)">
                                </md-input-container>

                            </div>
                            <div class="col-xs-12 col-md-12">
                                <textarea ng-if="nueva_clausula" style="height: 100px;" class="form-control"
                                    id="nueva_clausula" ng-model="sLactaAdicionProrroga.nueva_clausula_text" rows="3"
                                    maxlength="500" placeholder="NUEVA CLÁUSULA"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default panel_adicion" style="display: none;">
                        <div class="panel-heading">
                            <center>
                                <h4><b>{{'INFORMACION_NOVEDAD_ADICION' | translate}}</b></h4>
                            </center>
                        </div>
                        <div class="panel-body">
                            <div class="row" style="border: 0px solid;">
                                <!-- <div class="col-xs-12 col-md-6">
                                    <label>{{'CDP - VIGENCIA' | translate}}</label>
                                    <p></p>
                                    <select ng-model="sLactaAdicionProrroga.cdprp"
                                        style="margin:0; display:inline-block; width:60%;" ng-change="update()" id="rp">
                                        <option ng-repeat="cdp in sLactaAdicionProrroga.cdprp" value="{{cdp}}">{{cdp.cdp
                                            | translate}} - {{cdp.vigencia | translate}}</option>
                                    </select> -->
                                <!-- <div class="form-group col-md-12">
                                        <p style="margin:0; display:inline; width:40%;">
                                            <b>{{'CDP - VIGENCIA' | translate}} *:</b>
                                        </p>
                                        <select class="form-control" ng-model="sLegal.contrato_vigencia"
                                            style="margin:0; display:inline-block; width:100%;">
                                            <option ng-repeat="vigencia in vigencias">{{vigencia}}</option>
                                        </select>
                                    </div>                                    -->
                                <!-- <select  ng-model="personas.InformacionRp" >
                                        <option ng-repeat="rp in resolucionCancelacion.rps[$index]" value="{{rp}}">RP:{{rp.rp}}-Vigencia:{{rp.vigencia}}</option>
                                    </select>  -->
                                <!-- <label>{{'NUMERO_CDP' | translate}}</label>
                                    <md-input-container style="margin:0;">
                                        <input type="number" id="numero_cdp" name="numero_cdp"
                                            ng-model="sLactaAdicionProrroga.contrato_obj.NumeroCdp" min="0" readonly>
                                    </md-input-container> -->
                                <!-- </div> -->
                                <!-- <div class="col-xs-12 col-md-6"> -->
                                <!-- <label>{{'RP - VIGENCIA' | translate}}</label>
                                    <md-input-container style="margin:0; display:inline-block; width:60%;">
                                        <input type="text" id="numero_cdp" name="numero_cdp"
                                            ng-model="sLactaAdicionProrroga.selected" readonly>
                                    </md-input-container> -->

                                <!-- </div> -->
                                <div class="row" style="border: 0px solid;">
                                    <div class="col-xs-12 col-md-6">
                                        <label>{{'CDP - VIGENCIA' | translate}}</label>
                                        <br>
                                        <md-input-container style="margin:0; width: 40%;">
                                            <br>
                                            <input type="number" id="cdp_numero" aria-label="cdp_numero"
                                                name="cdp_numero" ng-model="sLactaAdicionProrroga.cdp_numero" required>
                                            <div ng-messages="formadipro.cdp_numero.$error">
                                                <div ng-message="required">{{'CAMPO_REQUERIDO' | translate}}</div>
                                            </div>
                                        </md-input-container>
                                        <select class="form-control" ng-model="sLactaAdicionProrroga.cdp_vigencia"
                                            style="margin:0; display:inline-block; width:40%;">
                                            <option ng-repeat="vigencia in vigencias">{{vigencia}}</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <label for="fecha-adicion">{{'FECHA_ADICION' | translate}}</label>
                                        <br><br>
                                        <md-datepicker ng-model="sLactaAdicionProrroga.fecha_prorroga"
                                            ng-disabled="true">
                                        </md-datepicker>
                                    </div>
                                </div>
                                <br>
                                <div class="row" style="border: 0px solid;">
                                    <div class="col-xs-12 col-md-6">
                                        <label>{{'VALOR_ADICION' | translate}} *</label>
                                        <br>
                                        <md-input-container style="margin:0;">
                                            <input type="text" id="valor_adicion" aria-label="valor_adicion"
                                                name="valor_adicion" ng-model="valor_adicion"
                                                ng-keyup="total_valor_contrato($event)" min="1" required="false">
                                            <div ng-messages="formadipro.valor_adicion.$error">
                                                <div ng-message="required">{{'CAMPO_REQUERIDO' | translate}}</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <label>{{'NUEVO_VALOR_CONTRATO' | translate}}</label>
                                        <br>
                                        <md-input-container style="margin:0;">
                                            <input type="text" id="nuevo_valor_contrato"
                                                aria-label="nuevo_valor_contrato" name="nuevo_valor_contrato"
                                                ng-model="nuevo_valor_contrato" readonly>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-12" ng-if="valor_adicion != undefined">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <span><b>{{VALOR_ADICION_TEXTO}}</b></span>
                                            <span>{{valor_adicion_letras}}</span>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <span><b>{{NUEVO_VALOR_ADICION}}</b></span>
                                            <span>{{nuevo_valor_contrato_letras}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default panel_prorroga" style="display: none;">
                        <div class="panel-heading">
                            <center>
                                <h4><b>{{'INFORMACION_NOVEDAD_PRORROGA' | translate}}</b></h4>
                            </center>
                        </div>
                        <div class="panel-body">
                            <div class="row" style="border: 0px solid;">
                                <div class="col-xs-12 col-md-6">
                                    <label>{{'TIEMPO_PRORROGA' | translate}}* </label>
                                    <md-input-container style="margin:0;">
                                        <input type="text" id="tiempo_prorroga" aria-label="tiempo_prorroga"
                                            name="tiempo_prorroga" ng-model="tiempo_prorroga"
                                            ng-keyup="total_plazo_contrato($event)" required>
                                        <div ng-messages="formadipro.tiempo_prorroga.$error">
                                            <div ng-message="required">{{'CAMPO_REQUERIDO' | translate}}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <label>{{'FECHA_PRORROGA' | translate}}</label>
                                    <md-datepicker ng-model="sLactaAdicionProrroga.fecha_prorroga" ng-disabled="true">
                                    </md-datepicker>
                                </div>
                                <div class="fcol-xs-12 col-md-12" ng-if="tiempo_prorroga != undefined">
                                    <label>{{'NUEVO_PLAZO_CONTRATO' | translate}}</label><br>
                                    <span>{{nuevo_plazo_contrato}}.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row" ng-if="sLactaAdicionProrroga.editBool==false">
                <div class="col-xs-12 col-sm-12 col-md-12" style="text-align: center;">
                    <button type="button" class="btn btn-primary btn-lg" ng-click="sLactaAdicionProrroga.validarYConfirmarActa()">
                      <span class="glyphicon glyphicon-file"></span>
                      {{'CREAR_NOVEDAD_ADICION_PRORROGA' | translate}}
                    </button>

                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    </form>
</div>
