<br>
<div class="panel panel-default">
    <center>
        <h3 class="titulo-centrado">{{'ACTA_SUSPENSION' | translate}}</h3>
    </center>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class=" panel panel-default">
                    <div class="panel-heading">
                        <center>
                            <h4><b>{{'INFORMACION' | translate}}</b></h4>
                        </center>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4"><b>{{'NUMERO_CONTRATO' | translate}}</b></div>
                            <div class="col-md-8">
                                <p>{{sLactaSuspension.contrato_obj.numero_contrato}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><b>{{'CONTRATANTE' | translate}}</b></div>
                            <div class="col-md-8">
                                <p>{{'UNIVERSIDAD_NOMBRE' | translate}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><b>{{'CONTRATISTA' | translate}}</b></div>
                            <div class="col-md-8" ng-if="sLactaSuspension.contrato_obj.contratista_documento != null">
                                <p>
                                    {{sLactaSuspension.contrato_obj.contratista_nombre}} <br>
                                    <span style="color:#555; font-size:14px;">
                    {{sLactaSuspension.contrato_obj.contratista_documento}}
                  </span>
                                </p>
                            </div>
                            <div class="col-md-8" ng-if="sLactaSuspension.contrato_obj.contratista_documento == null">
                                <p>{{'NO_REGISTRA' | translate}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><b>{{'OBJETO' | translate}}</b></div>
                            <div class="col-md-8" ng-if="sLactaSuspension.contrato_obj.objeto != null">
                                <p>{{sLactaSuspension.contrato_obj.objeto}}</p>
                            </div>
                            <div class="col-md-8" ng-if="sLactaSuspension.contrato_obj.objeto == null">
                                <p>{{'NO_REGISTRA' | translate}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><b>{{'VALOR_CONTRATO' | translate}}</b></div>
                            <div class="col-md-8">
                                <p>{{sLactaSuspension.contrato_obj.valor | currency}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class=" panel panel-default">
                    <div class="panel-heading">
                        <center>
                            <h4><b>{{'INFORMACION_NOVEDAD' | translate}}</b></h4>
                        </center>
                    </div>
                    <div class="panel-body">
                        <form name="formSuspension">
                            <div class="form-group col-md-6">
                                <p>
                                    <b>{{'NUMERO_SOLICITUD' | translate}} *:</b>
                                </p>
                                <md-input-container style="margin:0;">
                                    <input type="number" id="n_solicitud" name="n_solicitud" required ng-model="sLactaSuspension.n_solicitud" ng-disabled="false" min="0">
                                    <div ng-messages="formSuspension.n_solicitud.$error">
                                        <div ng-message="required">{{'CAMPO_REQUERIDO' | translate}}</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div class="form-group col-md-6">
                                <label style="width:100%;">
                {{'NUMERO_OFICIO_ESTADO_CUENTAS' | translate}} *:
              </label>
                                <md-input-container style="margin:0;">
                                    <input type="number" name="numero_oficio_estado_cuentas" ng-model="sLactaSuspension.numero_oficio_estado_cuentas" 
                                    id="numero_oficio_estado_cuentas" min="0" onkeypress="return event.charCode >= 48 && event.charCode <= 57" required>
                                    <div ng-messages="formTerminacion.numero_oficio_estado_cuentas.$error">
                                        <div ng-message="required">{{'CAMPO_REQUERIDO' | translate}}</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>
                            <div class="form-group col-md-6">
                                <p>
                                    <b>{{'PERIODO_SUSPENSION' | translate}} *:</b>
                                </p>
                                <md-input-container style="margin:0;">
                                    <input type="number" name="diff_dias" id="periodo" required ng-model="sLactaSuspension.diff_dias" ng-disabled="true" min="0">
                                    <div ng-messages="formSuspension.diff_dias.$error">
                                        <div ng-message="required">{{'CAMPO_REQUERIDO' | translate}}</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="fechainicio">{{'FECHA_SUSPENSION_INICIO' | translate}}:</label> <br>
                                <md-datepicker ng-model="sLactaSuspension.f_inicio" md-max-date="sLactaSuspension.f_hoy"></md-datepicker>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="fechafin">{{'FECHA_SUSPENSION_FIN' | translate}}:</label> <br>
                                <md-datepicker ng-model="sLactaSuspension.f_fin" md-min-date="sLactaSuspension.f_inicio"></md-datepicker>
                            </div>

                            <div class="form-group col-md-12">
                                <br>
                                <p><b>{{'FECHA_REINICIO' | translate}}:</b></p>
                                <md-datepicker ng-model="sLactaSuspension.f_reinicio" md-min-date="sLactaSuspension.f_fin" ng-disabled="true">
                                </md-datepicker>
                            </div>
                            <div class="form-group col-md-12">
                                <label>{{'MOTIVO_SUSPENSION' | translate}} *:</label>
                                <textarea class="form-control" name="motivo" style="border-radius:0;" id="motivo" ng-model="sLactaSuspension.motivo" rows="5" maxlength="249" required></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="panel-footer">
        <center><button class="btn btn-primary btn-lg" ng-click="sLactaSuspension.generarActa()">{{'CREAR_NOVEDAD_SUSPENSION' | translate}}</button></center>
    </div>
    <br>
    <br>
    <br>
</div>
