<br>
<div class="panel panel-default">
    <center>
        <h3 class="titulo-centrado">Terminación Anticipada</h3>
    </center>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class=" panel panel-default">
                    <div class="panel-heading">
                        <center>
                            <h4><b>{{'INFORMACION' | translate}}</b></h4>
                        </center>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4"><b>{{'NUMERO_CONTRATO' | translate}}</b></div>
                            <div class="col-md-8">
                                <p>{{sLactaTerminacionAnticipada.contrato_obj.numero_contrato}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><b>{{'CONTRATANTE' | translate}}</b></div>
                            <div class="col-md-8">
                                <p>{{'UNIVERSIDAD_NOMBRE' | translate}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><b>{{'CONTRATISTA' | translate}}</b></div>
                            <div class="col-md-8"
                                ng-if="sLactaTerminacionAnticipada.contrato_obj.contratista_documento != null">
                                <p>
                                    {{sLactaTerminacionAnticipada.contrato_obj.contratista_nombre}} <br>
                                    <span style="color:#555; font-size:14px;">
                                        {{sLactaTerminacionAnticipada.contrato_obj.contratista_documento}}
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-8"
                                ng-if="sLactaTerminacionAnticipada.contrato_obj.contratista_documento == null">
                                <p>{{'NO_REGISTRA' | translate}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><b>{{'OBJETO' | translate}}</b></div>
                            <div class="col-md-8" ng-if="sLactaTerminacionAnticipada.contrato_obj.objeto != null">
                                <p>{{sLactaTerminacionAnticipada.contrato_obj.objeto}}</p>
                            </div>
                            <div class="col-md-8" ng-if="sLactaTerminacionAnticipada.contrato_obj.objeto == null">
                                <p>{{'NO_REGISTRA' | translate}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><b>{{'VALOR_CONTRATO' | translate}}</b></div>
                            <div class="col-md-8">
                                <p>{{sLactaTerminacionAnticipada.contrato_obj.valor | currency}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class=" panel panel-default">
                    <div class="panel-heading">
                        <center>
                            <h4><b>{{'INFORMACION_NOVEDAD' | translate}}</b></h4>
                        </center>
                    </div>
                    <div class="panel-body">
                        <form name="formTerminacion" action="" class="col-md-12">
                            <div class="row" style="border: 0px solid;">
                                <!-- <div class="col-xs-12 col-md-6">
                                    <label>{{'NUMERO_SOLICITUD_NECESIDAD' | translate}}*</label>
                                    <md-input-container style="margin:0;">
                                        <input type="text" id="numero_solicitud" name="numero_solicitud"
                                            ng-model="sLactaTerminacionAnticipada.numero_solicitud" min="0" required>
                                        <div ng-messages="formTerminacion.numero_solicitud.$error">
                                            <div ng-message="required">{{'CAMPO_REQUERIDO' | translate}}</div>
                                        </div>
                                    </md-input-container>
                                </div> -->
                                <div class="col-xs-12 col-md-6">
                                    <label>{{'FECHA_SOLICITUD' | translate}}</label>
                                    <md-datepicker ng-model="sLactaTerminacionAnticipada.fecha_solicitud"
                                        md-max-date="sLactaTerminacionAnticipada.f_hoy"></md-datepicker>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Fecha de expedición del acta</label>
                                    <md-datepicker ng-model="sLactaTerminacionAnticipada.f_expedicion_acta"
                                        md-placeholder="Ingrese fecha"></md-datepicker>
                                </div>
                            </div>
                            <div class="row" style="border: 0px solid;"></div>
                            <div class="col-xs-12 col-md-6">
                                <label>{{'NUMERO_OFICIO_SUPERVISOR' | translate}}*</label>
                                <md-input-container style="margin:0;">
                                    <input type="text" id="numero_oficio_supervisor"
                                        aria-label="numero_oficio_supervisor" name="numero_oficio_supervisor"
                                        ng-model="sLactaTerminacionAnticipada.numero_oficio_supervisor">
                                    <div ng-messages="formTerminacion.solicitud.$error">
                                        <div ng-message="required">{{'CAMPO_REQUERIDO' | translate}}</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <label>{{'FECHA_OFICIO_SUPERVISOR' | translate}}</label>
                                <md-datepicker ng-model="sLactaTerminacionAnticipada.fecha_oficioS"
                                    md-max-date="sLactaTerminacionAnticipada.f_hoy"></md-datepicker>
                            </div>
                            <div class="row" style="border: 0px solid;"></div>
                            <div class="col-xs-12 col-md-6">
                                <label>{{'NUMERO_OFICIO_ORDENADOR' | translate}}*</label>
                                <md-input-container style="margin:0;">
                                    <input type="text" id="numero_oficio_ordenador" aria-label="numero_oficio_ordenador"
                                        name="numero_oficio_ordenador"
                                        ng-model="sLactaTerminacionAnticipada.numero_oficio_ordenador">
                                    <div ng-messages="formTerminacion.numero_oficio_ordenador.$error">
                                        <div ng-message="required">{{'CAMPO_REQUERIDO' | translate}}</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <label>{{'FECHA_OFICIO_ORDENADOR' | translate}}</label>
                                <md-datepicker ng-model="sLactaTerminacionAnticipada.fecha_oficioO"
                                    md-max-date="sLactaTerminacionAnticipada.f_hoy"></md-datepicker>
                            </div>
                            <div class="row" style="border: 0px solid;"></div>
                            <div class="col-xs-12 col-md-6">
                                <label for="fechaterminacion">{{'FECHA_TERMINACION_ANTICIPADA' |
                                    translate}} (Último día trabajado):</label> <br>
                                <md-datepicker ng-model="sLactaTerminacionAnticipada.fecha_terminacion_anticipada"
                                    md-min-date="sLactaTerminacionAnticipada.fecha_lim_inf"
                                    md-max-date="sLactaTerminacionAnticipada.fecha_lim_sup">
                                </md-datepicker>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <label for="fechaterminacion">Fecha certificación</label><br>
                                <md-datepicker ng-model="sLactaTerminacionAnticipada.f_certificacion">
                                </md-datepicker>
                            </div>
                            <div class="row" style="border: 0px solid;"></div><br>
                            <div class="form-group col-md-6">
                                <label style="width:100%;">
                                    {{'VALOR_DESEMBOLSADO' | translate}} *:
                                </label>
                                <br>
                                <md-input-container style="margin:0;">
                                    <input type="text" name="valor_desembolsado" aria-label="valor_desembolsado"
                                        ng-model="sLactaTerminacionAnticipada.valor_desembolsado"
                                        id="valor_desembolsado" ng-keyup="formato_valores_terminacion($event, 1)"
                                        min="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                        required>
                                    <div ng-messages="formTerminacion.valor_desembolsado.$error">
                                        <div ng-message="required">{{'CAMPO_REQUERIDO' | translate}}</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div class="row" style="border: 0px solid;">

                                <!-- <div class="form-group col-md-6">
                                    <label style="width:100%;">
                                        {{'SALDO_A_FAVOR' | translate}} *:
                                    </label>
                                    <md-input-container style="margin:0;">
                                        <select name="a_favor_de" class="form-control"
                                            ng-model="sLactaTerminacionAnticipada.a_favor_de">
                                            <option value="">--- Selecione una opción ---</option>
                                            <option value="Universidad">Universidad Distrital</option>
                                            <option value="Contratista">Contratista</option>
                                        </select><br>
                                        <div ng-messages="formTerminacion.saldo_universidad.$error">
                                            <div ng-message="required">{{'CAMPO_REQUERIDO' | translate}}</div>
                                        </div>
                                    </md-input-container>
                                </div> -->
                            </div>
                            <div class="form-group col-md-6 contratista_check">
                                <label style="width:100%;">
                                    {{'SALDO_A_FAVOR_CONTRATISTA' | translate}} *:
                                </label>
                                <md-input-container style="margin:0;">
                                    <input type="text" name="saldo_contratista" aria-label="saldo_contratista"
                                        ng-model="sLactaTerminacionAnticipada.saldo_contratista" id="saldo_contratista"
                                        ng-keyup="formato_valores_terminacion($event, 2)" min="1"
                                        onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                                </md-input-container>
                            </div>
                            <div class="form-group col-md-6 universidad_check">
                                <label style="width:100%;">
                                    {{'SALDO_A_FAVOR_UNIVERSIDAD' | translate}} *:
                                </label>
                                <md-input-container style="margin:0;">
                                    <input type="text" name="saldo_universidad" aria-label="saldo_universidad"
                                        ng-model="sLactaTerminacionAnticipada.saldo_universidad" id="saldo_universidad"
                                        ng-keyup="formato_valores_terminacion($event, 3)" min="1"
                                        onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                                </md-input-container>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <label class="checkbox-inline"><input type="checkbox"
                                        ng-model="nueva_clausula"><b>Cláusula
                                        adicional</b></label>
                            </div>
                            <div class="col-xs-12 col-md-12">
                                <textarea ng-if="nueva_clausula" style="height: 100px;" class="form-control"
                                    id="nueva_clausula" ng-model="sLactaTerminacionAnticipada.nueva_clausula_text"
                                    rows="3" maxlength="500" placeholder="NUEVA CLÁUSULA"></textarea><br>
                            </div>
                            <div class="row" style="border: 0px solid;">
                                <div class="col-xs-12 col-md-12">
                                    <label for="verDoc">Previsualización del documento</label>
                                    <br><br>
                                    <md-input-container style="margin:0;">
                                        <input type="number"  id="tamano_fuente" name="tamano_fuente"
                                            ng-model="sLactaTerminacionAnticipada.tamanoFuente" min="1" max="30"
                                            placeholder="tamaño fuente general">
                                    </md-input-container>
                                    <md-button class="md-icon-button" ng-click="sLactaTerminacionAnticipada.verDocumento()">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </md-button>
                                </div>
                            </div>
                            <!-- <div class="row">


                            </div> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <center><button class="btn btn-primary btn-lg"
                ng-click="sLactaTerminacionAnticipada.generarActa()">{{'CREAR_NOVEDAD_TERMINACION_ANTICIPADA' |
                translate}}</button>
        </center>
    </div>
    <br>
    <br>
    <br>
</div>