<!--<div class="panel panel-primary panel-body">-->

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-12">
          <h3 class="page-header">{{ 'NECESIDAD' | translate }} {{d_visualizarNecesidad.v_necesidad.NumeroElaboracion}} de {{d_visualizarNecesidad.v_necesidad.Vigencia}}
          <span class="pull-right text-info">{{d_visualizarNecesidad.v_necesidad.Estado.Nombre}}</span></h3>
        </div>

        <div class="col-md-7"><span>{{d_visualizarNecesidad.v_necesidad.ModalidadSeleccion.Nombre}}</span> </div>
        <div class="col-md-5" align="right"><span>{{d_visualizarNecesidad.v_necesidad.FechaSolicitud | date:'dd-MMM-yyyy'}}</span></div>
      </div>

    </div>
    <div class="panel-body">

      <cite class="text-info pull-right">Numero Elaboración: {{d_visualizarNecesidad.v_necesidad.NumeroElaboracion}}</cite>

      <h3>Objeto</h3>
        <p class="text-muted text-justify">
          {{d_visualizarNecesidad.v_necesidad.Objeto}}
        </p>
      <h3>Justificacion</h3>
      <p class="text-muted text-justify">
        {{d_visualizarNecesidad.v_necesidad.Justificacion}}
      </p>
      <h3>Analisis de Riesgos</h3>
      <p class="text-muted text-justify">
        {{d_visualizarNecesidad.v_necesidad.AnalisisRiesgo}}
      </p>
      <h3>Estudio de Mercado</h3>
      <p class="text-muted text-justify">
        {{d_visualizarNecesidad.v_necesidad.EstudioMercado}}
      </p>

        <h3>Marco Legal</h3>
        <p class="text-muted text-justify">
          <li ng-repeat="doc in d_visualizarNecesidad.marco_legal">{{doc.MarcoLegal.NombreDocumento}}</li>
        </p>
      </div>


      </div>
    </div>


  </div>

<!--</div>-->
