<br>
<div class="panel panel-default">
  <h3 class="page-header text-center">{{ 'GENERACION_MINUTA' | translate }}</h3>
  <div class="row">
    <!-- información minuta -->
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="intro-text text-center">{{ 'FORMATO_MINUTA' | translate }}</h4>
        </div>
        <div class="panel-body">
          <form role="form">
            <div class="col-lg-12">
              <button type="button" ng-click="generacionPlantilla.llenarUiGrid()" data-toggle="modal" data-target="#modal_plantilla_existente" class="btn btn-outline btn-primary btn-lg btn-block" >{{ 'PLANTILLA_EXISTENTE' | translate }}</button><br>
              <div class="form-group col-lg-6">
                <label for="inputTitulo">{{ 'TITULO_MINUTA' | translate }}</label>
                <input type="text" id="inputTitulo" class="form-control" ng-model="generacionPlantilla.contenidoMinuta.Titulo">
              </div>
              <div class="form-group col-lg-6">
                <label>{{ 'DEPENDENCIA_SOLICITANTE' | translate }}</label>
                <input type="text" class="form-control" ng-model="generacionPlantilla.contenidoMinuta.IdDependencia.Nombre" disabled >
              </div>
              <div class="form-group col-lg-6">
                <label>{{ 'UNIDAD_EJECUTORA' | translate }}</label>
                <input type="text" class="form-control" ng-model="generacionPlantilla.contenidoMinuta.IdUnidadEjecutora.Nombre" disabled >
              </div>
              <div class="form-group col-lg-6">
                <label>{{ 'TIPO_CONTRATO' | translate }}</label>
                <select data-ng-options="o.TipoContrato for o in generacionPlantilla.tipoContrato" class="form-control" data-ng-model="generacionPlantilla.singleTipoContrato" >
                </select>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group col-lg-12">
                <label>{{ 'INTRODUCCION' | translate }}</label>
                <textarea rows="12" class="form-control" ng-model="generacionPlantilla.contenidoMinuta.Introduccion"></textarea>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group col-lg-12">
                <label>{{ 'CONSIDERACION' | translate }}</label>
                <textarea rows="13" class="form-control" ng-model="generacionPlantilla.contenidoMinuta.Consideracion"></textarea>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group col-lg-12">
                <label for="inputEncabezado" style="float:left; margin-top:10px;">{{ 'ENCABEZADO_MINUTA' | translate }}</label>
                <texto-enriquecido texto="generacionPlantilla.encabezado"></texto-enriquecido>
                Insertar imagen: <input type="file" ngf-select="" ng-model="generacionPlantilla.imagenEncabezado" name="file" ngf-accept="'image/*'" required="">
                <img ngf-src="generacionPlantilla.imagenEncabezado" class="thumb" style="width:70px; height:70px;">
                <button type="button" ng-if="generacionPlantilla.imagenEncabezado" ng-click="generacionPlantilla.imagenEncabezado=null" class="btn btn-danger btn-outline">{{'BTN_MINUTAS.BORRAR' | translate}}</button>
                <span class="progress" ng-show="generacionPlantilla.imagenEncabezado.progress >= 0">
                  <div style="width:{{generacionPlantilla.imagenEncabezado.progress}}%" ng-bind="generacionPlantilla.imagenEncabezado.progress + '%'" class="ng-binding"></div>
                </span>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="from-group col-sm-12">
                <label for="inputPieDePagina" style="float:left; margin-top:10px;">{{ 'PIE_MINURA' | translate }}</label>
                <texto-enriquecido texto="generacionPlantilla.pieDePagina"></texto-enriquecido>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- información minuta -->

    <!-- clausulas y paragrafos -->
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="intro-text text-center">{{ 'RESUELVE' | translate }}</h4>
        </div>
        <div class="panel-body">
          <div class="col-lg-12" ng-repeat="i in generacionPlantilla.getCantidad(generacionPlantilla.contenidoMinuta.Clausulas)">
            <legend class="text-primary" ng-click="info_articulo=!info_articulo">{{ 'CLAUSULA' | translate }} {{ i+1 }} - {{ generacionPlantilla.contenidoMinuta.Clausulas[i].Titulo }}<span class="fa fa-plus pull-right" ng-show="!info_articulo"></span> <span class="fa fa-minus pull-right" ng-show="info_articulo"></span></legend>
            <div class="panel panel-default" ng-show="info_articulo">
              <div class="panel-body">
                <form role="form">
                  <div class="form-group col-lg-6">
                    <label>{{ 'TEXTO' | translate }}</label>
                    <div ta-bind ng-model="generacionPlantilla.contenidoMinuta.Clausulas[i].Texto"></div>
                  </div>
                  <div class="col-lg-10 col-lg-offset-1">
                    <button class="form-control btn btn-danger" data-toggle="modal" ng-click="generacionPlantilla.eliminarClausula(i)">{{'BTN_MINUTAS.ELIMINAR_CLAUSULA' | translate}}</button>
                  </div>
                  <div class="form-group col-lg-12 row">
                    <div class="form-group col-lg-6" ng-repeat="j in generacionPlantilla.getCantidad(generacionPlantilla.contenidoMinuta.Clausulas[i].Paragrafos)"><br>
                      <label>{{ 'PARAGRAFO' | translate }}{{j+1}}</label>
                      <div ta-bind ng-model="generacionPlantilla.contenidoMinuta.Clausulas[i].Paragrafos[j].Texto"></div>
                      <div class="col-lg-12">
                        <input type="submit" class="form-control btn-danger " ng-click="generacionPlantilla.eliminarParagrafo(i,j)" value="Eliminar paragrafo">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <button class="form-control btn btn-primary" data-toggle="modal" data-target="#modal_add_paragrafo" ng-click="generacionPlantilla.idClausula = i">{{'BTN_MINUTAS.AGREGAR_PARAGRAFO' | translate}}</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
              <button class="form-control btn btn-primary" data-toggle="modal" data-target="#modal_add_clausula">{{'BTN_MINUTAS.AGREGAR_CLAUSULA' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Clausulas y paragrafos -->
    <div class="col-lg-12">
      <button type="button" class="btn btn-info btn-lg btn-md btn-block" style="border-radius: 0px" ng-click="generacionPlantilla.mostrarModal()">{{ 'BTN_MINUTAS.VISTA_PREVIA' | translate }}</button>
    </div>
  </div>
</div>
<div class="col-sm-2 col-lg-offset-6" style="margin:20px;">
  <button type="button" class="btn btn-md btn-success btn-block">{{'BTN_MINUTAS.GUARDAR' | translate}}</button>
</div>

<!-- modal clausulas -->
<div id="modal_add_clausula" class="modal fade col-md-12" role="dialog" style="padding-top:5%">
  <div class="modal-content col-md-offset-1 col-md-10">
    <form id="myForm" data-toggle="validator" role="form">
      <div class="modal-header">
        <h3 class="modal-title" style="float:left;">{{ 'BTN_MINUTAS.AGREGAR_CLAUSULA' | translate }}</h3>
        <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal">&times</button><br>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <label for="tituloClausula"> Titulo: </label>
            <input type="text" id="tituloClausula" class="form-control" ng-model="generacionPlantilla.tituloClausula" required>
          </div>
          <div class="col-sm-12 row form-group" style="margin-top: 20px;">
            <label for="descripcion" class="col-sm-4 col-form-label">{{'DESCRIPCION' | translate }}: </label>
            <div class="col-sm-12">
              <texto-enriquecido class="col-sm-8" texto="generacionPlantilla.textoClausula"></texto-enriquecido>
              <div class="col-sm-2" style="padding-top:10px;">
                <ul class="list-group" ng-repeat="v in generacionPlantilla.variables">
                  <li class="list-group-item" ng-click="generacionPlantilla.agregarVariable(v.Nombre)">{{v.Nombre}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" name="button" class="btn btn-success btn-outline" ng-click="generacionPlantilla.agregarClausula()">{{ 'ACEPTAR' | translate }}</button>
        <button type="button" class="btn btn-outline btn-danger" data-dismiss="modal" ng-click="generacionPlantilla.limpiarModal()">{{ 'CANCELAR' | translate }}</button>
      </div>
    </div>
  </form>
</div>
<!-- modal clausulas -->

<!-- modal paragrafos -->
<div id="modal_add_paragrafo" class="modal face col-md-12" role="dialog" style="padding-top:5%">
  <div class="modal-content col-md-offset-1 col-md-10">
    <form id="formParagrafo">
      <div class="modal-header">
        <h3 class="modal-title">{{ 'BTN_MINUTAS.AGREGAR_PARAGRAFO' | translate }}</h3>
        <button type="button" class="btn btn-outline btn-danger gtn-xs pull-right" data-dismiss="modal">&times</button><br>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 row form-group" style="margin-top: 20px;">
            <label for="descripcion" class="col-sm-4 col-form-label">{{'DESCRIPCION' | translate }}: </label>
            <texto-enriquecido texto="generacionPlantilla.textoParagrafo"></texto-enriquecido>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" name="button" class="btn btn-success btn-outline" ng-click="generacionPlantilla.adicionarParagrafo()">{{ 'ACEPTAR' | translate }}</button>
        <button type="button" class="btn btn-outline btn-danger" data-dismiss="modal" ng-click="generacionPlantilla.limpiarModal()">{{ 'CANCELAR' | translate }}</button><br>
      </div>
    </form>
  </div>
</div>
<!-- modal paragrafos -->

<!-- modal vista previa -->
<div id="modal_vista_previa" class="modal face col-md-12" role="dialog">
  <div class="modal-content col-md-offset-1 col-md-10">
    <form id="formParagrafo">
      <div class="modal-header">
        <div class="row">
          <h3 class="modal-title" style="float:left;">{{ 'BTN_MINUTAS.VISTA_PREVIA' | translate }}</h3>
          <button type="button" class="btn btn-outline btn-danger gtn-xs pull-right" data-dismiss="modal">&times</button><br>
        </div>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row col-lg-12">
            <div class="col-md-5">
              <h4>{{ 'MARGENES' | translate }}</h4>
              <div class="form-group col-md-12">
                <label for="inputMargRight">{{ 'IZQUIERDA' | translate }}</label>
                <input type="number" class="form-control" id="inputMargRight" ng-model="generacionPlantilla.margenIzquierda">
              </div>
              <div class="form-group col-md-12">
                <label for="inputMargLeft">{{ 'DERECHA' | translate }}</label>
                <input type="number" class="form-control" id="inputMargLeft" ng-model="generacionPlantilla.margenDerecha">
              </div>
              <div class="form-group col-lg-12">
                <label for="inputMargTop">{{ 'SUPERIOR' | translate }}</label>
                <input type="number" class="form-control" id="inputMargTop" ng-model="generacionPlantilla.margenSuperior">
              </div>
              <div class="form-group col-lg-12">
                <label for="inputMargButtom">{{ 'INFERIOR' | translate }}</label>
                <input type="number" class="form-control" id="inputMargButtom" ng-model="generacionPlantilla.margenInferior">
              </div>
            </div>
            <div class="col-lg-7">
              <iframe id="pdfV" style="width:100%; height:350px;" > </iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button ng-click="generacionPlantilla.crearPdf(1)" type="submit" class="form-control btn-primary">{{ 'BTN_MINUTAS.VISTA_PREVIA_ACTUALIZADA' | translate }}</button>
      </div>
    </form>
  </div>
</div>
<!-- modal vista previa -->

<!-- modal plantilla existente -->
<div id="modal_plantilla_existente" class="modal fade" role="dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" name="btn btn-outline btn-danger gtn-xs pull-right" data-dismiss="modal">&times</button><br>
    </div>
    <div class="col-sm-12 row form-group">
      <table style="width:100%;">
        <td>
          <div ui-grid="generacionPlantilla.gridOptions" class="myGrid"></div>
        </td>
      </tr>
    </table>
  </div>
</div>
</div>
<!-- modal plantilla existente -->
