<br>
<div class="panel panel-default">
  <div class="panel-body">
    <center><h3 class="page-header"> {{ 'GESTION_PLANTILLAS' | translate }} </h3></center>
    <div class="col-sm-4 col-sm-offset-7">
      <div class="form-group row">
        <div class="col-sm-4">
            <label for="selectEstado"> {{ 'FILTRAR_POR' | translate }} </label>
        </div>
        <div class="col-sm-8">
          <select id="selectEstado" class="form-control" ng-model="listaPlantillas.opcionFiltro" ng-change="listaPlantillas.cambiarFiltro()">
            <option ng-repeat="o in listaPlantillas.opcionesFiltro" value="{{ o }}">{{ o }}</option>
          </select>
        </div>
      </div>
    </div>
    <table style="width:90%;" align="center">
      <tr>
        <td>
          <div ui-grid="listaPlantillas.gridOptions" class="myGrid"></div>
        </td>
    </tr>
  </table>
  <div class="col-md-4 col-md-offset-4" style="margin-top:20px;">
    <center><a ng-href="#/plantillas/generacion_minuta"><button type="button" class="btn btn-outline btn-primary btn-lg btn-block"> {{ 'REGISTRAR_PLANTILLA' | translate }} </button></a></center>
  </div>
</div>
<div class="panel-footer">
</div>
</div>
