<br>
<div class="panel panel-default">
    <div class="panel panel-body">
        <p>
        <div class="centrado">
            <center>
                <h3>
                    <b>{{'SEGUIMIENTO_LEGAL' | translate}}</b>
                </h3>
            </center>
            <hr>
            <div class="col-md-12" style="padding-left:25px;" ng-if="sLegal.rolActual=='CONTRATISTA'">
                <label for="boton_novedad">{{'SELECCIONE_UNA_NOVEDAD' | translate}}</label>
                <br>
                <div class="btn-group" ng-if="sLegal.estado_resultado_response == true">
                    <button type="button" id="boton_novedad" class="btn btn-primary dropdown-toggle"
                        data-toggle="dropdown">
                        {{'NOVEDADES' | translate}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-if="sLegal.estado_contrato_obj.estado == 4 && sLegal.novedadEnCurso == false">
                            <a ng-click="sLegal.crearSolicitud()">Solicitud de suspensión</a>
                        </li>
                        <li ng-if="sLegal.estado_contrato_obj.estado == 2 && sLegal.novedadEnCurso == false">
                            <a ng-click="sLegal.crearSolicitud()">Solicitud de reinicio</a>
                        </li>
                        <li ng-if="sLegal.estado_contrato_obj.estado == 4 && sLegal.novedadEnCurso == false">
                            <a ng-click="sLegal.crearSolicitud()">Solicitud de cesión</a>
                        </li>
                    </ul>
                    </select>
                </div>
                <div class="btn-group" ng-if="sLegal.estado_resultado_response == 0">
                    <button type="button" id="boton_novedad" class="btn btn-success dropdown-toggle"
                        data-toggle="dropdown" ng-disabled="true">
                        {{'NOVEDADES' | translate}}
                        <span class="caret"></span>
                    </button>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 center">
                <div class=" panel panel-default">
                    <div class="panel-heading center">
                        <center>
                            <h4>
                                <b>Novedades en proceso</b>
                            </h4>
                        </center>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    <center>Tipo Novedad</center>
                                </th>
                                <th>
                                    <center>Fecha creacion</center>
                                </th>
                                <th>
                                    <center>Estado</center>
                                </th>
                                <th>
                                    <center>Acciones</center>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="novedad in novedadesTabla | limitTo:numLimit:start">
                                <td>
                                    <center>{{ novedad.tipoNovedad }}</center>
                                </td>
                                <td class="text-center"
                                    ng-bind="formatDate(novedad.fecha) |  date:'yyyy-MM-dd H:mm:ss' : 'UTC'">
                                </td>
                                <td>
                                    <center>{{ novedad.estado }}</center>
                                </td>
                                <td>
                                    <center>{{ documento.estado }}</center>
                                </td>
                                <td>
                                    <!-- <center>
                                        <md-button class="md-icon-button" ng-click="verDocumento(novedad.enlace)"
                                            ng-disabled="novedad.enlace == ''">
                                            <span class="glyphicon glyphicon-eye-open"></span>
                                        </md-button>
                                    </center> -->
                                </td>
                            </tr>
                            <!-- <tr>
                            <td colspan="5"><span style="padding:5px">{{numLimit}} registros por
                                    pagina</span> <span style='text-align: center'>Pagina#
                                    {{currentPage}}
                                    de {{pages}}</span>
                                <span style="float:right;padding:5px"><a ng-hide="hidePrev()"
                                        href="" ng-click="PrevPage()">Prev</a></span>
        
                                <span style="float:right;padding:5px"><a ng-hide="hideNext()"
                                        href="" ng-click="nextPage()">Next</a></span>
                            </td>
                        </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>