  <div class="col-md-12">
      <center><h3>{{'SEGUIMIENTO_FINANCIERO' | translate}}</h3></center>
      <br>
        <div class="col-md-2 col-md-offset-3">
          <div ng-if="vigenciaModel=== null">
            <label>{{'VIGENCIA_ACTUAL' | translate}} <b>2017</b> </label>
          </div>
          <div ng-if="vigenciaModel !== null">
            <label>{{'VIGENCIA_SELECCIONADA' | translate}}<b>{{vigenciaModel}}</b> </label>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-3" align="right">
            <label>{{'SELECCIONE_UNA_VIGENCIA' | translate}}</label>
          </div>
          <div class="col-md-2">
            <select class="form-control" ng-change="sFinanciero.buscar_contratos_vigencia()" ng-model="vigenciaModel">
              <option ng-repeat="vigencia in vigencias">{{vigencia}}</option>
            </select>
          </div>
        </div>
    </div>

      <div align="center" class="col-md-10 col-md-offset-1">
        <br>
        <div ng-if="sFinanciero.gridOptions.data.length">
            <div ui-grid="sFinanciero.gridOptions" ui-grid-selection class="myGrid col-md-11">            
            </div>
            <div class="col-md-1">
                <br><br>
            </div>
            
            <div class="col-md-12">
            <button ng-click="sFinanciero.mostrar_estadisticas()"  class="btn btn-primary btn-lg " ng-disabled="sFinanciero.saving"> <i class="" ng-show="sFinanciero.saving"></i>
              {{'VER_SEGUIMIENTO_FINANCIERO' | translate }}
            </button>
            </div>

            <div class="col-md-12">
                <br><br>
            </div>

        </div>
        <br>
        
        <div class="well grid-loading" ng-if="!sFinanciero.gridOptions.data.length">
          <h2><i class="fa fa-spin fa-spinner"></i>
            <strong>{{'CARGANDO_DATOS' | translate}}...</strong>
            </h2>
        </div>
      </div>
