<br>
<div class="panel panel-default">
  <div class="panel-body">
          <center><h3>{{'SEGUIMIENTO_FINANCIERO' | translate}}</h3></center>
    <div class="panel panel-body">
      <br />
      <div class="row">
        <div class="col-md-2 col-md-offset-3">
          <div ng-if="vigenciaModel=== null">
            <label>{{'VIGENCIA_ACTUAL' | translate}} <b>2017</b> </label>
          </div>
          <div ng-if="vigenciaModel !== null">
            <label>{{'VIGENCIA_SELECCIONADA' | translate}}<b>{{vigenciaModel}}</b> </label>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-3" align="right">
            <label>{{'SELECCIONE_UNA_VIGENCIA' | translate}}</label>
          </div>
          <div class="col-md-2">
            <select class="form-control" ng-change="sFinanciero.buscar_contratos_vigencia()" ng-model="vigenciaModel">
              <option ng-repeat="vigencia in vigencias" >{{vigencia}}</option>
            </select>
          </div>

        </div>
      </div>
      <br>

      <table style="width:70%;" align="center">
        <tr>
          <td>
            <div ui-grid="sFinanciero.gridOptions" ui-grid-selection class="myGrid">
              <div class="well grid-loading" ng-show="sFinanciero.longitud_grid == 0">
                  <i class="fa fa-spin fa-spinner"></i>
                <strong>{{'CARGANDO_DATOS' | translate}}...</strong>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td align="center">
            <br><br>
            <button ng-click="sFinanciero.mostrar_estadisticas()"  class="btn btn-primary btn-lg " ng-disabled="sFinanciero.saving"> <i class="" ng-show="sFinanciero.saving"></i>
              {{'BTN.VER_SEGUIMIENTO_FINANCIERO' | translate }}
            </button>
          </td>
        </tr>
      </table>
    </div>
    </div>
</div>
