<br>
<div class="panel panel-default">
    <div class="panel panel-body">
        <p>
            <div class="centrado">
                <center>
                    <h3>
                        <b>{{'SEGUIMIENTO_LEGAL' | translate}}</b>
                    </h3>
                </center>
                <hr>
                <div style="float:left;margin-bottom:2%;width:100%">
                    <div class="row" style="border:0px solid;">
                        <div class="col-sm-12 col-md-5">
                            <div class="form-group col-md-12">
                                <p style="margin:0; display:inline-block; width:40%;">
                                    <b>{{'NUMERO_CONTRATO' | translate}} *:</b>
                                </p>
                                <md-input-container style="margin:0; display:inline-block; width:40%;">
                                    <input type="number" id="contrato_id" name="contrato_id" required ng-model="sLegal.contrato_id" ng-disabled="false" min="0">
                                    <div ng-messages="formLegal.contrato_id.$error">
                                        <div ng-message="required">{{'CAMPO_REQUERIDO' | translate}}</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div class="form-group col-md-12">
                                <p style="margin:0; display:inline-block; width:40%;">
                                    <b>{{'VIGENCIA_CONTRATO' | translate}} *:</b>
                                </p>
                                <select class="form-control" ng-model="sLegal.contrato_vigencia" style="margin:0; display:inline-block; width:40%;">
                                    <option ng-repeat="vigencia in vigencias">{{vigencia}}</option>
                                </select>
                            </div>
                            <div class="col-md-12 form-group">
                                <button class="btn btn-primary dropdown-toggle" ng-click="sLegal.buscar_contrato()">
                                    {{'BTN.BUSCAR' | translate}}
                                    {{'NUMERO_CONTRATO' | translate}}
                                </button>
                                <hr style="border-bottom:1px solid #cecdcc;">
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="padding-left:25px;">
                                    <label for="boton_novedad">{{'SELECCIONE_UNA_NOVEDAD' | translate}}</label>
                                    <br>
                                    <div class="btn-group" ng-if="sLegal.estado_resultado_response == true">
                                        <button type="button" id="boton_novedad" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                            {{'NOVEDADES' | translate}}
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li ng-if="sLegal.estado_contrato_obj.estado == 4">
                                                <a href="#/seguimientoycontrol/legal/acta_adicion_prorroga/{{sLegal.contrato_id}}/{{sLegal.contrato_vigencia}}">{{'CREAR_NOVEDAD_ADICION_PRORROGA' | translate}}</a>
                                            </li>
                                            <li ng-if="sLegal.estado_contrato_obj.estado == 10">
                                                <a href="#/seguimientoycontrol/legal/acta_inicio/{{sLegal.contrato_id}}/{{sLegal.contrato_vigencia}}">{{'AGREGAR_POLIZA' | translate}}</a>
                                            </li>
                                            <li ng-if="sLegal.estado_contrato_obj.estado == 4">
                                                <a href="#/seguimientoycontrol/legal/acta_suspension/{{sLegal.contrato_id}}/{{sLegal.contrato_vigencia}}">{{'CREAR_NOVEDAD_SUSPENSION' | translate}}</a>
                                            </li>
                                            <li ng-if="sLegal.estado_contrato_obj.estado == 2">
                                                <a href="#/seguimientoycontrol/legal/acta_reinicio/{{sLegal.contrato_id}}/{{sLegal.contrato_vigencia}}">{{'CREAR_NOVEDAD_REINICIO' | translate}}</a>
                                            </li>
                                            <li ng-if="sLegal.estado_contrato_obj.estado == 4">
                                                <a href="#/seguimientoycontrol/legal/acta_cesion/{{sLegal.contrato_id}}/{{sLegal.contrato_vigencia}}">{{'CREAR_NOVEDAD_CESION' | translate}}</a>
                                            </li>
                                            <li ng-if="sLegal.estado_contrato_obj.estado == 4">
                                                <a href="#/seguimientoycontrol/legal/acta_terminacion_liquidacion_bilateral/{{sLegal.contrato_id}}/{{sLegal.contrato_vigencia}}">{{'CREAR_NOVEDAD_TERMINACION_BILATERAL' | translate}}</a>
                                            </li>
                                        </ul>
                                        </select>
                                    </div>
                                    <div class="btn-group" ng-if="sLegal.estado_resultado_response == 0">
                                        <button type="button" id="boton_novedad" class="btn btn-success dropdown-toggle" data-toggle="dropdown" ng-disabled="true">
                                        {{'NOVEDADES' | translate}}
                                        <span class="caret"></span>
                                    </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="padding-left:25px;" ng-if="sLegal.estado_resultado_response == true">
                                    <label for="boton_novedad">{{'LISTA_NOVEDADES' | translate}}</label>
                                    <br>
                                    <div>
                                        <!-- <select name="select" class="form-control" ng-model="documentoSelect" ng-options="documento as documento.label for documento in documentos track by documento.idDocumento" ng-change="sLegal.buscar_documento()">
                                          <option value="">--- Selecione ---</option>
                                        </select> -->
                                        <!-- <select class="form-control" ng-model="sLegal.documentoSelect" ng-change="sLegal.buscar_documento()">
                                        <option ng-repeat="documento in documentos">{{documento.label}}</option>
                                    </select> -->
                                        <select name="select" class="form-control" ng-model="sLegal.documentoSelect" ng-options="documento as documento.label for documento in documentos" ng-change="sLegal.buscar_documento()">
                                    </select>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <div class=" panel panel-default">
                                <div class="panel-heading">
                                    <center>
                                        <h4>
                                            <b>{{'INFORMACION' | translate}}</b>
                                        </h4>
                                    </center>
                                </div>
                                <div class="panel-body" style="text-align:left;" ng-if="sLegal.estado_resultado_response == true">
                                    <div class="row">
                                        <div class="col-sm-4 col-md-3">
                                            <b>{{'NUMERO_CONTRATO' | translate}}</b>
                                        </div>
                                        <div class="col-sm-8 col-md-9">
                                            <p>{{sLegal.contrato_obj.numero_contrato}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 col-md-3">
                                            <b>{{'CONTRATANTE' | translate}}</b>
                                        </div>
                                        <div class="col-sm-8 col-md-9">
                                            <p>{{'UNIVERSIDAD_NOMBRE' | translate}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 col-md-3">
                                            <b>{{'CONTRATISTA' | translate}}</b>
                                        </div>
                                        <div class="col-sm-8 col-md-9" ng-if="sLegal.contrato_obj.contratista_documento != null">
                                            <p>
                                                {{sLegal.contrato_obj.contratista_nombre}}
                                                <br>
                                                <span style="color:#555; font-size:14px;">
                                            {{sLegal.contrato_obj.contratista_documento}}
                                        </span>
                                            </p>
                                        </div>
                                        <div class="col-sm-8 col-md-9" ng-if="sLegal.contrato_obj.contratista_documento == null">
                                            <p>{{'NO_REGISTRA' | translate}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 col-md-3">
                                            <b>{{'OBJETO' | translate}}</b>
                                        </div>
                                        <div class="col-sm-8 col-md-9" ng-if="sLegal.contrato_obj.objeto != null">
                                            <p>{{sLegal.contrato_obj.objeto}}</p>
                                        </div>
                                        <div class="col-sm-8 col-md-9" ng-if="sLegal.contrato_obj.objeto == null">
                                            <p>{{'NO_REGISTRA' | translate}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 col-md-3">
                                            <b>{{'VALOR_CONTRATO' | translate}}</b>
                                        </div>
                                        <div class="col-sm-8 col-md-9">
                                            <p>{{sLegal.contrato_obj.valor | currency}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>
