<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Sistema de Gestión Administrativa</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <script defer src="./core/scripts/64b53ddd5b.js"></script>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/angular-tree-control/css/tree-control.css" />
    <link rel="stylesheet" href="bower_components/sweetalert2/dist/sweetalert2.css" />
    <link rel="stylesheet" href="bower_components/vis/dist/vis.css" />
    <link rel="stylesheet" href="bower_components/font-awesome-animation/dist/font-awesome-animation.css" />
    <link rel="stylesheet" href="bower_components/font-awesome-animation/dist/font-awesome-animation.min.css" />
    <link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-select/dist/css/bootstrap-select.css" />
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <link rel="stylesheet" href="bower_components/select2/select2.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-fileinput/css/fileinput.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <!-- <link rel="stylesheet" href="styles/estilo-cdve.css">
    <link rel="stylesheet" href="styles/custom.css">
    <link rel="stylesheet" href="styles/table-demo.css">
    <link rel="stylesheet" href="styles/timeline.css">
    <link rel="stylesheet" href="styles/loading-bar.css">
    <script type="text/javascript" src="http://visjs.org/dist/vis.js"></script>
    <link href="http://visjs.org/dist/vis.css" rel="stylesheet" type="text/css"> -->
    <link rel="stylesheet" href="styles/custom.css">
    <!-- endbuild -->
    <!-- <link rel="stylesheet" href="https://s3.amazonaws.com/assets-oas/sb-admin-2.css">
    <link rel="stylesheet" href="https://s3.amazonaws.com/assets-oas/oas-style.css"> -->
    <link rel="stylesheet" href="styles/custom.css">
    <link rel="stylesheet" href="core/css/steeper.css">
    <link rel="stylesheet" href="core/css/core.css">
    <link rel="stylesheet" href="core/footer/footer.css">
    <link rel="stylesheet" href="core/header/header.css">
    <link rel="stylesheet" href="core/menu-lateral/menu-lateral.css">
    <link rel="stylesheet" href="core/menu-aplicaciones/menu-aplicaciones.css">
    <link rel="stylesheet" href="core/notificaciones/notificaciones.css">
    <link rel="stylesheet" href="core/css/ui-grid.css">
    <link rel="stylesheet" href="https://pruebasassets.portaloas.udistrital.edu.co/gaia-style.css">
    <!-- nix-style.css, gaia-style.css, athenea-style.css y urano-style.css -->
    <link rel="stylesheet" href="https://pruebasassets.portaloas.udistrital.edu.co/oas-style.css">
    <link rel="stylesheet" href="https://pruebasassets.portaloas.udistrital.edu.co/logo-stylus.css">
    <link rel="stylesheet" href="https://pruebasassets.portaloas.udistrital.edu.co/logo-info.css">
    <link rel="stylesheet" href="https://pruebasassets.portaloas.udistrital.edu.co/isotipo-header.css">
    <link rel="stylesheet" href="https://pruebasassets.portaloas.udistrital.edu.co/logo-header.css">

</head>

<body ng-app="contractualClienteApp">

    <div ng-controller="headerCtrl">
        <div ng-if="!isLogin" id="nb-global-spinner" class="spinner">
            <div class="blob blob-0"></div>
            <div class="blob blob-1"></div>
            <div class="blob blob-2"></div>
            <div class="blob blob-3"></div>
            <div class="blob blob-4"></div>
            <div class="blob blob-5"></div>
        </div>
        <div ng-if="isLogin" ng-include="'core/header/header.html'" ng-controller="headerCtrl">
        </div>
        <div ng-if="isLogin" class="body-container-menuCtrl" ng-include="'core/menu-aplicaciones/menu-aplicaciones.html'" ng-controller="menuCtrl">
        </div>
        <div ng-if="isLogin" class="body-container-notificaciones" ng-include="'core/notificaciones/notificaciones.html'" ng-controller="notificacionesCtrl">
        </div>
        <div ng-if="isLogin" class="container-app">
            <div id="menu-sidebar-container" ng-class="sidebarClases.sidebarContainerClase" ng-controller="headerCtrl">
                <div id="menu-sidebar" ng-include="'core/menu-lateral/menu-lateral.html'" ng-controller="menuLateralCtrl" ng-class="sidebarClases.sidebarDivClase">
                </div>
            </div>
            <div ng-class="sidebarClases.containerBodyClase" ng-controller="headerCtrl">
                <div ng-view="" ng-class="sidebarClases.containerDivClase" ng-controller="headerCtrl">
                </div>
            </div>
        </div>
        <div ng-if="isLogin" class="container-footer" ng-include="'core/footer/footer.html'" ng-controller="footerCtrl">
        </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
        ! function(A, n, g, u, l, a, r) {
            A.GoogleAnalyticsObject = l, A[l] = A[l] || function() {
                    (A[l].q = A[l].q || []).push(arguments)
                }, A[l].l = +new Date, a = n.createElement(g),
                r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
        }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-XXXXX-X');
        ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-grid/ui-grid.js"></script>
    <script src="bower_components/angular-md5/angular-md5.js"></script>
    <script src="bower_components/AngularJS-OAuth2/dist/angularJsOAuth2.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-tree-control/angular-tree-control.js"></script>
    <script src="bower_components/pdfmakeoas/build/pdfmake.js"></script>
    <script src="bower_components/pdfmakeoas/build/vfs_fonts.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/angular-websocket/dist/angular-websocket.js"></script>
    <script src="bower_components/angular-input-masks/angular-input-masks-standalone.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/sweetalert2/dist/sweetalert2.js"></script>
    <script src="bower_components/chart.js/dist/Chart.js"></script>
    <script src="bower_components/vis/dist/vis.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/nvd3/build/nv.d3.js"></script>
    <script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
    <script src="bower_components/ng-knob/dist/ng-knob.js"></script>
    <script src="bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/select2/select2.js"></script>
    <script src="bower_components/angular-file-model/angular-file-model.js"></script>
    <script src="bower_components/bootstrap-fileinput/js/fileinput.min.js"></script>
    <script src="bower_components/angular-bootstrap-fileinput/angular-bootstrap-fileinput.js"></script>
    <script src="bower_components/nuxeo/dist/nuxeo.js"></script>
    <script src="bower_components/colombia-holidays/js/holidays.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/jszip/dist/jszip.js"></script>
    <script src="bower_components/excel-builder-js/dist/excel-builder.dist.js"></script>
    <!-- endbower -->
    <!-- endbuild -->


    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <!-- <script src="core/services/implicit_token.js"></script> -->
    <script src="scripts/services/implicit_token.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="core/core.module.js"></script>
    <script src="core/header/header.js"></script>
    <script src="core/footer/footer.js"></script>
    <script src="core/menu-lateral/menu-lateral.js"></script>
    <script src="core/menu-lateral/opciones-component/opciones-directive.js"></script>
    <!-- <script src="core/menu-aplicaciones/menu-aplicaciones.js"></script> -->
    <script src="core/notificaciones/notificaciones.js"></script>
    <script src="core/services/notificacion.js"></script>
    <script src="core/services/theme.js"></script>
    <script src="scripts/services/autenticacion_mid_service.js"></script>
    <!-- endbuild -->
</body>
<!-- build:js({.tmp,app}) scripts/extras.js -->
<script src="scripts/environment/environment.js"></script>
<!-- <script src="scripts/services/token.js"></script> -->
<!-- <script src="scripts/services/notificacion.js"></script> -->
<script src="scripts/controllers/menu.js"></script>
<!-- <script src="scripts/controllers/footer.js"></script> -->
<!-- <script src="scripts/controllers/notificaciones.js"></script> -->
<script src="bower_components/moment/locale/es.js"></script>
<script src="scripts/decorators/text_translate.js"></script>
<script src="scripts/controllers/about.js"></script>

<script src="scripts/services/financiera_service.js"></script>
<script src="scripts/directives/actividades_economicas/lista_actividades_economicas.js"></script>
<script src="scripts/services/administrativa_service.js"></script>
<script src="scripts/services/administrativa_mid_service.js"></script>
<script src="scripts/services/financiera_mid_service.js"></script>
<script src="scripts/services/core_service.js"></script>
<script src="scripts/directives/cdp/lista_cdp.js"></script>
<script src="scripts/directives/catalogos_elementos/lista_subgrupos_catalogos.js"></script>
<script src="scripts/directives/apropiaciones/lista_apropiaciones.js"></script>
<script src="scripts/directives/apropiaciones/fuentes_apropiacion.js"></script>
<script src="scripts/directives/apropiaciones/productos_apropiacion.js"></script>
<script src="scripts/directives/marco_legal/lista_documentos_legales.js"></script>
<script src="scripts/directives/reportes/reportes_spagobi.js"></script>

<script src="scripts/directives/necesidad/visualizar_necesidad.js"></script>
<script src="scripts/controllers/rp/rp_solicitud.js"></script>
<script src="scripts/controllers/rp/rp_solicitud_personas.js"></script>
<script src="scripts/services/agora_service.js"></script>
<script src="scripts/directives/loading.js"></script>
<script src="scripts/services/oikos_service.js"></script>
<script src="scripts/services/sicapital_service.js"></script>
<script src="scripts/directives/catalogos_elementos/ficha_tecnica_elemento.js"></script>
<script src="scripts/services/contrato.js"></script>
<script src="scripts/services/registro.js"></script>
<script src="scripts/services/disponibilidad.js"></script>
<script src="scripts/services/orden.js"></script>
<script src="scripts/services/titan_service.js"></script>
<script src="scripts/services/request_service.js"></script>

<script src="scripts/controllers/plantillas/generacion_plantilla.js"></script>
<script src="scripts/controllers/plantillas/lista_plantillas.js"></script>
<script src="scripts/directives/plantillas/texto_enriquecido.js"></script>
<script src="scripts/services/amazon_administrativa.js"></script>

<script src="scripts/services/academica_service.js"></script>

<script src="scripts/directives/btn_registro.js"></script>
<script src="scripts/directives/avances/ver_solicitud.js"></script>


<script src="scripts/services/core_amazon_api.js"></script>
<script src="scripts/services/oikos_amazon_api.js"></script>
<script src="scripts/services/resolucion.js"></script>

<script src="scripts/services/contrato_service.js"></script>
<script src="scripts/services/configuracion_service.js"></script>
<script src="scripts/services/grid_options_service.js"></script>
<script src="scripts/services/nuxeo_service.js"></script>
<script src="scripts/services/academica_wso_service.js"></script>
<script src="scripts/services/cookie_service.js"></script>
<script src="scripts/services/homologacion_dependencia_service.js"></script>
<script src="scripts/services/grid/gridapi_service.js"></script>
<script src="scripts/services/utils/pdf_maker.js"></script>
<script src="scripts/services/utils/pdf_maker_necesidades.js"></script>
<script src="scripts/services/utils/colombia_holidays.js"></script>
<script src="scripts/services/utils/nuxeo_client.js"></script>
<script src="scripts/services/utils/sbisdk-all-production.js"></script>
<script src="scripts/directives/avances/lista_avances.js"></script>
<script src="scripts/services/resolucion_service.js"></script>
<script src="scripts/services/roles_service.js"></script>

<script src="scripts/services/argo_nosql_service.js"></script>
<script src="scripts/services/novedades_service.js"></script>
<script src="scripts/services/novedades_mid_service.js"></script>
<script src="scripts/services/documentos_crud.js"></script>


<script src="scripts/controllers/seguimientoycontrol/legal.js"></script>
<script src="scripts/controllers/seguimientoycontrol/legal/acta_adicion_prorroga.js"></script>
<script src="scripts/controllers/seguimientoycontrol/legal/acta_cesion.js"></script>
<script src="scripts/controllers/seguimientoycontrol/legal/acta_inicio.js"></script>
<script src="scripts/controllers/seguimientoycontrol/legal/acta_liquidacion.js"></script>
<script src="scripts/controllers/seguimientoycontrol/legal/acta_reinicio.js"></script>
<script src="scripts/controllers/seguimientoycontrol/legal/acta_suspension.js"></script>
<script src="scripts/controllers/seguimientoycontrol/legal/acta_terminacion_liquidacion_bilateral.js"></script>
<script src="scripts/controllers/seguimientoycontrol/legal/consulta_novedades.js"></script>
<script src="scripts/controllers/seguimientoycontrol/legal/novedad_otro_si_aclaratorio.js"></script>
<script src="scripts/controllers/seguimientoycontrol/legal/novedad_otro_si_modificatorio.js"></script>
<!-- endbuild -->
<script src="./core/scripts/angular-material.min.js"></script>
<script src="bower_components/bootstrap-fileinput/js/locales/es.js"></script>

</html>
