<br>
<div class="panel panel-default">
  <div class="panel-body">
          <center><h3 class="titulo-centrado">{{'SEGUIMIENTO_FINANCIERO' | translate}} {{sFcontrato.contrato.Id}}</h3></center>
          <ul class="nav nav-tabs">
            <li class="active"><a href="#/seguimientoycontrol/financiero/contrato" data-toggle="tab" ng-show="sFcontrato.cambio">{{'DATOS_CONTRATO' | translate}}</a>
            </li>
            <li><a href="#/seguimientoycontrol/financiero/ordenes_pago" data-toggle="tab" ng-show="sFcontrato.cambio">{{'ORDENES_PAGO' | translate}}</a>
            </li>
            <li><a href="#/seguimientoycontrol/financiero/estadisticas" data-toggle="tab" ng-show="sFcontrato.cambio">{{'ESTADISTICAS' | translate}}</a>
            </li>
          </ul>
          <br/>
      <div class="row">
        <div class="col-md-3 panel panel-primary paneles">
           <div class="panel-heading row"><div class="col-md-12"><center><h4><b>{{'DATOS_CONTRATISTA' | translate}}</b></h4></center></div></div>
           <div class="panel-body">
             <div class="col-md-6"><b>{{'APELLIDOS' | translate}}</b></div>
             <div class="col-md-6">{{sFcontrato.persona.PrimerApellido}} {{sFcontrato.persona.SegundoApellido}}<br><br/></div>
             <div class="col-md-6"><b>{{'NOMBRES' | translate}}</b></div>
             <div class="col-md-6">{{sFcontrato.persona.PrimerNombre}} {{sFcontrato.persona.SegundoNombre}}<br><br/></div>
             <div class="col-md-6"><b>{{'TIPO_DOCUMENTO' | translate}}</b></div>
             <div class="col-md-6">{{sFcontrato.persona.TipoDocumento.ValorParametro}}<br><br/></div>
             <div class="col-md-6"><b>{{'NUMERO_DOCUMENTO' | translate}}</b></div>
             <div class="col-md-6">{{sFcontrato.contrato.ContratistaId}}<br><br/></div>
             <div class="col-md-6"><b>{{'CARGO' | translate}}</b></div>
             <div class="col-md-6">{{sFcontrato.persona.Cargo}}<br><br/></div>
           </div>
        </div>
        <div class="col-md-3 paneles">
          <div ng-show="sFcontrato.reloj()">
            <br /><br/>
              <div class="col-md-12">
                <center><loading load="sFcontrato.cargando_datos" tam ="5" /></center>
              </div>
              <div class="panel panel-primary col-md-8 col-md-offset-2">
                <div class="panel-heading row">
                  <center><h4><b>{{'POR_FAVOR_ESPERE' |translate}}</b></h4>
                  {{'CARGANDO_DATOS' |translate}}
                  </center>
                </div>
              </div>
          </div>
          <div ng-show="!banderaRP">
            <div class="panel panel-danger col-md-12">
              <div class="panel-heading row">
                <b>{{'NO_CDP_REGISTRADAS' |translate}}</b>
              </div>
            </div>
          </div>

        <div ng-show="banderaRP" ng-repeat="rp in sFcontrato.registro_presupuestal" >
        <div class="panel panel-primary col-md-12" ng-show="!sFcontrato.cargando_datos" ng-init="sFcontrato.seleccionarValores()">
          <div class="panel-heading row" ng-click="panelrp = !panelrp">
            <center><h4><b>{{'DATOS_REGISTRO_PRESUPUESTAL' | translate}} {{rp.NUMERO_REGISTRO}} - {{rp.VIGENCIA}} </b></h4></center>
              <span style="float:right" class="glyphicon glyphicon glyphicon-plus" ng-show="!panelrp"></span>
              <span style="float:right" class="glyphicon glyphicon glyphicon-minus" ng-show="panelrp"></span>
          </div>
          <div ng-show="panelrp" class="panel-body">
            <div class="panel-body">
              <div class="col-md-7"><b>{{'NUMERO_REGISTRO_PRESUPUESTAL' | translate}}</b></div>
              <div class="col-md-5">{{rp.NUMERO_REGISTRO}}<br><br/></div>
              <div class="col-md-7"><b>{{'VIGENCIA' | translate}}</b></div>
              <div class="col-md-5">{{rp.VIGENCIA}}<br><br/></div>
              <div class="col-md-7"><b>{{'FECHA_REGISTRO' | translate}}</b></div>
              <div class="col-md-5">{{rp.FECHA_REGISTRO}}<br><br/></div>
              <div class="col-md-7"><b>{{'FECHA_INICIO' | translate}}</b></div>
              <div class="col-md-5">{{rp.FECHA_INICIAL}}<br><br/></div>
              <div class="col-md-7"><b>{{'FECHA_FIN' | translate}}</b></div>
              <div class="col-md-5">{{rp.FECHA_FINAL}}<br><br/></div>
              <div class="col-md-7"><b>{{'NUMERO_COMPROMISO' | translate}}</b></div>
              <div class="col-md-5">{{rp.NUMERO_COMPROMISO}}<br><br/></div>
              <div class="col-md-7"><b>{{'NUMERO_DISPONIBILIDAD' | translate}}</b></div>
              <div class="col-md-5">{{rp.NUMERO_DISPONIBILIDAD}}<br><br/></div>
            </div>
          </div>
        </div>
        </div>
        </div>

        <div class="col-md-3 panel panel-primary paneles">
           <div class="panel-heading row"><div class="col-md-12"><center><h4><b>{{'DATOS_CONTRATO' | translate}}</b></h4></center></div></div>
           <div class="panel-body">
             <div class="col-md-6"><b>{{'CONTRATO' | translate}}</b></div>
             <div class="col-md-6">{{sFcontrato.contrato.Id}}<br><br/></div>
             <div class="col-md-6"><b>{{'VIGENCIA' | translate}}</b></div>
             <div class="col-md-6">{{sFcontrato.contrato.Vigencia}}<br><br/></div>
             <div class="col-md-6"><b>{{'OBJETO' | translate}}</b></div>
             <div class="col-md-6">{{sFcontrato.contrato.ObjetoContrato}}<br><br/></div>
             <div class="col-md-6"><b>{{'FECHA_REGISTRO' | translate}}</b></div>
             <div class="col-md-6">{{sFcontrato.contrato.FechaRegistro | date:"yyyy-MM-dd":"+0900"}}<br><br/></div>
             <div class="col-md-6"><b>{{'VALOR' | translate}}</b></div>
             <div class="col-md-6">{{sFcontrato.contrato.ValorContrato | currency}}<br><br/></div>
           </div>
      </div>
    </div>
</div>
