<br>
<div class="panel panel-default">
  <div class="panel-body">
          <center><h3>{{'SEGUIMIENTO_FINANCIERO' | translate}}</h3></center>
          <ul class="nav nav-tabs">
              <li><a href="#/seguimientoycontrol/financiero/contrato" data-toggle="tab">{{'DATOS_CONTRATO' | translate}}</a>
              </li>
              <li><a href="#/seguimientoycontrol/financiero/ordenes_pago" data-toggle="tab">{{'ORDENES_PAGO' | translate}}</a>
              </li>
              <li class="active"><a href="#/seguimientoycontrol/financiero/estadisticas" data-toggle="tab">{{'ESTADISTICAS' | translate}}</a>
              </li>
          </ul>
          <br/>
      <div class="row">
        <div class="panel-body">
            <div class=" panel panel panel-info col-md-3">
              <div class="panel-heading row"><h4><b><div class="col-md-12"><center>{{'ESTADISTICAS_GENERALES' | translate}}</center></div></b></h4></div>
              <div class="panel-body row">
                <div class="col-md-6"><b>{{'VALOR_TOTAL_CONTRATO' | translate}}</b></div>
                <div class="col-md-6">150246<br></br></div>
                <div class="col-md-6"><b>{{'VALOR_MENSUAL' | translate}}</b></div>
                <div class="col-md-6">2017<br></br></div>
                <div class="col-md-6"><b>{{'VALOR_TOTAL_PAGADO' | translate}}</b></div>
                <div class="col-md-6">01/04/2017<br></br></div>
                <div class="col-md-6"><b>{{'VALOR_RESTANTE' | translate}}</b></div>
                <div class="col-md-6">Girada<br></br></div>
                <div class="col-md-6"><b>{{'PORCENTAJE_PAGADO' | translate}}</b></div>
                <div class="col-md-6">$ 2.264.427<br></br></div>
                <div class="col-md-6"><b>{{'PORCENTAJE_RESTANTE' | translate}}</b></div>
                <div class="col-md-6">$ 2.164.000</div>
              </div>
            </div>
            <div class=" panel panel panel-info col-md-8 col-md-offset-1">
              <div class="panel-heading row"><h4><b><div class="col-md-12"><center>{{'GRAFICO_BARRAS_CONTRATO' | translate}}</center></div></b></h4></div>
              <div class="panel-body row">
                <div class="col-md-12" id="estadistica"></div>
              </div>
            </div>
      </div>
    </div>
</div>
