<br>
<div class="panel panel-default">
  <div class="panel-body">
          <center><h3 class="titulo-centrado">{{'SEGUIMIENTO_FINANCIERO' | translate}} {{sFestadisticas.contrato.Id}}</h3></center>
          <ul class="nav nav-tabs">
              <li><a href="#/seguimientoycontrol/financiero/contrato" data-toggle="tab">{{'DATOS_CONTRATO' | translate}}</a>
              </li>
              <li><a href="#/seguimientoycontrol/financiero/ordenes_pago" data-toggle="tab">{{'ORDENES_PAGO' | translate}}</a>
              </li>
              <li class="active"><a href="#/seguimientoycontrol/financiero/estadisticas" data-toggle="tab">{{'ESTADISTICAS' | translate}}</a>
              </li>
          </ul>
          <br/>
      <div class="row">
          <div class="col-md-3" ng-show="!sFestadisticas.seleccion">
          <div class=" panel panel panel-primary">
            <div class="panel-heading row"><h4><b><div class="col-md-12"><center> {{'SELECCIONAR_ORDEN_PAGO' | translate}}</center></div></b></h4></div>
          </div>
        </div>
            <div class=" panel panel panel-primary col-md-3" ng-show="sFestadisticas.seleccion">
              <div class="panel-heading row"><h4><b><div class="col-md-12"><center>{{'ESTADISTICAS_GENERALES' | translate}} {{sFestadisticas.orden.consecutivo_orden}}-{{sFestadisticas.orden.vigencia}}</center></div></b></h4></div>
              <div class="panel-body row">
                <div class="col-md-6"><b>{{'FECHA_ORDEN' | translate}}</b></div>
                <div class="col-md-6">{{sFestadisticas.orden.fecha_orden}}<br></br></div>
                <div class="col-md-6"><b>{{'VIGENCIA' | translate}}</b></div>
                <div class="col-md-6">{{sFestadisticas.orden.vigencia}}<br></br></div>
                <div class="col-md-6"><b>{{'VIGENCIA_PRESUPUESTO' | translate}}</b></div>
                <div class="col-md-6">{{sFestadisticas.orden.vigencia_presupuesto}}<br></br></div>
                <div class="col-md-6"><b>{{'VALOR_TOTAL_CONTRATO' | translate}}</b></div>
                <div class="col-md-6">{{sFestadisticas.contrato.ValorContrato | currency}}<br></br></div>
                <div class="col-md-6"><b>{{'VALOR_ORDEN' | translate}}</b></div>
                <div class="col-md-6">{{sFestadisticas.orden.valor_bruto | currency}}<br></br></div>
                <div class="col-md-6"><b>{{'VALOR_NETO' | translate}}</b></div>
                <div class="col-md-6">{{sFestadisticas.orden.valor_neto | currency}}<br></br></div>
                <div class="col-md-6"><b>{{'VALOR_ACUMULADO' | translate}}</b></div>
                <div class="col-md-6">{{sFestadisticas.orden.valor_acumulado| currency}}<br></br></div>
                <div class="col-md-6"><b>{{'VALOR_RESTANTE' | translate}}</b></div>
                <div class="col-md-6">{{sFestadisticas.orden.valor_restante | currency}}<br></br></div>
                <div class="col-md-6"><b>{{'PORCENTAJE_ORDEN' | translate}}</b></div>
                <div class="col-md-6">{{sFestadisticas.orden.porcentaje}} %<br></br></div>
                <div class="col-md-6"><b>{{'PORCENTAJE_ACUMULADO' | translate}}</b></div>
                <div class="col-md-6">{{sFestadisticas.orden.porcentaje_acumulado}} %<br></br></div>
                <div class="col-md-6"><b>{{'PORCENTAJE_RESTANTE' | translate}}</b></div>
                <div class="col-md-6">{{sFestadisticas.orden.porcentaje_restante}} % </div>
              </div>
            </div>

            <div class=" panel panel panel-primary col-md-8 col-md-offset-1">
              <div class="panel-heading row"><h4><b><div class="col-md-12"><center>{{'GRAFICO_BARRAS_CONTRATO' | translate}}</center></div></b></h4></div>
              <div class="panel-body row">
                <div ng-click="sFestadisticas.seleccionar()" id="grafico">
                <nvd3 options='options' data='data' ></nvd3>
                </div>
              </div>
            </div>

            <div class="col-md-3" ng-show="sFestadisticas.orden[0].vigencia==''">
            </div>

      </div>
    </div>
</div>
