<br>
<div class="panel panel-default">
  <div class="panel-body" >
          <center><h3 class="titulo-centrado">{{'SEGUIMIENTO_FINANCIERO' | translate}} {{sFordenesPago.contrato.Id}}</h3></center>
          <ul class="nav nav-tabs">
              <li><a href="#/seguimientoycontrol/financiero/contrato" data-toggle="tab">{{'DATOS_CONTRATO' | translate}}</a>
              </li>
              <li class="active"><a href="#/seguimientoycontrol/financiero/ordenes_pago" data-toggle="tab">{{'ORDENES_PAGO' | translate}}</a>
              </li>
              <li><a href="#/seguimientoycontrol/financiero/estadisticas" data-toggle="tab">{{'ESTADISTICAS' | translate}}</a>
              </li>
          </ul>
          <br/>
      <div class="row">
        <div class="panel-body">
          <div class="col-md-3" ng-show="sFordenesPago.ordenActual.vigencia === undefined">
          <div class=" panel panel panel-primary">
            <div class="panel-heading row"><h4><b><div class="col-md-12"><center> {{'SELECCIONAR_ORDEN_PAGO' | translate}}</center></div></b></h4></div>
          </div>
        </div>
            <div class=" panel panel panel-primary col-md-3" ng-show="sFordenesPago.ordenActual.vigencia !== undefined">
              <div class="panel-heading row"><h4><b><div class="col-md-12"><center>{{'ORDEN_PAGO' | translate}} {{sFordenesPago.ordenActual.consecutivo_orden}} <br> {{'VIGENCIA_PRESUPUESTO' | translate}} {{sFordenesPago.ordenActual.vigencia_presupuesto}} <br> {{'VIGENCIA_ORDEN' | translate}} {{sFordenesPago.ordenActual.vigencia}}</center></div></b></h4></div>
              <div class="panel-body row" >
                <div class="col-md-7" ><b>{{'CONSECUTIVO' | translate}}</b></div>
                <div class="col-md-5">{{sFordenesPago.ordenActual.consecutivo_orden}}<br><br/></div>
                <div class="col-md-7"><b>{{'VIGENCIA_ORDEN' | translate}}</b></div>
                <div class="col-md-5">{{sFordenesPago.ordenActual.vigencia}}</div>
                <br/><div class="col-md-7"><b>{{'FECHA_ORDEN' | translate}}</b></div>
                <div class="col-md-5">{{sFordenesPago.ordenActual.fecha_orden}}<br><br/></div>
                <div class="col-md-7"><b>{{'UNIDAD_EJECUTORA' | translate}}</b></div>
                <div class="col-md-5">{{sFordenesPago.ordenActual.unidad_ejecutora}}<br><br/></div>
                <div class="col-md-7"><b>{{'VIGENCIA_PRESUPUESTO' | translate}}</b></div>
                <div class="col-md-5">{{sFordenesPago.ordenActual.vigencia_presupuesto}}<br><br/></div>
                <div class="col-md-7"><b>{{'ESTADO' | translate}}</b></div>
                <div class="col-md-5">{{sFordenesPago.ordenActual.estado}}<br><br/></div>
                <div class="col-md-7"><b>{{'NUMERO_REGISTRO_PRESUPUESTAL' | translate}}</b></div>
                <div class="col-md-5">{{sFordenesPago.ordenActual.numero_registro}}<br><br/></div>
                <div class="col-md-7"><b>{{'NUMERO_DISPONIBILIDAD' | translate}}</b></div>
                <div class="col-md-5">{{sFordenesPago.ordenActual.numero_disponibilidad}}<br><br/></div>
                <div class="col-md-4"><b>{{'CODIGO_RUBRO' | translate}}</b></div>
                <div class="col-md-8">{{sFordenesPago.ordenActual.cod_rubro}}<br><br/></div>
                <div class="col-md-7"><b>{{'DESCRIPCION_RUBRO' | translate}}</b></div>
                <div class="col-md-5">{{sFordenesPago.ordenActual.descripcion_rubro}}<br><br/></div>
                <div class="col-md-7"><b>{{'VALOR_ORDEN' | translate}}</b></div>
                <div class="col-md-5">{{sFordenesPago.ordenActual.valor_orden | currency}}<br><br/></div>
                <div class="col-md-7"><b>{{'VALOR_BRUTO' | translate}}</b></div>
                <div class="col-md-5">{{sFordenesPago.ordenActual.valor_bruto | currency}}<br><br/></div>
                <div class="col-md-7"><b>{{'VALOR_NETO' | translate}}</b></div>
                <div class="col-md-5">{{sFordenesPago.ordenActual.valor_neto | currency}}</div>
              </div>
            </div>
            <div class=" panel panel panel-primary col-md-8 col-md-offset-1">
              <timeline control="timeline" height="80vh" options="options"></timeline>
              <div class="panel-heading row"><h4><b><div class="col-md-12" ><center>{{'LINEA_ORDEN_PAGO' | translate}}</center></div></b></h4></div>
              <div class="panel-body row">
                <div class="col-md-12 vis-timeline vis-bottom" id="linea" ng-click="sFordenesPago.accion()"></div>
              </div>
            </div>
          <div class="col-md-3" ng-show="sFordenesPago.ordenActual.VIGENCIA === undefined">
          </div>
            <div class="col-md-8 col-md-offset-1">
              <br/><br/>
              <div ui-grid="sFordenesPago.gridOptions" ui-grid-auto-resize ui-grid-selection class="myGrid small-grid" ng-style="getTableStyle()"></div>
            </div>
      </div>
    </div>
</div>
