<br>
<div class="panel panel-default">
  <div class="panel-body">
          <center><h3>{{'SEGUIMIENTO_FINANCIERO' | translate}}</h3></center>
          <ul class="nav nav-tabs">
              <li><a href="#/seguimientoycontrol/financiero/contrato" data-toggle="tab">{{'DATOS_CONTRATO' | translate}}</a>
              </li>
              <li class="active"><a href="#/seguimientoycontrol/financiero/ordenes_pago" data-toggle="tab">{{'ORDENES_PAGO' | translate}}</a>
              </li>
              <li><a href="#/seguimientoycontrol/financiero/estadisticas" data-toggle="tab">{{'ESTADISTICAS' | translate}}</a>
              </li>
          </ul>
          <br/>
      <div class="row">
        <div class="panel-body">
            <div class=" panel panel panel-info col-md-3">
              <div class="panel-heading row"><h4><b><div class="col-md-12"><center>{{'ORDEN_PAGO' | translate}} 150-2016 </center></div></b></h4></div>
              <div class="panel-body row">
                <div class="col-md-6"><b>{{'CONSECUTIVO' | translate}}</b></div>
                <div class="col-md-6">150246<br></br></div>
                <div class="col-md-6"><b>{{'VIGENCIA' | translate}}</b></div>
                <div class="col-md-6">2017<br></br></div>
                <div class="col-md-6"><b>{{'FECHA_ORDEN' | translate}}</b></div>
                <div class="col-md-6">01/04/2017<br></br></div>
                <div class="col-md-6"><b>{{'ESTADO' | translate}}</b></div>
                <div class="col-md-6">Girada<br></br></div>
                <div class="col-md-6"><b>{{'VALOR' | translate}}</b></div>
                <div class="col-md-6">$ 2.264.427<br></br></div>
                <div class="col-md-6"><b>{{'VALOR_BRUTO' | translate}}</b></div>
                <div class="col-md-6">$ 2.164.000</div>
              </div>
            </div>
            <div class=" panel panel panel-info col-md-8 col-md-offset-1">
              <div class="panel-heading row"><h4><b><div class="col-md-12"><center>{{'LINEA_ORDEN_PAGO' | translate}}</center></div></b></h4></div>
              <div class="panel-body row">
                <div class="col-md-12 vis-timeline vis-bottom" id="linea"></div>
              </div>
            </div>
      </div>
    </div>
    <div class="panel-footer">
        Panel Footer
    </div>
</div>
