<br>
<div class="panel panel-default">
  <h3 class="page-header text-center"> {{ 'GENERACION_MINUTA' | translate }} </h3>
  <div class="row">
    <!-- información minuta -->
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="intro-text text-center"> {{ 'FORMATO_MINUTA' | translate }} </h4>
        </div>
        <div class="panel-body">
          <form role="form">
            <div class="col-lg-12">
              <div class="form-group col-lg-6">
                <label>{{ 'TITULO_MINUTA' | translate }}</label>
                <input type="text" class="form-control" ng-model="generacionMinuta.contenidoMinuta.Titulo">
              </div>
              <div class="form-group col-lg-6">
                <label>{{ 'DEPENDENCIA_SOLICITANTE' | translate }}</label>
                <input type="text" class="form-control" ng-model="generacionMinuta.contenidoMinuta.IdDependencia.Nombre" disabled >
              </div>
              <div class="form-group col-lg-6">
                <label>{{ 'UNIDAD_EJECUTORA' | translate }}</label>
                <input type="text" class="form-control" ng-model="generacionMinuta.contenidoMinuta.IdUnidadEjecutora.Nombre" disabled >
              </div>
              <div class="form-group col-lg-5">
                <label>{{ 'TIPO_CONTRATO' | translate }}</label>
                <select class="form-control" ng-model="generacionMinuta.TipoContrato">
                  <option ng-repeat="o in generacionMinuta.tipoContrato" value="{{ o.Id }}"> {{ o.TipoContrato }} </option>
                </select>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group col-lg-12">
                <label>{{ 'INTRODUCCION' | translate }}</label>
                <textarea rows="5" class="form-control" ng-model="generacionMinuta.contenidoMinuta.Preambulo"></textarea>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group col-lg-12">
                <label>{{ 'CONSIDERACION' | translate }}</label>
                <textarea rows="21" class="form-control" ng-model="generacionMinuta.contenidoMinuta.Consideracion"></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- información minuta -->

    <!-- Vista previa de la minuta -->
    <div class="col-lg-6" id="resolucion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="intro-text text-center">{{ 'VISTA_PREVIA' | translate }}</h4>
        </div>
        <div class="panel-body">
          <button ng-click="generacionMinuta.crearPdf()" type="submit" class="form-control btn-primary" >{{ 'VISTA_RESOLUCION_ACTUALIZADA' | translate }}</button>
          <iframe id="vistaPDF" frameborder='0' width='100%' height='770'> </iframe>
        </div>
      </div>
    </div>
    <!-- Vista previa de la minuta -->
  </div>

  <!-- clausulas y paragrafos -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="intro-text text-center"> {{ 'RESUELVE' | translate }} </h4>
    </div>

    <div class="panel-body">
      <div class="col-lg-12" ng-repeat="i in generacionMinuta.getCantidad(generacionMinuta.contenidoMinuta.Clausulas)">
        <legend class="text-primary" ng-click="info_articulo=!info_articulo">{{ 'CLAUSULA' | translate }} {{ i+1 }} - {{ generacionMinuta.contenidoMinuta.Clausulas[i].Titulo }}<span class="fa fa-plus pull-right" ng-show="!info_articulo"></span> <span class="fa fa-minus pull-right" ng-show="info_articulo"></span></legend>
        <div class="panel panel-default" ng-show="info_articulo">
          <div class="panel-body">
            <form role="form">
              <div class="form-group col-lg-6">
                <label>{{ 'TEXTO' | translate }}</label>
                <div ta-bind ng-model="generacionMinuta.contenidoMinuta.Clausulas[i].Texto"></div>
              </div>
              <div class="col-lg-10 col-lg-offset-1">
                <button class="form-control btn btn-danger" data-toggle="modal" ng-click="generacionMinuta.eliminarClausula(i)"> {{'BTN_MINUTAS.ELIMINAR_CLAUSULA' | translate}} </button>
              </div>
              <div class="form-group col-lg-6">
                <div class="form-group col-lg-12" ng-repeat="j in generacionMinuta.getCantidad(generacionMinuta.contenidoMinuta.Clausulas[i].Paragrafos)"><br>
                  <label>{{ 'PARAGRAFO' | translate }} {{j+1}}</label>
                  <div ta-bind ng-model="generacionMinuta.contenidoMinuta.Clausulas[i].Paragrafos[j].Texto"></div>
                  <div class="col-lg-12">
                    <input type="submit" class="form-control btn-danger " ng-click="generacionMinuta.eliminarParagrafo(i,j)" value="Eliminar paragrafo">
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <button class="form-control btn btn-primary" data-toggle="modal" data-target="#modal_add_paragrafo" ng-click="generacionMinuta.idClausula = i"> {{'BTN_MINUTAS.AGREGAR_PARAGRAFO' | translate}} </button>
              </div>
            </div>
          </form>
        </div>

      </div>
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <button class="form-control btn btn-primary" data-toggle="modal" data-target="#modal_add_clausula"> {{'BTN_MINUTAS.AGREGAR_CLAUSULA' | translate}} </button>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-lg-offset-4">
      <br></br>
      <input type="submit" class="form-control btn-success" ng-click="generacionMinuta.guardarCambios()" value="{{'BTN_MINUTAS.GUARDAR' | translate}}">
    </div>
  </div>
  <!-- Clausulas y paragrafos -->


  <!-- modal clausulas -->
  <div id="modal_add_clausula" class="modal fade col-md-12" role="dialog" style="padding-top:5%">
    <div class="modal-content col-md-offset-1 col-md-10">
      <div class="modal-header">
        <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal">&times</button><br>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          {{ 'BTN_MINUTAS.AGREGAR_CLAUSULA' | translate }}
        </div>
        <div class="row">
          <div class="col-sm-12">
            <label for="tituloClausula"> Titulo: </label>
            <input type="text" name="textoClausula" class="form-control" ng-model="generacionMinuta.tituloClausula" required>
          </div>
            <div class="col-sm-12 row form-group">
              <label for="descripcion"  class="col-sm-4 col-form-label"> {{'DESCRIPCION' | translate }}: </label>
              <label for="formato_texto_c"  class="col-md-offset-6 col-form-label">{{'FORMATO_TEXTO' | translate }}:</label>
              <select id="formato_texto_c" ng-model="generacionMinuta.op" ng-change="generacionMinuta.opcionTexto()">
                <option ng-repeat="o in generacionMinuta.opcionesTexto" value="{{o}}"> {{ o }} </option>
              </select>
            </div>
          <div class="col-sm-12">
            <textarea ng-show="generacionMinuta.textoNormal" name="descripcion" ng-model="generacionMinuta.textoClausula" rows=7 class="form-control" required="true"> {{generacionMinuta.textoOriginal}}</textarea>
            <text-angular ng-show="generacionMinuta.textoHtml" ng-model="generacionMinuta.textoClausula"></text-angular>
          </div>
        </div>
        <br>
        <button type="button" name="button" class="btn btn-success btn-outline" ng-click="generacionMinuta.agregarClausula()"> {{ 'ACEPTAR' | translate }} </button>
        <button type="button" class="btn btn-outline btn-danger" data-dismiss="modal" ng-click="generacionMinuta.limpiarModal()"> {{ 'CANCELAR' | translate }}</button><br>
      </div>
    </div>
  </div>
  <!-- modal clausulas -->

  <!-- modal paragrafos -->
  <div id="modal_add_paragrafo" class="modal face col-md-12" role="dialog">
    <div class="modal-content col-md-offset-1 col-md-10">
      <div class="modal-header">
        <button type="button" class="btn btn-outline btn-danger gtn-xs pull-right" data-dismiss="modal">&times</button><br>
      </div>
      <div class="col-sm-12 row form-group">
        <label for="descripcion"  class="col-sm-4 col-form-label"> {{'DESCRIPCION' | translate }}: </label>
        <label for="formato_texto_c"  class="col-md-offset-6 col-form-label">{{'FORMATO_TEXTO' | translate }}:</label>
        <select id="formato_texto_c" ng-model="generacionMinuta.op" ng-change="generacionMinuta.opcionTexto()">
          <option ng-repeat="o in generacionMinuta.opcionesTexto" value="{{o}}"> {{ o }} </option>
        </select>
        <textarea ng-show="generacionMinuta.textoNormal" name="descripcion" ng-model="generacionMinuta.textoParagrafo" rows=7 class="form-control" required="true"> {{generacionMinuta.textoOriginal}}</textarea>
        <text-angular ng-show="generacionMinuta.textoHtml" ng-model="generacionMinuta.textoParagrafo"></text-angular>
      </div>
      <button type="button" name="button" class="btn btn-success btn-outline" ng-click="generacionMinuta.adicionarParagrafo()"> {{ 'ACEPTAR' | translate }} </button>
      <button type="button" class="btn btn-outline btn-danger" data-dismiss="modal" ng-click="generacionMinuta.limpiarModal()"> {{ 'CANCELAR' | translate }}</button><br>
    </div>
  </div>
  <!-- modal paragrafos -->
