<div class="panel panel-primary">
  <div class="panel-body">
    <center>
      <h1 class="page-header">
          {{ 'GESTION_NECESIDADES' | translate }}
      </h1></center>

      <div class="panel panel-success">
        <div style="height: {{gridHeight}}px" ui-grid="necesidades.gridOptions" ui-grid-selection ui-grid-auto-resize ui-grid-pagination>
      </div>

    </div>


      <div id="myModal" class="modal fade" role="dialog">

          <!-- Modal content-->
          <div class="modal-content col-md-10 col-md-offset-1" style="margin-top: 5%">

            <div class="modal-body" ng-if="necesidades.g_necesidad!=undefined">
              <visualizar-necesidad  vigencia="necesidades.vigencia" numero="necesidades.numero_el" />
              <!--<div ng-include="necesidades.templateUrl" ng-controller="VerNecesidadCtrl as verNecesidad" ng-repeat="data in necesidades.parametros"></div>-->
            </div>

            <!--<div class="modal-body" ng-if="necesidades.mod_ver">
              <div ng-include="necesidades.templateUrl" ng-controller="VerNecesidadCtrl as verNecesidad" ng-repeat="data in necesidades.parametros"></div>
            </div>
            <div class="modal-body" ng-if="necesidades.mod_aprobar">
              <div ng-include="necesidades.templateUrl" ng-controller="AprobarNecesidadCtrl as aprobarNecesidad" ng-repeat="data in necesidades.parametros"></div>
            </div>-->
            <div class="modal-footer" ng-show="necesidades.mod_aprobar">
              <center>
                <button class="btn btn-success btn-outline" type="button" name="button" ng-click="necesidades.aprobar_necesidad()">{{"APROBAR" | translate}}</button>
                <button class="btn btn-warning btn-outline" type="button" name="button" ng-click="necesidades.rechazar_necesidad()">{{"RECHAZAR" | translate}}</button>
              </center>
            </div>
            <div class="modal-footer" ng-show="necesidades.mod_cdp">
              <center>
                <button class="btn btn-success btn-outline" type="button" name="button" ng-click="necesidades.solicitar_cdp()">{{"SOLICITAR_CDP" | translate}}</button>
              </center>
            </div>
          </div>

      </div>

  </div>
  <!--<div class="panel-footer">
    <pre>{{necesidades.necesidad | json}}</pre>
  </div>-->
</div>
