<div class="panel panel-primary panel-body">
  <h2 class="page-header text-center">{{ 'GESTION_NECESIDADES' | translate }}</h2>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="intro-text"> {{ 'LISTA_NECESIDADES' | translate }} </h4>
          </div>

          <div ui-grid="necesidades.gridOptions" ui-grid-selection ui-grid-pagination class="grid"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="myModal" class="modal fade" role="dialog">

  <!-- Modal content-->
  <div class="modal-content col-md-10 col-md-offset-1" style="margin-top: 5%">

    <div class="modal-body" ng-if="necesidades.g_necesidad!=undefined">
      <visualizar-necesidad vigencia="necesidades.vigencia" numero="necesidades.numero_el" rechazada="necesidades.rechazada" />
    </div>


    <div class="modal-footer text-center">
      <span ng-show="necesidades.mod_aprobar">
        <button class="btn btn-success" type="button" name="button" ng-click="necesidades.aprobar_necesidad()">{{"APROBAR"
          | translate}}</button>
        <button class="btn btn-warning" type="button" name="button" ng-click="necesidades.rechazar_necesidad()">{{"RECHAZAR"
          | translate}}</button>
        <button class="btn btn-success btn-outline" type="button" name="button" ng-show="necesidades.editarNecesidad"
          ng-click="necesidades.editar_necesidad()">{{"EDITAR_NECESIDAD" | translate}}</button>

      </span>
      <button class="btn btn-success btn-outline" type="button" name="button" ng-show="necesidades.mod_cdp" ng-click="necesidades.solicitar_cdp()">{{"SOLICITAR_CDP"
        | translate}}</button>

    </div>

  </div>

</div>
</div>