<!DOCTYPE html>
<html>
<div class="panel panel-primary panel-body">
    <center>
        <h3 class="page-header">{{"SOLICITUD_NECESIDAD_EXTERNA" | translate}}</h3>
    </center>

    <div class="panel panel-default">
        <div class="panel-heading">
            Listado
        </div>
        <div class="panel-body">
            <div class="mi-grid" id="mi-grid" ui-grid="necesidadExterna.gridOptions" ui-grid-selection ui-grid-pagination></div>
        </div>
        <br>
    </div>
</div>

<div id="modalNecesidadAvance" class="modal fade col-md-12" role="dialog" style="padding-top:5%">
    <div class="modal-content col-md-offset-2 col-md-8">
        <div class="modal-header">
            <button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal" ng-click="">&times</button><br>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                {{'SOLICITUD_NECESIDAD' | translate }}
            </div>
            <div class="panel panel-body">
                <ver-solicitud sol="necesidadExterna.solicitud" tipos="0"></ver-solicitud>
                <br>
            </div>
        </div>
    </div>
</div>