<!DOCTYPE html>
<html>
<div class="panel panel-primary panel-body" style="padding:30px;">

  <div style="text-align: center">
    <h1 class="page-header text-center">{{"SOLICITUD_NECESIDAD" | translate}} <span ng-if="solicitudNecesidad.necesidad.NumeroElaboracion">#{{solicitudNecesidad.necesidad.NumeroElaboracion}}</span></h1>
  </div>

  <div>
    <div class="panel-body">

      <form name="solicitudform" class="form-horizontal" ng-submit="solicitudNecesidad.submitForm(solicitudform)"
        novalidate>
        <!-- Tipo Necesidad -->
        <ng-form name="tipoNecesidad" class="form-group" style="text-align: center; display: block;">
          <legend class="text-primary">
            {{"SOLICITUD_NECESIDAD_CONTRATO" | translate}}
          </legend>
          <label class="radio-inline" ng-repeat="tipo in solicitudNecesidad.tipo_necesidad_data">
            <input type="radio" ng-value="{{tipo.Id}}" ng-model="solicitudNecesidad.necesidad.TipoNecesidad.Id"
              ng-change="solicitudNecesidad.ResetNecesidad()" required>
            {{tipo.Nombre}}
          </label>
        </ng-form>
        <!-- Duración -->
        <ng-form class="form-group" style="text-align: center; display: block;">
          <legend class="text-primary">
            {{"DURACION_NECESIDAD_CONTRATO" | translate}}
          </legend>
          <label class="radio-inline">
            <input name="Duracion" type="radio" ng-model="solicitudNecesidad.DuracionEspecial" value="duracion"
              ng-change="solicitudNecesidad.duracionEspecialFunc(solicitudNecesidad.DuracionEspecial)" required>{{"DURACION"
            | translate}}
          </label>
          <label class="radio-inline">
            <input name="Duracion" type="radio" ng-model="solicitudNecesidad.DuracionEspecial" value="unico_pago"
              ng-change="solicitudNecesidad.duracionEspecialFunc(solicitudNecesidad.DuracionEspecial)" required>{{"UNICO_PAGO"
            | translate}}
          </label>
          <label class="radio-inline">
            <input name="Duracion" type="radio" ng-model="solicitudNecesidad.DuracionEspecial" value="agotar_presupuesto"
              ng-change="solicitudNecesidad.duracionEspecialFunc(solicitudNecesidad.DuracionEspecial)" required>{{"HASTA_AGOTAR_PRESUPUESTO"
            | translate}}
          </label>
        </ng-form>

        <div ng-show="solicitudNecesidad.ver_duracion_fecha">
          <div class="form-group">
            <label class="col-sm-1 control-label">{{"AÑOS" | translate}}</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" placeholder="Años" maxlength="4" ng-model="solicitudNecesidad.anos"
                ng-change="solicitudNecesidad.duracionEspecialFunc(solicitudNecesidad.DuracionEspecial)" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" />

            </div>
            <label class="col-sm-1 control-label">{{"MESES" | translate}}</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" placeholder="Meses" ng-model="solicitudNecesidad.meses" ng-change="solicitudNecesidad.duracionEspecialFunc(solicitudNecesidad.DuracionEspecial)"
                onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" />
            </div>

            <label class="col-sm-1 control-label">{{"DIAS" | translate}}</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" placeholder="Dias" ng-model="solicitudNecesidad.dias" ng-change="solicitudNecesidad.duracionEspecialFunc(solicitudNecesidad.DuracionEspecial)"
                onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" />
            </div>
          </div>
        </div>

        <!--Avances-->
        <ng-form name="avances" class="form-group" ng-if="solicitudNecesidad.forms.Avances">
          <legend class="text-primary" ng-click="solicitudNecesidad.validar_formu(avances)">{{"AVANCES"
            | translate}} <span class="fa fa-plus pull-right" ng-show="responsables.open"></span> <span class="fa fa-minus pull-right"
              ng-show="!avances.open"></span></legend>
          <div class="panel-body">
            <lista-avances class="col-md-12" data="solicitudNecesidad.avance"></lista-avances>
          </div>
        </ng-form>

        <!-- Responsables -->
        <ng-form name="responsables" class="form-group" ng-if="solicitudNecesidad.forms.Responsables">
          <legend class="text-primary" ng-click="solicitudNecesidad.validar_formu(responsables)">{{"RESPONSABLES"
            | translate}} <span class="fa fa-plus pull-right" ng-show="responsables.open"></span> <span class="fa fa-minus pull-right"
              ng-show="!responsables.open"></span></legend>

          <div class="panel-body" ng-hide="responsables.open">

            <div class="col-md-6" ng-if="solicitudNecesidad.field.Responsables.DependenciaSolicitante">
              <label class="control-label">{{'DEPENDENCIA_SOLICITANTE' | translate}}</label>
              <span class="form-control">{{solicitudNecesidad.dependencia_solicitante.Nombre}}</span>
            </div>

            <div class="col-md-6" ng-if="solicitudNecesidad.field.Responsables.JefeDependenciaSolicitante">
              <label for="jefe_solicitante" class="control-label">{{"JEFE_DEPENDENCIA_SOLICITANTE" | translate}}</label>
              <span class="form-control">{{solicitudNecesidad.persona_solicitante.PrimerNombre}}
                {{solicitudNecesidad.persona_solicitante.SegundoNombre}}
                {{solicitudNecesidad.persona_solicitante.PrimerApellido}}
                {{solicitudNecesidad.persona_solicitante.SegundoApellido}}</span>
            </div>

            <div class="col-md-6" ng-if="solicitudNecesidad.field.Responsables.DependenciaDestino">
              <label for="dep_destino" class="control-label">{{"DEPENDENCIA_DESTINO" | translate}}</label>
              <small>*{{"OBLIGATORIO" | translate}}</small>
              <select class="form-control" ng-model="solicitudNecesidad.dependencia_destino" ng-options="depd.Id as depd.Nombre for depd in solicitudNecesidad.dependencia_data"
                required>
                <option value="" disabled selected>{{"SELECCIONAR" | translate}} {{"DEPENDENCIA_DESTINO" | translate}}</option>
              </select>
            </div>

            <div class="col-md-6" ng-if="solicitudNecesidad.field.Responsables.JefeDependenciaDestino">
              <label for="jefe_solicitante" class="control-label">{{"JEFE_DEPENDENCIA_DESTINO" | translate}}</label>
              <span class="form-control">{{solicitudNecesidad.jefe_destino.PrimerNombre}}
                {{solicitudNecesidad.jefe_destino.SegundoNombre}} {{solicitudNecesidad.jefe_destino.PrimerApellido}}
                {{solicitudNecesidad.jefe_destino.SegundoApellido}}</span>
            </div>

            <div class="col-md-6" ng-if="solicitudNecesidad.field.Responsables.RolOrdenadorGasto">
              <label for="ordenador_gasto" class="control-label">{{"ROL" | translate}} {{"ORDENADOR_GASTO" |
                translate}}</label>
              <small>*{{"OBLIGATORIO" | translate}}</small>
              <select class="form-control" ng-model="solicitudNecesidad.rol_ordenador_gasto" ng-options="ord.DependenciaId as ord.Cargo for ord in solicitudNecesidad.ordenador_gasto_data"
                required>
                <option value="" disabled selected>{{"SELECCIONAR" | translate}} {{"ROL" | translate}}
                  {{"ORDENADOR_GASTO" | translate}}</option>
              </select>
            </div>

            <div class="col-md-6" ng-if="solicitudNecesidad.field.Responsables.OrdenadorGasto">
              <label for="rol_ordenador_gasto" class="control-label">{{"ORDENADOR_GASTO" | translate}}</label>
              <span class="form-control">{{solicitudNecesidad.ordenador_gasto.PrimerNombre}}
                {{solicitudNecesidad.ordenador_gasto.SegundoNombre}}
                {{solicitudNecesidad.ordenador_gasto.PrimerApellido}}
                {{solicitudNecesidad.ordenador_gasto.SegundoApellido}}</span>
            </div>
          </div>
        </ng-form>

        <!--  General -->
        <ng-form name="general" class="form-group" ng-if="solicitudNecesidad.forms.General">
          <legend class="text-primary" ng-click="solicitudNecesidad.validar_formu(general)">{{"GENERAL"
            | translate}}
            <span class="fa fa-plus pull-right" ng-show="general.open"></span> <span class="fa fa-minus pull-right"
              ng-show="!general.open"></span>
          </legend>

          <div class="panel-body" ng-hide="general.open">

            <div class="col-md-6" ng-show="solicitudNecesidad.field.General.PlanAnualAdquisiciones">
              <label class="control-label">{{"PLAN_ANUAL_ADQUISICIONES" | translate}}</label>
              <small>*{{"OBLIGATORIO" | translate}}</small>
              <select class="form-control" ng-model="solicitudNecesidad.necesidad.PlanAnualAdquisiciones" ng-options="pa.Id as pa.Nombre for pa  in solicitudNecesidad.planes_anuales"
                required>
                <option value="" disabled selected>{{"SELECCIONAR" | translate}} {{"PLAN_ANUAL_ADQUISICIONES" |
                  translate}}</option>
              </select>
            </div>

            <div class="col-md-6" ng-if="solicitudNecesidad.field.General.UnidadEjecutora">
              <label class="control-label">{{"UNIDAD_EJECUTORA" | translate}}</label>
              <small>*{{"OBLIGATORIO" | translate}}</small>
              <select class="form-control" ng-model="solicitudNecesidad.necesidad.UnidadEjecutora" ng-options="ue.Id as ue.Nombre for ue in solicitudNecesidad.unidad_ejecutora_data"
                required>
                <option value="" disabled selected>{{"SELECCIONAR" | translate}} {{"UNIDAD_EJECUTORA" | translate}}</option>
              </select>
            </div>

            <div class="col-md-6" ng-if="solicitudNecesidad.field.General.EstudioMercado" ng-class="{ 'has-error' : solicitudform.estudio_mercados.$invalid && !solicitudform.estudio_mercados.$pristine }">
              <label for="estudio_mercados" class="control-label">{{"ESTUDIO_MERCADO" | translate}}</label>
              <small>*{{"OBLIGATORIO" | translate}}</small>
              <textarea name="estudio_mercados" type="text" class="form-control" maxlength="600" ng-model="solicitudNecesidad.necesidad.EstudioMercado"
                placeholder="Estudio de Mercado" rows="6" required></textarea>
            </div>
            <div class="alert alert-danger" ng-show="userForm.estudio_mercados.$invalid && !userForm.estudio_mercados.$pristine"
              role="alert">
              <strong>Error!</strong> Campo requerido
            </div>

            <div class="col-md-6" ng-if="solicitudNecesidad.field.General.AnalisisRiesgo">
              <label for="analisis_riesgos" class="control-label">{{"ANALISIS_RIESGOS" | translate}}</label>
              <small>*{{"OBLIGATORIO" | translate}}</small>
              <textarea type="text" class="form-control" maxlength="600" ng-model="solicitudNecesidad.necesidad.AnalisisRiesgo"
                placeholder="Análisis de riesgos" rows="6" required></textarea>
            </div>

            <div class="col-md-6" ng-if="solicitudNecesidad.field.General.ModalidadSeleccion">
              <label for="modalidad_seleccion" class=" control-label">{{"MODALIDAD_SELECCION" | translate}}</label>
              <small>*{{"OBLIGATORIO" | translate}}</small>
              <select class="form-control" ng-model="solicitudNecesidad.necesidad.ModalidadSeleccion" ng-options="mod as mod.Id+'-'+mod.Nombre for mod in solicitudNecesidad.modalidad_data track by mod.Id"
                required>
                <option value="">{{"SELECCIONAR" | translate}} {{"MODALIDAD_SELECCION" | translate}}</option>
              </select>
            </div>

            <div class="col-md-6" ng-if="solicitudNecesidad.field.General.Supervisor">
              <label for="supervisor" class="control-label">{{"SUPERVISOR" | translate}}</label>
              <select class="form-control" ng-model="solicitudNecesidad.necesidad.Supervisor" ng-options="sup.Id*1 as sup.PrimerNombre+' '+sup.SegundoNombre+' '+sup.PrimerApellido+' '+sup.SegundoApellido for sup in solicitudNecesidad.persona_data">
                <option value="" disabled selected>{{"SELECCIONAR" | translate}} {{"SUPERVISOR" | translate}}</option>
              </select>
            </div>
          </div>
        </ng-form>

        <!-- Objeto contractual -->
        <ng-form name="objetoContractual" class="form-group" ng-if="solicitudNecesidad.forms.ObjetoContractual">
          <legend class="text-primary" ng-click="solicitudNecesidad.validar_formu(objetoContractual)">
            {{"OBJETO_CONTRACTUAL" | translate}}<span class="fa fa-plus pull-right" ng-show="objetoContractual.open"></span>
            <span class="fa fa-minus pull-right" ng-show="!objetoContractual.open"></span></legend>

          <div class="panel-body" ng-hide="objetoContractual.open">

            <div class="col-md-6" ng-if="solicitudNecesidad.field.ObjetoContractual.ObjetoContrato">
              <label for="objeto" class="control-label">{{"OBJETO_CONTRATO" | translate}}</label>
              <small>*{{"OBLIGATORIO" | translate}}</small>
              <textarea type="text" class="form-control" rows="6" maxlength="800" ng-model="solicitudNecesidad.necesidad.Objeto"
                placeholder="Objeto de Contrato" required></textarea>
            </div>

            <div class="col-md-6" ng-if="solicitudNecesidad.field.ObjetoContractual.JustificacionContrato">
              <label for="justificacion" class="control-label">{{"JUSTIFICACION_CONTRATO" | translate}}</label>
              <small>*{{"OBLIGATORIO" | translate}}</small>
              <textarea type="text" class="form-control" rows="6" maxlength="600" ng-model="solicitudNecesidad.necesidad.Justificacion"
                placeholder="Justificación de Contrato" required></textarea>
            </div>

          </div>
        </ng-form>

        <!-- Marco legal -->
        <ng-form name="marcoLegal" class="form-group" ng-if="solicitudNecesidad.forms.MarcoLegal">
          <legend class="text-primary" ng-click="solicitudNecesidad.validar_formu(marcoLegal)">
            {{"MARCO_LEGAL" | translate}}<span class="fa fa-plus pull-right" ng-show="marcoLegal.open"></span> <span
              class="fa fa-minus pull-right" ng-show="!marcoLegal.open"></span></legend>
          <div ng-bind-html="solicitudNecesidad.MarcoLegalNecesidadText" style="text-align: justify">
          </div>
          <div class="panel-body" ng-hide="marcoLegal.open">
            <lista-documentos-legales class="col-md-12" documentos="solicitudNecesidad.documentos"></lista-documentos-legales>
            <!-- <div class="col-md-6 form-group">
              <h4>{{"DOCUMENTOS" | translate}}</h4>
              <ul class="list-group">
                <li class="list-group-item" ng-repeat="doc in solicitudNecesidad.documentos track by $index">
                  <label><span class="text-info">{{$index+1}}. </span>{{doc.NombreDocumento}}</label>
                  <a href="{{doc.Enlace}}" class="pull-right">{{"ENLACE" | translate}}</a>
                </li>
              </ul>
            </div> -->
          </div>
        </ng-form>

        <!-- Especificaciones -->
        <ng-form name="especificaciones" class="form-group" ng-if="solicitudNecesidad.forms.Especificaciones">
          <legend class="text-primary" ng-click="solicitudNecesidad.validar_formu(especificaciones)">{{"ESPECIFICACIONES"
            | translate}}<span class="fa fa-plus pull-right" ng-show="especificaciones.open"></span> <span class="fa fa-minus pull-right"
              ng-show="!especificaciones.open"></span></legend>
          <div class="panel-body" ng-hide="especificaciones.open">

            <div class="col-md-12">
              <label class=" control-label">{{"TIPO_CONTRATO_NECESIDAD" | translate}}</label>
              <small>*{{"OBLIGATORIO" | translate}}</small>
              <!-- Filtra tipo necesidad no aplica Tipo necesidad == 3 -->
              <select class="form-control" ng-model="solicitudNecesidad.necesidad.TipoContratoNecesidad" ng-options="tipoc as tipoc.Nombre for tipoc in solicitudNecesidad.tipo_contrato_data | filter:{Id :'!3'} track by tipoc.Id "
                required>
                <option value="TODO" disabled selected>{{"SELECCIONAR" | translate}} {{"TIPO_CONTRATO_NECESIDAD" |
                  translate}}</option>
              </select>
            </div>

            <!-- Tipo contrato necesidad === (servicio || Compra y Servicio)-->
            <div ng-if="solicitudNecesidad.necesidad.TipoContratoNecesidad.Id===2 || solicitudNecesidad.necesidad.TipoContratoNecesidad.Id===4">

              <div class="col-md-6">
                <label for="perfil" class="control-label">{{"PERFIL" | translate}}</label>
                <select class="form-control" ng-model="solicitudNecesidad.detalle_servicio_necesidad.Perfil" ng-options="parames.Id as parames.ValorParametro for parames in solicitudNecesidad.parametro_estandar_data">
                  <option value="" disabled selected>{{"SELECCIONAR" | translate}} {{"PERFIL" | translate}}</option>
                </select>
              </div>

              <div class="col-md-6">
                <label class=" control-label">{{"NUCLEO_CONOCIMIENTO_AREA" | translate}}</label>
                <select class="form-control" ng-model="solicitudNecesidad.nucleoarea" ng-options="nucleoa.Id as nucleoa.Nombre for nucleoa in solicitudNecesidad.nucleo_area_data">
                  <option value="" disabled selected>{{"SELECCIONAR" | translate}} {{"EL_TIPO_DE" | translate}}
                    {{"NUCLEO_CONOCIMIENTO_AREA" | translate}}</option>
                </select>
              </div>

              <div class="col-md-6">
                <!-- ng-show="solicitudNecesidad.nucleoarea!=undefined" -->
                <label class="control-label">{{"NUCLEO_CONOCIMIENTO" | translate}}</label>
                <select class="form-control" ng-model="solicitudNecesidad.detalle_servicio_necesidad.NucleoConocimiento"
                  ng-options="nucleoc.Id*1 as nucleoc.Nombre for nucleoc in solicitudNecesidad.nucleo_conocimiento_data">
                  <option value="" disabled selected>{{"SELECCIONAR" | translate}} {{"EL_TIPO_DE" | translate}}
                    {{"NUCLEO_CONOCIMIENTO" | translate}}</option>
                </select>
              </div>

              <div class="col-md-6">
                <label class="control-label">{{"CANTIDAD" | translate}}</label>
                <input class="form-control" ng-model="solicitudNecesidad.detalle_servicio_necesidad.Cantidad"
                  placeholder="Cantidad" ui-number-mask="0">
              </div>

              <div class="col-md-12">
                <label for="objeto" class="control-label">{{"ACTIVIDADES_ESPECIFICAS" | translate}}</label>
                <div>
                  <ul class="list-group">
                    <li class="list-group-item row" ng-repeat="actesp in solicitudNecesidad.ActividadEspecifica">
                      <label class="col-md-11"><span class="text-info">{{$index+1}}. </span>{{actesp.Descripcion}}</label>
                      <div class="col-md-1 text-right">
                        <button type="button" class="btn btn-danger" ng-click="solicitudNecesidad.eliminarActividad(actesp)"
                          aria-label="Left Align">
                          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                      </div>
                    </li>
                  </ul>
                </div>
                <textarea type="text" class="form-control" rows="6" ng-model="solicitudNecesidad.actividad_esp"
                  placeholder="Descripcion actividad"></textarea>
              </div>
              <div class="col-md-12">
                <div style="text-align: center">
                  <button type="button" class="btn btn-primary btn-outline" ng-click="solicitudNecesidad.actividad_esp!=undefined && solicitudNecesidad.agregarActEsp(solicitudNecesidad.actividad_esp);solicitudNecesidad.actividad_esp=undefined">{{"AGREGAR"
                    | translate}}</button>
                </div>
                <br>
              </div>

              <!-- Actividades economicas -->
              <div class="col-md-12">
                <div class="col-md-6">
                  <lista-actividades-economicas actividades="solicitudNecesidad.actividades_economicas" id_actividades="solicitudNecesidad.actividades_economicas_id"></lista-actividades-economicas>
                </div>
                <div class="col-md-6">
                  <label for="objeto" class="control-label">{{"ACTIVIDADES_ECONOMICAS" | translate}}</label>
                  <ul class="list-group">
                    <li class="list-group-item" ng-repeat="act in solicitudNecesidad.actividades_economicas">
                      <label><span class="text-info">{{$index+1}}. </span>{{act.Id}} - {{act.Nombre}}</label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!--Revisar con nueva estructura Arka -->
            <!-- Tipo contrato necesidad === (compra || Compra y Servicio)-->
            <div class="form-group" ng-if="solicitudNecesidad.necesidad.TipoContratoNecesidad.Id===1 || solicitudNecesidad.necesidad.TipoContratoNecesidad.Id===4">
              <div class="col-md-12">
                <lista-subgrupos-catalogos productos="solicitudNecesidad.productos"></lista-subgrupos-catalogos>
              </div>
              <h4>{{"ELEMENTOS" | translate}}</h4>

              <div class="col-md-4" ng-repeat="pro in solicitudNecesidad.productos">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <label><span class="text-info">{{$index+1}}. </span>{{pro.ElementoNombre}}</label>
                  </div>
                  <div class="panel-body">
                    <label class=" control-label">{{"ELEMENTO" | translate}}</label>
                    {{pro.i=$index+1}}
                    <textarea ng-model="pro.Elemento" class="form-control" maxlength="200" placeholder="Elemento (Descripción)"></textarea>
                    <label class=" control-label">{{"UNIDAD_MEDIDA" | translate}}</label>
                    <select class="form-control" ng-model="pro.Unidad" ng-options="unidad.Id as unidad.Unidad for unidad in solicitudNecesidad.unidad_data">
                      <option value="" disabled selected>{{"SELECCIONAR" | translate}} {{"UNIDAD_MEDIDA" | translate}}</option>
                    </select>

                    <label class=" control-label">{{"VALOR_UNITARIO" | translate}}</label>
                    <input class="form-control" ng-init="pro.Valor = 0" ng-model="pro.Valor;" placeholder="Valor Unitario"
                      ui-money-mask="0">

                    <label class=" control-label">{{"IVA" | translate}} %</label>
                    <select class="form-control" ng-model="pro.Iva" ng-options="iva.Id as iva.Valor for iva in solicitudNecesidad.iva_data">
                      <option value="" disabled selected>{{"SELECCIONAR" | translate}} {{"IVA" | translate}} %</option>
                    </select>

                    <label class=" control-label">{{"VALOR_IVA" | translate}}</label>
                    <input class="form-control" ng-model="(pro.Valor * 0.19)" placeholder="valor_con_iva" ui-money-mask="0"
                      readonly>

                    <label class=" control-label">{{"PRECIO_MAS_IVA" | translate}}</label>
                    <input class="form-control" ng-model="(pro.Valor * 0.19) + pro.Valor" placeholder="valor_con_iva"
                      ui-money-mask="0" readonly>

                    <label class=" control-label">{{"CANTIDAD" | translate}}</label>
                    <input class="form-control" ng-model="pro.Cantidad" placeholder="Cantidad de Elementos"
                      ui-number-mask="0">

                    <label class=" control-label">{{"TOTAL" | translate}}</label>
                    <input class="form-control" ng-model="((pro.Valor * 0.19) + pro.Valor)*pro.Cantidad" placeholder="Total"
                      ui-money-mask="0" readonly>


                    <label for="objeto" class="control-label">{{"REQUISITOS_MINIMOS" | translate}}</label>

                    <div>
                      <ul class="list-group">
                        <li class="list-group-item" ng-repeat="reqmin in solicitudNecesidad.requisitos_minimos " ng-if="reqmin.reqi == pro.i">
                          <button type="button" class="btn btn-danger btn-sm col-md-offset-11" ng-click="solicitudNecesidad.eliminarRequisito(reqmin)"
                            aria-label="Left Align">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                          </button>
                          <label style="display:block;"><span class="text-info"></span>{{reqmin.requisito}}</label>
                        </li>
                      </ul>
                    </div>
                    <textarea type="text" class="form-control" rows="6" ng-model="pro.requisitomin" placeholder="Requisito mínimo"></textarea>


                    <div class="form-group">
                      <div style="text-align: center">
                        <button type="button" class="btn btn-primary btn-outline" ng-click="solicitudNecesidad.requisitos_minimos.push({id: $index + 1 , requisito: pro.requisitomin , reqi: pro.i});pro.requisitomin=''">{{"AGREGAR"
                          | translate}}</button>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </ng-form>

        <!-- Financiación -->
        <ng-form name="financiacion" class="form-group" ng-if="solicitudNecesidad.forms.General && solicitudNecesidad.necesidad.UnidadEjecutora!=undefined">
          <legend class="text-primary" ng-click="solicitudNecesidad.validar_formu(financiacion)">{{"FINANCIACION" |
            translate}}<span class="fa fa-plus pull-right" ng-show="financiacion.open"></span> <span class="fa fa-minus pull-right"
              ng-show="!financiacion.open"></span></legend>

          <div class="panel-body" ng-hide="financiacion.open">

            <div class="form-group">
              <label class=" control-label">{{"TIPO_FINANCIACION" | translate}}</label>
              <small>*{{"OBLIGATORIO" | translate}}</small>
              <select class="form-control" ng-model="solicitudNecesidad.necesidad.TipoFinanciacionNecesidad" ng-options="tipof.Nombre for tipof in solicitudNecesidad.tipo_financiacion_data track by tipof.Id"
                required>
                <option value="" disabled selected>{{"SELECCIONAR" | translate}} {{"TIPO_FINANCIACION" | translate}}</option>
              </select>
            </div>

            <div class="form-group" ng-show="solicitudNecesidad.necesidad.TipoFinanciacionNecesidad!=undefined">
              <label class=" control-label">{{"SELECCIONAR" | translate}} {{"APROPIACIONES" | translate}}</label>

              <div>
                <div class="form-group" ng-if="solicitudNecesidad.necesidad.TipoFinanciacionNecesidad.Nombre">
                  <lista-apropiaciones vigencia=solicitudNecesidad.vigencia tipo="solicitudNecesidad.necesidad.TipoFinanciacionNecesidad.Nombre=='Inversion'?'3-3':'3-1'"
                    apropiacion="solicitudNecesidad.apro" unidadejecutora=solicitudNecesidad.necesidad.UnidadEjecutora
                    tipofinanciacion=solicitudNecesidad.necesidad.TipoFinanciacionNecesidad selhijos="true"></lista-apropiaciones>
                  <div style="text-align:center;">
                    <button type="button" class="btn btn-success btn-outline" ng-click="solicitudNecesidad.agregar_ffapropiacion(solicitudNecesidad.apro)">
                      {{"AGREGAR" | translate}}
                    </button>
                  </div>
                </div>

                <div class="panel panel-body col-md-12" ng-repeat="ap in solicitudNecesidad.f_apropiacion">
                  <button type="button" class="btn btn-danger btn-sm col-md-offset-11" ng-click="solicitudNecesidad.eliminarRubro(ap)"
                    aria-label="Left Align">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>

                  <label><span class="text-success">{{$index+1}}.</span> {{ap.aprop.Rubro.Nombre}}</label>
                  <br>
                  <div class="row">
                  <div class="col-md-6">
                    <fuentes-apropiacion apropiacion="ap.Apropiacion" fuenteapropiacion="ap.fuentes"
                      init-fuenteapropiacion="ap.initFuentes" dependenciasolicitante="solicitudNecesidad.dependencia_solicitante_data.DependenciaId"></fuentes-apropiacion>
                  </div>

                  <ul class="list-group col-md-6">
                    <li class="list-group-item">

                      <label class="text-info">{{"VALOR_SOLICITADO" | translate}}</label>{{ap.MontoPorApropiacion | currency}}

                    <li class="list-group-item" ng-repeat="fu in ap.fuentes">
                      <label class="text-warning">{{"FUENTE" | translate}}</label>
                      {{fu.FuenteFinanciamiento.Descripcion}}
                      <br>
                      <label class="text-warning">{{"VALOR_SOLICITADO" | translate}}</label>
                      <input type="text" ng-init="fu.MontoParcial = fu.MontoParcial ? fu.MontoParcial : 0" ng-model="fu.MontoParcial" ui-money-mask="0">
                      <br>
                    </li>
                    </li>
                  </ul>
                </div>
                  <div class="row">
                    <div class="col-md-6">
                      <productos-apropiacion rubro="ap.aprop.Rubro.Id" productoapropiacion="ap.productos"
                        init-productoapropiacion="ap.initProductos"></productos-apropiacion>
                    </div>
                    <ul class="list-group col-md-6">
                      <li class="list-group-item" ng-repeat="prod in ap.productos">
                        <label class="text-warning">{{prod.Producto.Nombre}}</label>
                        {{prod.Producto.Descripcion}}
                      </li>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="form-group">
                  <label>{{"TOTAL_FINANCIACION" | translate}} </label> {{solicitudNecesidad.f_valor | currency}} <br>
                  <div ng-show="solicitudNecesidad.MostrarTotalEspc"><label> Total especificaciones: </label>
                    {{solicitudNecesidad.valorTotalEspecificaciones | currency}}</div>
                </div>
              </div>

            </div>
          </div>
        </ng-form>
        <fieldset>
          <div style="text-align: center">
            <input type="submit" class="btn btn-success btn-outline " name="button" value="{{'REGISTRAR' | translate }}" />
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>

</html>