<!DOCTYPE html>
<html>
<div class="panel panel-primary panel-body" style="padding:30px;">

  <center>
    <h3 class="page-header">{{"SOLICITUD_NECESIDAD" | translate}}</h3></center>

  <div>
    <div class="panel-body">

      <form name="solicitudform" class="form-horizontal" ng-submit="solicitudform.$valid && solicitudNecesidad.crear_solicitud()" novalidate>

        <div align="center">
          <div class="form-group">
            <label class="radio-inline">
              <input type="radio" ng-model="value" value="duracion" ng-change="solicitudNecesidad.duracionEspecial(value)">{{"DURACION" | translate}}
            </label>
            <label class="radio-inline">
              <input type="radio" ng-model="value" value="unico_pago" ng-change="solicitudNecesidad.duracionEspecial(value)" ng-checked="true">{{"UNICO_PAGO" | translate}}
            </label>
            <label class="radio-inline">
              <input type="radio" ng-model="value" value="agotar_presupuesto" ng-change="solicitudNecesidad.duracionEspecial(value)">{{"HASTA_AGOTAR_PRESUPUESTO" | translate}}
            </label>
          </div>
        </div>
        <br />
        <div ng-show="solicitudNecesidad.ver_duracion_fecha">
          <div class="form-group">
            <label class="col-sm-1 control-label">{{"AÑOS" | translate}}</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" placeholder="Años" maxlength="4" ng-model="solicitudNecesidad.anos" ng-change="solicitudNecesidad.calculo_total_dias()" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
              />

            </div>
            <label class="col-sm-1 control-label">{{"MESES" | translate}}</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" placeholder="Meses" ng-model="solicitudNecesidad.meses" ng-change="solicitudNecesidad.calculo_total_dias()" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
              />
            </div>

            <label class="col-sm-1 control-label">{{"DIAS" | translate}}</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" placeholder="Dias" ng-model="solicitudNecesidad.dias" ng-change="solicitudNecesidad.calculo_total_dias()" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
              />
            </div>
          </div>
        </div>

        <fieldset class="form-group">
          <legend class="text-primary" ng-click="info_responsables=!info_responsables">{{"RESPONSABLES" | translate}} <span class="fa fa-plus pull-right" ng-show="!info_responsables"></span> <span class="fa fa-minus pull-right" ng-show="info_responsables"></span></legend>

          <div class="panel-body" ng-show="info_responsables">

            <div class="col-sm-6">
              <label class="control-label">{{'DEPENDENCIA_SOLICITANTE' | translate}}</label>
              <span class="form-control">{{solicitudNecesidad.dependencia_solicitante.Nombre}}</span>
            </div>

            <div class="col-md-6">
              <label for="jefe_solicitante" class="control-label">{{"JEFE_DEPENDENCIA_SOLICITANTE" | translate}}</label>
              <span class="form-control">{{solicitudNecesidad.persona_solicitante.PrimerNombre}} {{solicitudNecesidad.persona_solicitante.SegundoNombre}} {{solicitudNecesidad.persona_solicitante.PrimerApellido}} {{solicitudNecesidad.persona_solicitante.SegundoApellido}}</span>
            </div>

            <div class="col-md-6">
              <label for="dep_destino" class="control-label">{{"DEPENDENCIA_DESTINO" | translate}}</label>
              <select class="form-control" ng-model="solicitudNecesidad.dependencia_destino" ng-options="depd.Id as depd.Nombre for depd in solicitudNecesidad.dependencia_data">
                <option value="" disabled selected>{{"SELECCIONAR" | translate}} {{"DEPENDENCIA_DESTINO" | translate}}</option>
              </select>
            </div>

            <div class="col-md-6">
              <label for="jefe_solicitante" class="control-label">{{"JEFE_DEPENDENCIA_DESTINO" | translate}}</label>
              <span class="form-control">{{solicitudNecesidad.jefe_destino.PrimerNombre}} {{solicitudNecesidad.jefe_destino.SegundoNombre}} {{solicitudNecesidad.jefe_destino.PrimerApellido}} {{solicitudNecesidad.jefe_destino.SegundoApellido}}</span>
            </div>

            <div class="col-md-6">
              <label for="ordenador_gasto" class="control-label">{{"ROL" | translate}} {{"ORDENADOR_GASTO" | translate}}</label>
              <select class="form-control" ng-model="solicitudNecesidad.rol_ordenador_gasto" ng-options="ord.DependenciaId as ord.Cargo for ord in solicitudNecesidad.ordenador_gasto_data">
                <option value="" disabled selected>{{"SELECCIONAR" | translate}} {{"ROL" | translate}} {{"ORDENADOR_GASTO" | translate}}</option>
              </select>
            </div>

            <div class="col-md-6">
              <label for="rol_ordenador_gasto" class="control-label">{{"ORDENADOR_GASTO" | translate}}</label>
              <span class="form-control">{{solicitudNecesidad.ordenador_gasto.PrimerNombre}} {{solicitudNecesidad.ordenador_gasto.SegundoNombre}} {{solicitudNecesidad.ordenador_gasto.PrimerApellido}} {{solicitudNecesidad.ordenador_gasto.SegundoApellido}}</span>
            </div>

          </div>
        </fieldset>

        <fieldset class="form-group">
          <legend class="text-primary" ng-click="info_general=!info_general">{{"GENERAL" | translate}} <span class="fa fa-plus pull-right" ng-show="!info_general"></span> <span class="fa fa-minus pull-right" ng-show="info_general"></span></legend>

          <div class="panel-body" ng-show="info_general">
            <div class="form-group">
              <label class="control-label">{{"PLAN_ANUAL_ADQUISICIONES" | translate}}</label>
              <select class="form-control" ng-model="solicitudNecesidad.necesidad.PlanAnualAdquisiciones" ng-options="pa.Id as pa.Nombre for pa  in solicitudNecesidad.planes_anuales" required>
                <option value="" disabled selected>{{"SELECCIONAR" | translate}} {{"PLAN_ANUAL_ADQUISICIONES" | translate}}</option>
              </select>
            </div>

            <div class="form-group">
              <label class="control-label">{{"UNIDAD_EJECUTORA" | translate}}</label>
              <select class="form-control" ng-model="solicitudNecesidad.necesidad.UnidadEjecutora" ng-options="ue.Id as ue.Nombre for ue in solicitudNecesidad.unidad_ejecutora_data" required>
                <option value="" disabled selected>{{"SELECCIONAR" | translate}} {{"UNIDAD_EJECUTORA" | translate}}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="estudio_mercados" class="control-label">{{"ESTUDIO_MERCADO" | translate}}</label>
              <textarea type="text" class="form-control" maxlength="600" ng-model="solicitudNecesidad.necesidad.EstudioMercado" placeholder="Estudio de Mercado" rows="6" required></textarea>
            </div>


            <div class="form-group">
              <label for="analisis_riesgos" class="control-label">{{"ANALISIS_RIESGOS" | translate}}</label>
              <textarea type="text" class="form-control" maxlength="600" ng-model="solicitudNecesidad.necesidad.AnalisisRiesgo" placeholder="Análisis de riesgos" rows="6" required></textarea>
            </div>


            <div class="form-group">
              <label for="modalidad_seleccion" class=" control-label">{{"MODALIDAD_SELECCION" | translate}}</label>
              <select class="form-control" ng-model="solicitudNecesidad.necesidad.ModalidadSeleccion" ng-options="mod.Id+'-'+mod.Nombre for mod in solicitudNecesidad.modalidad_data" required>
                <option value="">{{"SELECCIONAR" | translate}} {{"MODALIDAD_SELECCION" | translate}}</option>
              </select>
            </div>



            <div class="form-group">
              <label for="supervisor" class="control-label">{{"SUPERVISOR" | translate}}</label>
              <select ng-init="solicitudNecesidad.supervisor_necesidad.Estado='activo'" class="form-control" ng-model="solicitudNecesidad.supervisor_necesidad.Funcionario" ng-options="sup.Id as sup.PrimerNombre+' '+sup.SegundoNombre+' '+sup.PrimerApellido+' '+sup.SegundoApellido for sup in solicitudNecesidad.persona_data">
                <option value="" disabled selected>{{"SELECCIONAR" | translate}} {{"SUPERVISOR" | translate}}</option>
              </select>
            </div>
          </div>
        </fieldset>


        <fieldset class="form-group">
          <legend class="text-primary" ng-click="info_objeto=!info_objeto">{{"OBJETO_CONTRACTUAL" | translate}}<span class="fa fa-plus pull-right" ng-show="!info_objeto"></span> <span class="fa fa-minus pull-right" ng-show="info_objeto"></span></legend>

          <div class="panel-body" ng-show="info_objeto">

            <div class="form-group">
              <label for="objeto" class="control-label">{{"OBJETO_CONTRATO" | translate}}</label>
              <textarea type="text" class="form-control" rows="6" maxlength="800" ng-model="solicitudNecesidad.necesidad.Objeto" placeholder="Objeto de Contrato" required></textarea>

            </div>

            <div class="form-group">
              <label for="justificacion" class="control-label">{{"JUSTIFICACION_CONTRATO" | translate}}</label>
              <textarea type="text" class="form-control" rows="6" maxlength="600" ng-model="solicitudNecesidad.necesidad.Justificacion" placeholder="Justificación de Contrato" required></textarea>
            </div>

          </div>
        </fieldset>

        <fieldset class="form-group">
          <legend class="text-primary" ng-click="info_legal=!info_legal">{{"MARCO_LEGAL" | translate}}<span class="fa fa-plus pull-right" ng-show="!info_legal"></span> <span class="fa fa-minus pull-right" ng-show="info_legal"></span></legend>

          <div class="panel-body" ng-show="info_legal">
            <lista-documentos-legales class="col-md-6" documentos="solicitudNecesidad.documentos"></lista-documentos-legales>
            <div class="col-md-6 form-group">
              <h4>{{"DOCUMENTOS" | translate}}</h4>
              <ul class="list-group">
                <li class="list-group-item" ng-repeat="doc in solicitudNecesidad.documentos track by $index">
                  <label><span class="text-info">{{$index+1}}. </span>{{doc.NombreDocumento}}</label>
                  <a href="{{doc.Enlace}}" class="pull-right">{{"ENLACE" | translate}}</a>
                </li>
              </ul>
            </div>
          </div>
        </fieldset>

        <fieldset class="form-group">
          <legend class="text-primary" ng-click="info_espf=!info_espf">{{"ESPECIFICACIONES" | translate}}<span class="fa fa-plus pull-right" ng-show="!info_espf"></span> <span class="fa fa-minus pull-right" ng-show="info_espf"></span></legend>

          <div class="panel-body" ng-show="info_espf">

            <div class="form-group">
              <label class=" control-label">{{"TIPO_SERVICIO" | translate}}</label>

              <select class="form-control" ng-model="solicitudNecesidad.necesidad.Servicio" ng-options="serv.Nombre for serv in solicitudNecesidad.servicio_data" required>
                <option value="" disabled selected>{{"SELECCIONAR" | translate}} {{"TIPO_SERVICIO" | translate}}</option>
              </select>
            </div>

            <div ng-show="solicitudNecesidad.necesidad.Servicio.Nombre=='Servicio'">

              <div class="form-group">
                <label for="perfil" class="control-label">{{"PERFIL" | translate}}</label>
                <select class="form-control" ng-model="solicitudNecesidad.servicio_necesidad.Perfil" ng-options="parames.Id as parames.ValorParametro for parames in solicitudNecesidad.parametro_estandar_data">
                  <option value="" disabled selected>{{"SELECCIONAR" | translate}} {{"PERFIL" | translate}}</option>
                </select>
              </div>

              <div class="form-group">
                <label class=" control-label">{{"SNIES_AREA" | translate}}</label>
                <select class="form-control" ng-model="solicitudNecesidad.snies" ng-options="snies.Id as snies.Nombre for snies in solicitudNecesidad.snies_data">
                  <option value="" disabled selected>{{"SELECCIONAR" | translate}} {{"EL_TIPO_DE" | translate}} {{"SNIES_AREA" | translate}}</option>
                </select>
              </div>

              <div class="form-group" ng-show="solicitudNecesidad.snies!=undefined">
                <label class=" control-label">{{"SNIES_NUCLEO_BASICO" | translate}}</label>
                <select class="form-control" ng-model="solicitudNecesidad.servicio_necesidad.SniesNucleo" ng-options="sniesnb.Id as sniesnb.Nombre for sniesnb in solicitudNecesidad.snies_nucleo_basico_data">
                  <option value="" disabled selected>{{"SELECCIONAR" | translate}} {{"EL_TIPO_DE" | translate}} {{"SNIES_NUCLEO_BASICO" | translate}}</option>
                </select>
              </div>

              <label class=" control-label">{{"CANTIDAD" | translate}}</label>
              <input class="form-control" ng-model="solicitudNecesidad.servicio_necesidad.Cantidad" placeholder="Cantidad" ui-number-mask="0">

              <div class="form-group">
                <label for="objeto" class="control-label">{{"ACTIVIDADES_ESPECIFICAS" | translate}}</label>
                <div>
                  <ul class="list-group">
                    <li class="list-group-item" ng-repeat="actesp in solicitudNecesidad.ActividadEspecifica">
                      <label><span class="text-info">{{$index+1}}. </span>{{actesp.Descripcion}}</label>
                    </li>
                  </ul>
                </div>
                <textarea type="text" class="form-control" rows="6" ng-model="solicitudNecesidad.actividad_esp" placeholder="Descripcion actividad"></textarea>
              </div>

              <div class="form-group">
                <center>
                  <button class="btn btn-primary btn-outline" ng-click="solicitudNecesidad.actividad_esp!=undefined && solicitudNecesidad.agregarActEsp(solicitudNecesidad.actividad_esp);solicitudNecesidad.actividad_esp=undefined">{{"AGREGAR" | translate}}</button>
                </center>
              </div>



              <div class="form-group">
                <div class="col-md-6">
                  <lista-actividades-economicas actividades="solicitudNecesidad.actividades_economicas"></lista-actividades-economicas>
                </div>
                <div class="col-md-6">
                  <label for="objeto" class="control-label">{{"ACTIVIDADES_ECONOMICAS" | translate}}</label>
                  <ul class="list-group">
                    <li class="list-group-item" ng-repeat="act in solicitudNecesidad.actividades_economicas">
                      <label><span class="text-info">{{$index+1}}. </span>{{act.Id}} - {{act.Nombre}}</label>
                    </li>
                  </ul>
                </div>
              </div>

            </div>

<!--Revisar con nueva estructura Arka -->
            <div class="form-group" ng-show="solicitudNecesidad.necesidad.Servicio.Nombre=='Compra'">
              <div class="col-md-12">
                <lista-subgrupos-catalogos productos="solicitudNecesidad.productos"></lista-subgrupos-catalogos>
              </div>
              <h4>{{"ELEMENTOS" | translate}}</h4>

              <div class="col-md-4" ng-repeat="pro in solicitudNecesidad.productos">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <label><span class="text-info">{{$index+1}}. </span>{{pro.ElementoNombre}}</label>
                  </div>
                  <div class="panel-body">
                    <label class=" control-label">{{"ELEMENTO" | translate}}</label>
                    {{pro.i=$index+1}}
                    <textarea ng-model="pro.Elemento" class="form-control" maxlength="200" placeholder="Elemento (Descripción)"></textarea>
                    <label class=" control-label">{{"UNIDAD_MEDIDA" | translate}}</label>
                    <select class="form-control" ng-model="pro.Unidad" ng-options="unidad.Id as unidad.Unidad for unidad in solicitudNecesidad.unidad_data">
                      <option value="" disabled selected>{{"SELECCIONAR" | translate}} {{"UNIDAD_MEDIDA" | translate}}</option>
                    </select>
                    <label class=" control-label">{{"VALOR_UNITARIO" | translate}}</label>
                    <input class="form-control" ng-model="pro.Valor" placeholder="Valor Unitario" ui-money-mask="0">

                    <label class=" control-label">{{"IVA" | translate}} %</label>
                    <select class="form-control" ng-model="pro.Iva" ng-options="iva.Id as iva.Valor for iva in solicitudNecesidad.iva_data">
                      <option value="" disabled selected>{{"SELECCIONAR" | translate}} {{"IVA" | translate}} %</option>
                    </select>

                    <label class=" control-label">{{"CANTIDAD" | translate}}</label>
                    <input class="form-control" ng-model="pro.Cantidad" placeholder="Cantidad de Elementos" ui-number-mask="0">

                    <!--label class=" control-label">{{"VALOR_IVA" | translate}}</label>
                    <span class="form-control">{{solicitudNecesidad.valor_iva}}</span>

                    <label class=" control-label">{{"VALOR_TOTAL" | translate}}</label>
                    <span class="form-control">{{solicitudNecesidad.valor_total}}</span-->


                    <label for="objeto" class="control-label">{{"REQUISITOS_MINIMOS" | translate}}</label>

                    <div>
                      <ul class="list-group">
                        <li class="list-group-item" ng-repeat="reqmin in solicitudNecesidad.requisitos_minimos " ng-if="reqmin.reqi == pro.i">
                          <label><span class="text-info"></span>{{reqmin.requisito}}</label>
                        </li>
                      </ul>
                    </div>
                    <textarea type="text" class="form-control" rows="6" ng-model="pro.requisitomin" placeholder="Requisito mínimo"></textarea>


                    <div class="form-group">
                      <center>
                        <button class="btn btn-primary btn-outline" ng-click="solicitudNecesidad.requisitos_minimos.push({id: $index + 1 , requisito: pro.requisitomin , reqi: pro.i});pro.requisitomin=''">{{"AGREGAR" | translate}}</button>
                      </center>
                    </div>
                  </div>

                </div>
              </div>
              <!--pre>Especificaciones: {{solicitudNecesidad.especificaciones | json}}</pre>
              <pre>Requisitos: {{solicitudNecesidad.requisitos | json}}</pre>
              <pre>Requisitomin: {{solicitudNecesidad.requisitos_minimos | json}}</pre>
              <pre>Productos: {{solicitudNecesidad.productos | json}}</pre-->
            </div>
          </div>
        </fieldset>

        <fieldset class="form-group">
          <legend class="text-primary" ng-click="info_finan=!info_finan">{{"FINANCIACION" | translate}}<span class="fa fa-plus pull-right" ng-show="!info_finan"></span> <span class="fa fa-minus pull-right" ng-show="info_finan"></span></legend>

          <div class="panel-body" ng-show="info_finan">

            <div class="form-group">
              <label class=" control-label">{{"TIPO_RUBRO" | translate}}</label>
              <select class="form-control" ng-model="solicitudNecesidad.necesidad.TipoRubro" ng-options="tipoff.Nombre for tipoff in solicitudNecesidad.tipos_fuentes_finan" required>
                <option value="" disabled selected>{{"SELECCIONAR" | translate}} {{"TIPO_RUBRO" | translate}}</option>
              </select>
            </div>

            <div class="form-group" ng-show="solicitudNecesidad.necesidad.TipoRubro!=undefined">
              <label class=" control-label">{{"SELECCIONAR" | translate}} {{"APROPIACIONES" | translate}}</label>

              <div ng-show="solicitudNecesidad.necesidad.TipoRubro.Nombre=='Inversión'">
                <lista-apropiaciones vigencia="2017" tipo="'3-3'" apropiacion="apro" selhijos="true"></lista-apropiaciones>
                <center>
                  <button type="button" class="btn btn-success btn-outline" ng-click="solicitudNecesidad.agregar_ffapropiacion(apro)">
                    {{"AGREGAR" | translate}}
                  </button>
                </center>


                <div class="form-group">

                  <div class="panel panel-body col-md-12" ng-repeat="ap in solicitudNecesidad.f_apropiacion_inv">

                    <label><span class="text-success">{{$index+1}}.</span> {{ap.aprop.Rubro.Descripcion}}</label>
                    <br>

                    <div class="col-md-6">
                      <fuentes-apropiacion apropiacion="ap.Apropiacion" fuenteapropiacion="ap.fuentes" dependenciasolicitante="solicitudNecesidad.dependencia_solicitante_data.DependenciaId"></fuentes-apropiacion>
                    </div>

                    <ul class="list-group col-md-6">
                      <li class="list-group-item">


                        <label class="text-info">{{"SALDO" | translate}}</label> {{ap.aprop.Saldo | currency}}
                        <br>
                        <label class="text-info">{{"VALOR_SOLICITADO" | translate}}</label>{{ap.MontoParcial | currency}}

                        <li class="list-group-item" ng-repeat="fu in ap.fuentes">
                          <label class="text-warning">{{"FUENTE" | translate}}</label> {{fu.FuenteFinanciamiento.Descripcion}}
                          <br>
                          <label class="text-warning">{{"VALOR_SOLICITADO" | translate}}</label>
                          <input type="text" ng-init="fu.Monto=0" ng-model="fu.Monto" ui-money-mask="0">
                          <br>
                        </li>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="form-group panel-body">
                  <label>{{"TOTAL_FINANCIACION" | translate}}</label> {{solicitudNecesidad.valor_inv | currency}}
                </div>

              </div>

              <div class="panel panel-body col-md-12" ng-show="solicitudNecesidad.necesidad.TipoRubro.Nombre=='Funcionamiento'">

                <div class="form-group">
                  <lista-apropiaciones vigencia="2017" tipo="'3-1'" apropiacion="apro" selhijos="true"></lista-apropiaciones>
                  <center>
                    <button type="button" class="btn btn-success btn-outline" ng-click="solicitudNecesidad.agregar_ffapropiacion(apro)">
                      {{"AGREGAR" | translate}}
                    </button>
                  </center>
                </div>

                <div class="form-group">
                  <div>
                    <ul class="list-group">
                      <li class="list-group-item" ng-repeat="ap in solicitudNecesidad.f_apropiacion_fun">

                        <label><span class="text-success">{{$index+1}}.</span> {{ap.aprop.Rubro.Descripcion}}</label>
                        <br>
                        <label class="text-info">{{"SALDO" | translate}}</label>
                        <input type="text" ng-model="ap.aprop.Saldo" ui-money-mask="0" readonly>
                        <br>
                        <label class="text-info">{{"VALOR_SOLICITADO" | translate}}</label>
                        <input type="text" ng-model="ap.MontoParcial" ui-money-mask="0">
                        <br>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="form-group">
                  <label>{{"TOTAL_FINANCIACION" | translate}} </label> {{solicitudNecesidad.valor_fun | currency}}
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <center>
            <input type="submit" class="btn btn-success btn-outline " name="button" value="REGISTRAR" />
          </center>
        </fieldset>
      </form>
    </div>
  </div>
</div>

</html>
