<!--<div class="panel panel-primary panel-body">-->

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="page-header">Necesidad {{verNecesidad.v_necesidad.NumeroElaboracion}} de {{verNecesidad.v_necesidad.Vigencia}}</h2>
    </div>
    <div class="panel-body col-md-offset-1">

      <label>Objeto</label>
        <p class="text-muted">
          {{verNecesidad.v_necesidad.Objeto}}
        </p>
      <label>Justificacion</label>
      <p class="text-muted">
        {{verNecesidad.v_necesidad.Justificacion}}
      </p>
    </div>

    <div class="panel-footer">
        Panel Footer
    </div>

  </div>

<!--</div>-->
