<fieldset class="form-group">
    <legend class="text-primary" ng-click="info_terceros=!info_terceros">{{"INFORMACION_AVANCE" | translate}} <span class="fa fa-plus pull-right" ng-show="!info_terceros"></span> <span class="fa fa-minus pull-right" ng-show="info_terceros"></span></legend>

    <div class="panel-body" ng-show="info_terceros">
        <div class="row">
            <div class="col-md-6">
                <label for="jefe_solicitante" class="control-label">{{"TIPO_DOCUMENTO" | translate}}</label>
                <span class="form-control">{{d_verSolicitud.solicitud.Tercero.tipo_documento}}</span>
            </div>

            <div class="col-md-6">
                <label for="dep_destino" class="control-label">{{"DOCUMENTO" | translate}}</label>
                <span class="form-control">{{d_verSolicitud.solicitud.Tercero.documento}}</span>
            </div>

            <div class="col-md-6">
                <label for="jefe_solicitante" class="control-label">{{"NOMBRE" | translate}}</label>
                <span class="form-control">{{d_verSolicitud.solicitud.Tercero.nombres}}</span>
            </div>

            <div class="col-md-6">
                <label for="ordenador_gasto" class="control-label">{{"APELLIDOS" | translate}}</label>
                <span class="form-control">{{d_verSolicitud.solicitud.Tercero.apellidos}}</span>
            </div>

            <div class="col-md-6">
                <label for="rol_ordenador_gasto" class="control-label">{{"DIRECCION" | translate}}</label>
                <span class="form-control">{{d_verSolicitud.solicitud.Tercero.direccion}}</span>
            </div>

            <div class="col-md-6">
                <label for="rol_ordenador_gasto" class="control-label">{{"CORREO_ELECTRONICO" | translate}}</label>
                <span class="form-control">{{d_verSolicitud.solicitud.Tercero.correo}}</span>
            </div>

            <div class="col-md-6">
                <label for="rol_ordenador_gasto" class="control-label">{{"NUMERO_TELEFONICO" | translate}}</label>
                <span class="form-control">{{d_verSolicitud.solicitud.Tercero.telefono}}</span>
            </div>

            <div class="col-md-6">
                <label for="rol_ordenador_gasto" class="control-label">{{"NUMERO_CELULAR" | translate}}</label>
                <span class="form-control">{{d_verSolicitud.solicitud.Tercero.celular}}</span>
            </div>
        </div>

    </div>
    <div class="panel-body" ng-show="info_terceros">
        <div class="row">
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="dep_destino" class="control-label">{{"OBJETIVO" | translate}}</label>
                <textarea class="form-control" ng-model="d_verSolicitud.solicitud.Objetivo" rows="5" disabled></textarea>
                <label for="dep_destino" class="control-label">{{"JUSTIFICACION" | translate}}</label>
                <textarea class="form-control" ng-model="d_verSolicitud.solicitud.Justificacion" rows="5" disabled></textarea>
            </div>
            <div class="col-md-6">
                <label for="ordenador_gasto" class="control-label">{{"DEPENDENCIA" | translate}}</label>
                <span class="form-control">NO APLICA</span>

                <label for="rol_ordenador_gasto" class="control-label">{{"FACULTAD" | translate}}</label>
                <textarea class="form-control" ng-model="d_verSolicitud.solicitud.Tercero.facultad" rows="2" disabled></textarea>

                <label for="rol_ordenador_gasto" class="control-label">{{"PROYECTO_CURRICULAR" | translate}}</label>
                <textarea class="form-control" ng-model="d_verSolicitud.solicitud.Tercero.carrera" rows="2" disabled></textarea>

                <label for="rol_ordenador_gasto" class="control-label">{{"CONVENIO" | translate}}</label>
                <div class="row">
                    <div class="col-md-4">
                        <span class="form-control">{{d_verSolicitud.solicitud.CodigoConvenio}}</span>
                    </div>
                    <div class="col-md-8">
                        <span class="form-control">{{d_verSolicitud.solicitud.Convenio}}</span>
                    </div>
                </div>

                <label for="rol_ordenador_gasto" class="control-label">{{"PROYECTO_INVESTIGACION" | translate}}</label>
                <div class="row">
                    <div class="col-md-4">
                        <span class="form-control">{{d_verSolicitud.solicitud.CodigoProyectoInv}}</span>
                    </div>
                    <div class="col-md-8">
                        <span class="form-control">{{d_verSolicitud.solicitud.ProyectoInv}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-body" ng-show="info_terceros">
        <div class="panel panel-default" ng-repeat="tipo in d_verSolicitud.solicitud.Tipos">
            <div class="panel-heading">
                {{tipo.TipoAvance.Nombre}}
            </div>
            <div class="panel-body">
                <div class="col-md-8">
                    {{tipo.Descripcion}}
                    <br> {{'REQUISITOS' | translate}}:
                    <ol>
                        <li ng-repeat="requisito in tipo.Requisitos" ng-if="requisito.RequisitoAvance.EtapaAvance.Nombre === 'Solicitud' ">
                            {{requisito.RequisitoAvance.Nombre}}
                        </li>
                    </ol>
                </div>
                <div class="col-md-4">
                    <h3>Valor: </h3> <span class="badge"><h5>{{tipo.Valor | currency}}</h5></span>
                </div>
            </div>
        </div>
        <div class="row" align="center">
            <h3>TOTAL: </h3> <span class="badge"><h5>{{d_verSolicitud.solicitud.Total | currency}}</h5></span>
        </div>
    </div>
</fieldset>