<div class="row">
  <div class="col-md-offset-3 col-sm-2">
    <small>{{'FORMATO_TEXTO' | translate }}:</small>
  </div>
  <div class="col-sm-3 row">
    <select class="form-control" ng-model="textoEnriquecido.op" ng-change="textoEnriquecido.opcionTexto()">
      <option ng-repeat="opcion in textoEnriquecido.opcionesTexto" value="{{opcion}}">{{opcion}}</option>
    </select>
  </div>
</div>
<div class="col-sm-12" style="margin-top:10px;">
  <textarea ng-show="textoEnriquecido.textoNormal" name="descripcion" ng-model="texto" rows=7 class="form-control" required>{{generacionPlantilla.textoOriginal}}</textarea>
  <text-angular ng-show="textoEnriquecido.textoHtml" ng-model="texto"></text-angular>
</div>
