<br>
<div class="panel panel-default" style="width:800px;height:400px">
    <div class="panel-heading">
            {{ 'CANCELAR_CONTRATO' | translate }} {{cancelarContratoDocente.idResolucion}}
    </div>
    <div class="panel-body">
       <div ui-grid="cancelarContratoDocente.datosPersonas" ui-grid-selection ui-grid-pagination class="grid"></div>
       <div class="col-md-offset-5 col-md-3">
        <br>
        <input type="button" value="{{ 'CANCELAR_CONTRATO' | translate }}" class="form-control btn btn-danger" ng-click="cancelarContratoDocente.cancelar()"/>
    </div>
    </div>
</div>
