<div class="panel panel-primary panel-body">
    <h3 class="page-header text-center">{{ 'INFORMACION_MODIFICACION' | translate }}</h3>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <legend class="text-primary" ng-click="info_basico=!info_basico">{{ 'DATOS_BASICOS' | translate }}<span class="fa fa-plus pull-right" ng-show="!info_basico"></span> <span class="fa fa-minus pull-right" ng-show="info_basico"></span></legend>
                    <div class="panel-body" ng-show="info_basico">
                        <form role="form">
                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <label>{{ 'VIGENCIA' | translate }}</label>
                                    <input type="number" class="form-control" ng-model="contratoRegistroHoras.contratoGeneralBase.Contrato.Vigencia" disabled>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>{{ 'FORMA_PAGO' | translate }}</label>
                                    <input type="text" class="form-control" ng-model="contratoRegistroHoras.forma_pago_defecto.Descripcion" disabled>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>{{ 'SEDE_SOLICITANTE' | translate }}</label>
                                    <input type="text" class="form-control" ng-model="contratoRegistroHoras.sede_solicitante_defecto" disabled>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>{{ 'DESCRIPCION_FORMA_PAGO' | translate }}</label>
                                    <input type="text" class="form-control" ng-model="contratoRegistroHoras.contratoGeneralBase.Contrato.DescripcionFormaPago" disabled>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>{{ 'UNIDAD_EJECUTORA' | translate }}</label>
                                    <input type="text" class="form-control" ng-model="contratoRegistroHoras.unidad_ejecutora_defecto.Nombre" disabled>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>{{ 'MARCO_LEGAL' | translate }}</label>
                                    <input type="text" class="form-control" ng-model="contratoRegistroHoras.regimen_contratacion_defecto.Descripcion" disabled>
                                </div>
                            </div>
                        </form>
                    </div>
                <legend class="text-primary" ng-click="info_secundarios=!info_secundarios">{{ 'JUSTIFICACION_Y_OBSERVACIONES' | translate }}<span class="fa fa-plus pull-right" ng-show="!info_secundarios"></span> <span class="fa fa-minus pull-right" ng-show="info_secundarios"></span></legend>
                    <div class="panel-body" ng-show="info_secundarios">
                        <form role="form">
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <label>{{ 'JUSTIFICACION' | translate }}</label>
                                    <textarea rows="4" type="text" class="form-control" ng-model="contratoRegistroHoras.contratoGeneralBase.Contrato.Justificacion"></textarea>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label>{{ 'OBSERVACIONES' | translate }}</label>
                                    <textarea rows="4" type="text" class="form-control" ng-model="contratoRegistroHoras.contratoGeneralBase.Contrato.Observaciones" required></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                <legend class="text-primary" ng-click="info_acta=!info_acta">{{ 'PERIODO_VINCULACION' | translate }}<span class="fa fa-plus pull-right" ng-show="!info_acta"></span> <span class="fa fa-minus pull-right" ng-show="info_acta"></span></legend>
                    <div class="panel-body" ng-show="info_acta">
                        <form role="form">
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label>{{ 'FECHA_INICIO' | translate }}</label>
                                    <md-datepicker ng-model="contratoRegistroHoras.acta.FechaInicio" md-current-view="year" md-placeholder="Elija fecha inicio" required></md-datepicker>
                                </div>
                                <div class="form-group col-lg-12">
                                        <label>{{ 'DESCRIPCION' | translate }}</label>
                                        <textarea rows="4" type="text" class="form-control" ng-model="contratoRegistroHoras.acta.Descripcion" required></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                <legend class="text-primary" ng-click="info_exp=!info_exp">{{ 'DATOS_EXPEDICION' | translate }}<span class="fa fa-plus pull-right" ng-show="!info_exp"></span> <span class="fa fa-minus pull-right" ng-show="info_exp"></span></legend>
                    <div class="panel-body" ng-show="info_exp">
                        <form role="form">
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label>{{ 'FECHA_EXPEDICION_VALIDA' | translate }}</label>
                                    <md-datepicker ng-model="contratoRegistroHoras.FechaExpedicion" md-current-view="year" md-date-filter="validarFecha" md-placeholder="Elija fecha" fecha-valida required></md-datepicker>
                                </div>
                                <div class="form-group col-lg-6">
                                        <label>{{ 'NUMERO_RESOLUCION' | translate }}</label>
                                        <input type="text" class="form-control" ng-model="contratoRegistroHoras.resolucionActual.NumeroResolucion" disabled>
                                </div>
                                <div class="form-group col-lg-6">
                                        <label>{{ 'TIPO_RESOLUCION' | translate }}</label>
                                        <input type="text" class="form-control" ng-model="contratoRegistroHoras.resolucionActual.IdTipoResolucion.NombreTipoResolucion" disabled>
                                </div>
                                <div class="form-group col-lg-6">
                                        <label>{{ 'NUMERO_SEMANAS' | translate }}</label>
                                        <input type="text" class="form-control" ng-model="contratoRegistroHoras.resolucionActual.NumeroSemanas" disabled>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="form-group col-lg-8 col-lg-offset-2"><input type="submit" class="form-control btn btn-success" value="{{'REALIZAR_EXPEDICION' | translate }}" ng-click="contratoRegistroHoras.realizarContrato()">
                </div>
            </div>
        </div>
    </div>
</div>
