<div class="panel panel-primary panel-body">
  <h2 class="page-header text-center">{{ 'DOCENTES_CONTRATADOS_ACTUAL' | translate }} </h2>
  <div class="panel-body">
    <md-tabs md-selected="contratoResumen.selectedIndex" md-dynamic-height md-autoselect>
    <md-tab ng-repeat="tab in contratoResumen.proyectos" label="{{tab.Nombre}}" ng-click="contratoResumen.refresh()">
    <div>
      <div class="panel-body">
        <div ui-grid="contratoResumen.precontratados" ui-grid-selection ui-grid-pagination class="grid"></div>
      </div>
    </div>
    </md-tab>
    </md-tabs>
  </div>
</div>
