<div class="panel panel-primary panel-body">
    <h3 class="page-header text-center">{{ 'INFORMACION_CANCELAR' | translate }}</h3>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <legend class="text-primary" ng-click="contratoRegistroCancelar.get_docentes_cancelados()" ng-click="contratoRegistroCancelar.get_docentes_cancelados()">{{ 'DOCENTES_DESVINCULAR' | translate }}<span class="fa fa-plus pull-right" ng-show="!contratoRegistroCancelar.info_desvincular"></span> <span class="fa fa-minus pull-right" ng-show="contratoRegistroCancelar.info_desvincular"></span></legend>
                    <div class="panel-body" ng-show="contratoRegistroCancelar.info_desvincular">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="intro-text"> {{ 'DOCENTE_VINCULADOS' | translate }} </h4>
                                    </div>
                                    <div class="panel-body">
                                        <div ui-grid="contratoRegistroCancelar.cancelados" ui-grid-pagination class="grid"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <legend class="text-primary" ng-click="info_cancelar=!info_cancelar">{{ 'CANCELACION_VINCULACION' | translate }}<span class="fa fa-plus pull-right" ng-show="!info_cancelar"></span> <span class="fa fa-minus pull-right" ng-show="info_cancelar"></span></legend>
                    <div class="panel-body" ng-show="info_cancelar">
                        <form role="form">
                            <div class="row">

                                <div class="form-group col-lg-12">
                                    <div class="row">
                                        <div class="col-sm-2"><label>{{ 'SEMANAS_REVERSAR' | translate }}</label></div>
                                        <div class="col-sm-1"><input type="number" style="width: 4em" ng-model="contratoRegistroCancelar.semanasReversar" min=1 max={{contratoRegistroCancelar.maximoSemanas}} required></div>
                                        <div class="col-sm-7"><font size="1" color="blue">({{ 'ELIJA_SEMANAS_MINIMO' | translate }} 1 {{ 'ELIJA_SEMANAS_MAXIMO' | translate }} {{contratoRegistroCancelar.maximoSemanas}})</font></div>
                                    </div>

                                </div>
                                <div class="form-group col-lg-12">
                                        <label>{{ 'JUSTIFICACION' | translate }}</label>
                                        <textarea rows="4" type="text" class="form-control" ng-model="contratoRegistroCancelar.contratoCanceladoBase.MotivoCancelacion" required></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <legend class="text-primary" ng-click="info_exp=!info_exp">{{ 'DATOS_EXPEDICION' | translate }}<span class="fa fa-plus pull-right" ng-show="!info_exp"></span> <span class="fa fa-minus pull-right" ng-show="info_exp"></span></legend>
                    <div class="panel-body" ng-show="info_exp">
                        <form role="form">
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label>{{ 'FECHA_EXPEDICION_VALIDA' | translate }}</label>
                                    <md-datepicker ng-model="contratoRegistroCancelar.FechaExpedicion" md-current-view="year" md-date-filter="validarFecha" md-placeholder="{{'ELEGIR_FECHA' | translate }}" fecha-valida required></md-datepicker>
                                </div>
                                <div class="form-group col-lg-6">
                                        <label>{{ 'NUMERO_RESOLUCION' | translate }}</label>
                                        <input type="text" class="form-control" ng-model="contratoRegistroCancelar.resolucionActual.NumeroResolucion" disabled>
                                </div>
                                <div class="form-group col-lg-6">
                                        <label>{{ 'TIPO_RESOLUCION' | translate }}</label>
                                        <input type="text" class="form-control" ng-model="contratoRegistroCancelar.resolucionActual.IdTipoResolucion.NombreTipoResolucion" disabled>
                                </div>
                                <div class="form-group col-lg-6">
                                        <label>{{ 'NUMERO_SEMANAS' | translate }}</label>
                                        <input type="text" class="form-control" ng-model="contratoRegistroCancelar.resolucionActual.NumeroSemanas" disabled>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <center><loading load="hojasDeVidaSeleccion.estado" tam="10"></loading><center></center>
                <div ng-hide="contratoRegistroCancelar.esconderBoton" class="form-group col-lg-8 col-lg-offset-2"><input type="submit" class="form-control btn btn-success" value="{{'REALIZAR_EXPEDICION' | translate }}" ng-click="contratoRegistroCancelar.cancelarContrato()">
                </div>
                <div class=panel-body>
                        <div ng-hide="contratoRegistroCancelar.esconderBoton" class="form-group col-lg-6 col-lg-offset-3"><input type="submit" class="form-control btn btn-danger" value="{{'CANCELAR' | translate }}" ng-click="contratoRegistroCancelar.cancelarExpedicion()">
                </div>
            </div>
        </div>
    </div>
</div>
