<div class="panel panel-primary panel-body">
    <h3 class="page-header text-center">{{ 'INFORMACION_CONTRATO' | translate }}</h3>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <legend class="text-primary" ng-click="info_basico=!info_basico">{{ 'DATOS_BASICOS' | translate }}<span class="fa fa-plus pull-right" ng-show="!info_basico"></span> <span class="fa fa-minus pull-right" ng-show="info_basico"></span></legend>
                    <div class="panel-body" ng-show="info_basico">
                        <form role="form">
                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <label>{{ 'VIGENCIA' | translate }}</label>
                                    <input type="number" class="form-control" ng-model="contratoRegistro.contratoGeneralBase.Contrato.Vigencia" disabled>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>{{ 'FORMA_PAGO' | translate }}</label>
                                    <input type="text" class="form-control" ng-model="contratoRegistro.forma_pago_defecto.Descripcion" disabled>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>{{ 'SEDE_SOLICITANTE' | translate }}</label>
                                    <input type="text" class="form-control" ng-model="contratoRegistro.sede_solicitante_defecto" disabled>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>{{ 'DESCRIPCION_FORMA_PAGO' | translate }}</label>
                                    <input type="text" class="form-control" ng-model="contratoRegistro.contratoGeneralBase.Contrato.DescripcionFormaPago" disabled>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>{{ 'UNIDAD_EJECUTORA' | translate }}</label>
                                    <input type="text" class="form-control" ng-model="contratoRegistro.unidad_ejecutora_defecto.Nombre" disabled>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>{{ 'MARCO_LEGAL' | translate }}</label>
                                    <input type="text" class="form-control" ng-model="contratoRegistro.regimen_contratacion_defecto.Descripcion" disabled>
                                </div>
                            </div>
                        </form>
                    </div>
                    <pre>{{contratoRegistro.contratoGeneralBase.Cdp.cdp | json}}</pre>
                <legend class="text-primary" ng-click="info_disponibilidad=!info_disponibilidad">{{ 'DISPONIBILIDAD' | translate }}<span class="fa fa-plus pull-right" ng-show="!info_disponibilidad"></span> <span class="fa fa-minus pull-right" ng-show="info_disponibilidad"></span></legend>
                    <div class="panel-body" ng-show="info_disponibilidad">
                        <form role="form">
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label>{{ 'VIGENCIA' | translate }} {{ 'CDP' | translate }}</label>
                                    <select class="form-control" ng-model="contratoRegistro.contratoGeneralBase.Cdp.VigenciaCdp" ng-options="vig for vig in contratoRegistro.vigencia_data" required>
                                        <option value="" disabled selected>{{"SELECCIONAR" | translate}} {{"VIGENCIA" | translate}}</option>
                                    </select>
                                    <div class="form-group" ng-show="contratoRegistro.contratoGeneralBase.Cdp.VigenciaCdp!=undefined">                                        
                                        <label>{{ 'NUMERO_CDP' | translate }}</label>
                                        <select class="form-control" ng-model="contratoRegistro.contratoGeneralBase.Cdp.cdp" ng-options="cdps.NumeroDisponibilidad for cdps in contratoRegistro.lista_cdp" required>
                                        <option value="" disabled selected>{{"SELECCIONAR" | translate}} {{"CDP" | translate}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" ng-show="contratoRegistro.contratoGeneralBase.Cdp.cdp!=0">                                        
                                    <div class="form-group col-lg-6">
                                        <label>{{ 'NUMERO_NECESIDAD' | translate }}</label>
                                        <input type="text" class="form-control" ng-model="contratoRegistro.necesidad.Numero" disabled>
                                        <label>{{ 'VIGENCIA_NECESIDAD' | translate }}</label>
                                        <input type="text" class="form-control" ng-model="contratoRegistro.necesidad.Vigencia" disabled>
                                        <label>{{ 'OBJETO_CDP' | translate }}</label>
                                        <textarea rows="5" type="text" class="form-control" ng-model="contratoRegistro.necesidad.Objeto" disabled></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                <legend class="text-primary" ng-click="info_secundarios=!info_secundarios">{{ 'JUSTIFICACION_Y_OBSERVACIONES' | translate }}<span class="fa fa-plus pull-right" ng-show="!info_secundarios"></span> <span class="fa fa-minus pull-right" ng-show="info_secundarios"></span></legend>
                    <div class="panel-body" ng-show="info_secundarios">
                        <form role="form">
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <label>{{ 'JUSTIFICACION' | translate }}</label>
                                    <textarea rows="4" type="text" class="form-control" ng-model="contratoRegistro.contratoGeneralBase.Contrato.Justificacion"></textarea>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label>{{ 'OBSERVACIONES' | translate }}</label>
                                    <textarea rows="4" type="text" class="form-control" ng-model="contratoRegistro.contratoGeneralBase.Contrato.Observaciones" required></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                <legend class="text-primary" ng-click="info_acta=!info_acta">{{ 'ACTA_INICIO' | translate }}<span class="fa fa-plus pull-right" ng-show="!info_acta"></span> <span class="fa fa-minus pull-right" ng-show="info_acta"></span></legend>
                    <div class="panel-body" ng-show="info_acta">
                        <form role="form">
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label>{{ 'FECHA_INICIO' | translate }}</label>
                                    <md-datepicker ng-model="contratoRegistro.acta.FechaInicio" md-current-view="year" md-placeholder="Elija fecha inicio" required></md-datepicker>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>{{ 'FECHA_FIN' | translate }}</label>
                                    <md-datepicker ng-model="contratoRegistro.acta.FechaFin" md-current-view="year" md-placeholder="Elija fecha final" required></md-datepicker>
                                </div>
                                <div class="form-group col-lg-12">
                                        <label>{{ 'DESCRIPCION' | translate }}</label>
                                        <textarea rows="4" type="text" class="form-control" ng-model="contratoRegistro.acta.Descripcion" required></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="form-group col-lg-8 col-lg-offset-2"><input type="submit" class="form-control btn btn-success" value="{{'REALIZAR_EXPEDICION' | translate }}" ng-click="contratoRegistro.realizarContrato()">
                </div>
            </div>
        </div>
    </div>
</div>