<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="intro-text">{{ 'EXPERIENCIA_LABORAL_DOCENTE' | translate }}</h4>
    </div>
    <div class="panel-body">
        <div class="panel panel-default col-lg-6" ng-repeat="i in getNumeros(historiaLaboral.experienciasLaborales)">
            <div class="panel-body">
                <form role="form">
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label>{{ 'TIPO_ACTIVIDAD' | translate }}</label>
                            <input type="text" class="form-control" ng-model="historiaLaboral.experienciasLaborales[i].TipoActividad" disabled>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>{{ 'CAMPO_ENSEÑANZA' | translate }}</label>
                            <input type="text" class="form-control" ng-model='historiaLaboral.experienciasLaborales[i]["CampoEnseñanza"]' disabled>
                        </div>          
                        <div class="form-group col-lg-6">
                            <label>{{ 'INICIO' | translate }}</label>
                            <input type="text" class="form-control" ng-model="historiaLaboral.experienciasLaborales[i].FechaInicio" disabled>
                        </div>  
                        <div class="form-group col-lg-6">
                            <label>{{ 'FINALIZACION' | translate }}</label>
                            <input type="text" class="form-control" ng-model="historiaLaboral.experienciasLaborales[i].FechaFinalizacion" disabled>
                        </div>  
                        <div class="form-group col-lg-6">
                            <label>{{ 'INSTITUCION' | translate }}</label>
                            <input type="text" class="form-control" ng-model="historiaLaboral.experienciasLaborales[i].institucion.NombreInstitucion" disabled>
                        </div> 
                        <div class="form-group col-lg-6">
                            <label>{{ 'PAIS' | translate }}</label>
                            <input type="text" class="form-control" ng-model="historiaLaboral.experienciasLaborales[i].institucion.Pais" disabled>
                        </div>  
                        <div class="form-group col-lg-6">
                            <label>{{ 'DEPARTAMENTO' | translate }}</label>
                            <input type="text" class="form-control" ng-model="historiaLaboral.experienciasLaborales[i].institucion.Departamento" disabled>
                        </div>  
                        <div class="form-group col-lg-6">
                            <label>{{ 'MUNICIPIO' | translate }}</label>
                            <input type="text" class="form-control" ng-model="historiaLaboral.experienciasLaborales[i].institucion.Municipio" disabled>
                        </div>  
                        <div class="form-group col-lg-6">
                            <label>{{ 'LOCALIDAD' | translate }}</label>
                            <input type="text" class="form-control" ng-model="historiaLaboral.experienciasLaborales[i].institucion.Localidad" disabled>
                        </div> 
                        <div class="form-group col-lg-6">
                            <label>{{ 'TIPO_DEDICACION' | translate }}</label>
                            <input type="text" class="form-control" ng-model="historiaLaboral.experienciasLaborales[i].tipoDedicacion.NombreTipoDedicacion" disabled>
                        </div>                         
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>