<div class="panel panel-primary panel-body">
	<h2 class="page-header text-center">{{ 'TITULO_VIN_DOC' | translate }} <br> {{ 'TITULO_RES' | translate }} {{hojasDeVidaSeleccion.resolucion.Numero}} <br> {{hojasDeVidaSeleccion.resolucion.Dedicacion}} </h2>


		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="intro-text"> {{ 'HOJAS_VIDA_INSCRITAS' | translate }} </h4>
					</div>
					<div ui-grid="hojasDeVidaSeleccion.datosDocentesCargaLectiva" ui-grid-selection ui-grid-pagination class="grid"></div>
				</div>
			</div>

			<div class="col-md-4 col-md-offset-4">
				<label></label>
				<input type="submit" class="form-control btn btn-success" value="Elegir disponibilidades" ng-click="hojasDeVidaSeleccion.mostrar_modal_disponibilidad()">
			</div>
			</div>
		<br>

		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="intro-text"> {{ 'DOCENTE_VINCULADOS' | translate }} </h4>
					</div>
						<br>
						<div class="col-md-2">
							<center><label>Seleccione el proyecto curricular</label></center>
						</div>
						<div class="col-md-10">
						<select class="form-control" ng-model="hojasDeVidaSeleccion.term" ng-change="hojasDeVidaSeleccion.get_docentes_vinculados()">
							<option ng-selected="{{proyecto.Id == HojasDeVidaSeleccion.defaultSelectedPrecont}}" ng-repeat="proyecto in hojasDeVidaSeleccion.proyectos" value="{{proyecto.Id}}">{{proyecto.Nombre}}</option>
						</select>
					 </div>
						<br>
						<div class="panel-body">
						<br>
						<div ui-grid="hojasDeVidaSeleccion.precontratados" ui-grid-selection ui-grid-pagination class="grid" ng-hide="hojasDeVidaSeleccion.estado"></div>
						<center><loading load="hojasDeVidaSeleccion.estado" tam="5"></loading><center>
						</div>

					</div>
				</div>
			</div>


		<div id="modal_disponibilidad" class="modal fade" role="dialog">

			<div class="modal-content col-md-10 col-md-offset-1" style="margin-top: 5%">
				<div class="modal-header">
					<button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal">&times</button><br>
				</div>
				<div class="modal-body">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Disponibilidad</h3>
						</div>
						<div class="panel-body">
							<form name="formplan" ng-submit="formplan.$valid">
								<div class="row">
									<div class="col-md-7">
										<div ui-grid="hojasDeVidaSeleccion.Disponibilidades" ui-grid-selection ui-grid-pagination ui-grid-auto-resize class="grid"></div>
									</div>
									<div class="col-md-5">
										<div ui-grid="hojasDeVidaSeleccion.Apropiaciones" ui-grid-selection ui-grid-pagination ui-grid-auto-resize class="grid"></div>
									</div>

								</div>
								<br>
								<div class="col-md-4 col-md-offset-4">
									<center><input type="submit" class="form-control btn btn-success" value="{{'VINCULAR_DOCENTES_SELECCIONADOS' | translate }}" ng-click="hojasDeVidaSeleccion.agregarPrecontratos()"></center>
								</div>

							</form>
						</div>
					</div>

				</div>
			</div>
		</div>
