<div class="panel panel-primary panel-body">
	<h2 class="page-header text-center">{{ 'TITULO_VIN_DOC' | translate }} <br> {{ 'TITULO_RES' | translate }} {{resolucionAdicion.resolucion.Numero}} <br> {{resolucionAdicion.resolucion.Dedicacion}} </h2>

		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="intro-text"> {{ 'DOCENTE_VINCULADOS' | translate }} </h4>
					</div>
						<br>
						<div class="col-md-2">
							<center><label> {{ 'SELECCIONE_PROY' | translate }}</label></center>
						</div>
						<div class="col-md-10">
						<select class="form-control" ng-model="resolucionAdicion.term" ng-change="resolucionAdicion.get_docentes_vinculados()">
							<option ng-selected="{{proyecto.Id == resolucionAdicion.defaultSelectedPrecont}}" ng-repeat="proyecto in resolucionAdicion.proyectos" value="{{proyecto.Id}}">{{proyecto.Nombre}}</option>
						</select>
					 </div>
						<br>
						<div class="panel-body">
						<br>
						<div ui-grid="resolucionAdicion.precontratados" ui-grid-selection ui-grid-pagination class="grid" ng-hide="resolucionAdicion.estado"></div>
						<center><loading load="resolucionAdicion.estado" tam="5"></loading><center>
						</div>
						<div class="form-group col-lg-6 col-lg-offset-3">
								<label></label>
								<input type="submit" class="form-control btn btn-success" value="Desvincular docentes seleccionados" ng-click="resolucionAdicion.verCancelarInscripcionDocente()">
						</div>

					</div>
				</div>
			</div>
