<div class="panel panel-primary panel-body">
  <h2 class="page-header text-center">{{ 'GENERACION_RESOLUCION' | translate }}</h2>
  <div class="row">
    <div class="col-md-2 col-md-offset-4">
      <center><label> {{ 'SELECCIONE_TIPO_RES' | translate }} </label></center>
    </div>
    <div class="col-md-6">
    <select ng-model="resolucionGeneracion.tipo_resolucion_elegida">
      <option value="">{{'SELECCIONE' | translate }}</option>
      <option value=1>{{'VINCULACION' | translate }}</option>
      <!--option ng-repeat="tipos in resolucionGeneracion.tipos_resolucion" value="{{tipos.Id}}">{{tipos.NombreTipoResolucion}}</option-->
    </select>
  </div>
  </div>

<div ng-show="resolucionGeneracion.tipo_resolucion_elegida == 1">
  <div class="panel-body">
    <div class="row">
      <div class="panel panel-default col-lg-10 col-lg-offset-1">
        <div class="panel-body">
          <form role="form">
            <div class="row">
              <div class="form-group col-lg-6">
                <label>{{ 'NUMERO_RESOLUCION' | translate }}</label>
                <input type="tel" pattern="[0-9]*" class="form-control" ng-model="resolucionGeneracion.resolucion.numero" required>
              </div>
              <div class="form-group col-lg-6">
                <label>{{ 'FACULTAD' | translate }}</label>
                <select class="form-control" ng-model="resolucionGeneracion.resolucion.facultad" required>
                  <option value="">{{'SELECCIONE' | translate }}</option>
                  <option ng-repeat="facultad in resolucionGeneracion.facultades" value={{facultad.DependenciaId}}> {{facultad.DependenciaId.Nombre}}</option>
                </select>
              </div>
              <div class="form-group col-lg-6">
                <label>{{ 'NIVEL_ACADEMICO' | translate }}</label>
                <select class="form-control" ng-model="resolucionGeneracion.resolucion.nivelAcademico" required>
                  <option value="">{{'SELECCIONE' | translate }}</option>
                  <option value="PREGRADO">PREGRADO</option>
                  <option value="POSGRADO">POSGRADO</option>
                </select>
              </div>
              <div class="form-group col-lg-6">
                <label>{{ 'DEDICACION' | translate }}</label>
                <select class="form-control" ng-model="resolucionGeneracion.resolucion.dedicacion" required>
                  <option value="">--{{ 'SELECCIONE' | translate }}--</option>
                  <option value="HCH">HCH</option>
                  <option value="HCP">HCP</option>
                  <option ng-if="resolucionGeneracion.resolucion.nivelAcademico=='PREGRADO'" value="TCO-MTO">TCO-MTO</option>
                </select>
              </div>
              <div class="form-group col-lg-6">
                <label>{{ 'SEMANAS' | translate }}</label>
                <input type="number" pattern="[0-9]*" class="form-control" ng-model="resolucionGeneracion.resolucion.numeroSemanas" required>
              </div>
              <div class="form-group col-lg-6">
                <label>{{ 'PERIODO' | translate }}</label>
                <select class="form-control" ng-model="resolucionGeneracion.resolucion.Periodo" required>
                  <option value="">--{{ 'SELECCIONE' | translate }}--</option>
                  <option value="1">1</option>
                <!--<option value="2">2</option>
                  <option value="3">3</option>..-->
                </select>

              </div>
                <div class="form-group col-lg-8 col-lg-offset-2">
                    <label></label>
                    <input type="submit" class="form-control btn btn-success" value="{{'GENERAR_RESOLUCION' | translate }}" ng-click="resolucionGeneracion.crearResolucion()">
                </div>

          </form>
        </div>
      </div>
    </div>
  </div>

</div>
</div>

<div ng-show="resolucionGeneracion.tipo_resolucion_elegida == 2">

    <div class="panel-body">
      <div class="row">
      <div class="col-md-2 col-md-offset-2">
        <label>{{ 'NUMERO_RESOLUCION' | translate }}</label>
      </div>
        <div class="col-md-3">
        <input type="tel" pattern="[0-9]*" class="form-control" ng-model="resolucionGeneracion.resolucion.numero" required>
      </div>

        <div class="col-md-8 col-md-offset-2">
          <br>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="intro-text"> {{ 'LISTA_RESOLUCIONES' | translate }} </h4>
            </div>
            <div ui-grid="resolucionGeneracion.resolucionesExpedidasPeriodo" ui-grid-selection ui-grid-pagination ui-grid-auto-resize class="grid"></div>
          </div>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <input type="submit" class="form-control btn btn-success" value="{{'ASOCIAR_RESOLUCION' | translate }}" ng-click="resolucionGeneracion.AsociarResolucionCancelacion()">
        </div>
        </div>
    </div>
  </div>

  <div ng-show="resolucionGeneracion.tipo_resolucion_elegida == 3">

      <div class="panel-body">
        <div class="row">
        <div class="col-md-2 col-md-offset-2">
          <label>{{ 'NUMERO_RESOLUCION' | translate }}</label>
        </div>
          <div class="col-md-3">
          <input type="tel" pattern="[0-9]*" class="form-control" ng-model="resolucionGeneracion.resolucion.numero" required>
        </div>

          <div class="col-md-8 col-md-offset-2">
            <br>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="intro-text"> {{ 'LISTA_RESOLUCIONES' | translate }} </h4>
              </div>
              <div ui-grid="resolucionGeneracion.resolucionesExpedidasPeriodo" ui-grid-selection ui-grid-pagination ui-grid-auto-resize class="grid"></div>
            </div>
          </div>
          <div class="col-md-4 col-md-offset-4">
            <input type="submit" class="form-control btn btn-success" value="{{'ASOCIAR_RESOLUCION' | translate }}" ng-click="resolucionGeneracion.AsociarResolucionCancelacion()">
          </div>
          </div>
      </div>
    </div>


    <div ng-show="resolucionGeneracion.tipo_resolucion_elegida == 4">

        <div class="panel-body">
          <div class="row">
          <div class="col-md-2 col-md-offset-2">
            <label>{{ 'NUMERO_RESOLUCION' | translate }}</label>
          </div>
            <div class="col-md-3">
            <input type="tel" pattern="[0-9]*" class="form-control" ng-model="resolucionGeneracion.resolucion.numero" required>
          </div>

            <div class="col-md-8 col-md-offset-2">
              <br>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="intro-text"> {{ 'LISTA_RESOLUCIONES' | translate }} </h4>
                </div>
                <div ui-grid="resolucionGeneracion.resolucionesExpedidasPeriodo" ui-grid-selection ui-grid-pagination ui-grid-auto-resize class="grid"></div>
              </div>
            </div>
            <div class="col-md-4 col-md-offset-4">
              <input type="submit" class="form-control btn btn-success" value="{{'ASOCIAR_RESOLUCION' | translate }}" ng-click="resolucionGeneracion.AsociarResolucionCancelacion()">
            </div>
            </div>
        </div>
      </div>


</div>
