<div class="panel panel-primary panel-body">
    <h2 class="page-header text-center">{{ 'RESOLUCIONES' | translate }}</h2>
    <div class="panel-body">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="intro-text"> {{ 'LISTA_RESOLUCIONES' | translate }} </h4>
                </div>
                <div class="panel-body">
                    <div ui-grid="resolucionAdministracion.resolucionesInscritas" ui-grid-selection ui-grid-pagination class="grid"></div>
                </div>
            </div>
        </div>
    </div>
</div>