<div class="panel panel-primary panel-body">
  <h2 class="page-header text-center">{{ 'GENERACION_RESOLUCION' | translate }}</h2>
  <div class="panel-body">
    <div class="row">
      <div class="panel panel-default col-lg-10 col-lg-offset-1">
        <div class="panel-body">
          <form role="form">
            <div class="row">
              <div class="form-group col-lg-6">
                <label>{{ 'NUMERO_RESOLUCION' | translate }}</label>
                <input type="number" class="form-control" ng-model="resolucionGeneracion.resolucion.numero" required>
              </div>
              <div class="form-group col-lg-6">
                <label>{{ 'FACULTAD' | translate }}</label>
                <select class="form-control" ng-model="resolucionGeneracion.resolucion.facultad" required>
                  <option value="">--SELECIONE--</option>
                  <option ng-repeat="facultad in resolucionGeneracion.facultades" value={{facultad.Id}}> {{facultad.Nombre}}</option>
                </select>
              </div>
              <div class="form-group col-lg-6">
                <label>{{ 'NIVEL_ACADEMICO' | translate }}</label>
                <select class="form-control" ng-model="resolucionGeneracion.resolucion.nivelAcademico" required>
                  <option value="">--SELECIONE--</option>
                  <option value="PREGRADO">PREGRADO</option>
                  <option value="POSGRADO">POSGRADO</option>
                </select>
              </div>
              <div class="form-group col-lg-6">
                <label>{{ 'DEDICACION' | translate }}</label>
                <select class="form-control" ng-model="resolucionGeneracion.resolucion.dedicacion" required>
                  <option value="">--{{ 'SELECCIONE' | translate }}--</option>
                  <option value="HCH">HCH</option>
                  <option value="HCP">HCP</option>                                        
                  <option ng-if="resolucionGeneracion.resolucion.nivelAcademico=='PREGRADO'" value="TCO-MTO">TCO-MTO</option>
                </select>
              </div>
              <div class="col-lg-6">
                            <form role="form">
                                  <div class="row">
                                      <div class="form-group col-lg-12">
                                          <label>{{ 'PREAMBULO' | translate }}</label>
                                          <textarea rows="7" class="form-control" ng-model="resolucionGeneracion.resolucion.preambulo" required></textarea>
                                      </div>
                                  </div>
                              </form>
                      </div>
                      <div class="col-lg-6">
                            <form role="form">
                                  <div class="row">
                                      <div class="form-group col-lg-12">
                                          <label>{{ 'CONSIDERACION' | translate }}</label>
                                          <textarea rows="7" class="form-control" ng-model="resolucionGeneracion.resolucion.consideracion" required></textarea>
                                      </div>
                                  </div>
                              </form>
                      </div>
                <div class="form-group col-lg-8 col-lg-offset-2">
                    <label></label>
                    <input type="submit" class="form-control btn btn-success" value="{{'BTN.GENERAR_RESOLUCION' | translate }}" ng-click="resolucionGeneracion.crearResolucion()">
                </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
