<div class="panel panel-primary panel-body">
    <h2 class="page-header text-center">{{ 'RESOLUCIONES' | translate }}</h2>
    <div class="panel-body">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="intro-text"> {{ 'LISTA_RESOLUCIONES' | translate }} </h4>
                </div>
                <div class="panel-body">
                    <div ui-grid="resolucionGestion.resolucionesInscritas" ui-grid-selection ui-grid-pagination class="grid"></div>
                </div>
                <div class="form-group col-lg-8 col-lg-offset-2">
                    <label></label>
                    <input type="submit" class="form-control btn btn-success" value="{{'BTN.CREAR_RESOLUCION' | translate }}" ng-click="resolucionGestion.generarNuevaResolucion()">
                </div>
            </div>
        </div>
    </div>
</div>
