<div class="panel panel-primary panel-body">
	<h2 class="page-header text-center">{{ 'TITULO_VIN_DOC' | translate }} <br> {{ 'TITULO_RES' | translate }} {{resolucionCancelacion.resolucion.Numero}} <br> {{resolucionCancelacion.resolucion.Dedicacion}} </h2>

		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="intro-text"> {{ 'DOCENTE_VINCULADOS' | translate }} </h4>
					</div>
						<br>
						<br>
						<div ng-hide="!resolucionCancelacion.sin_docentes_por_cancelar()" class="panel-body">
							<br>
							<div ui-grid="resolucionCancelacion.precontratados" ui-grid-selection ui-grid-pagination ui-grid-auto-resize class="grid" ng-hide="resolucionCancelacion.estado"></div>
							<center><loading load="resolucionCancelacion.estado" tam="5"></loading><center>
						</div>
						<div ng-hide="resolucionCancelacion.sin_docentes_por_cancelar()" >
							<div class="panel panel-danger">
								<div class="panel-heading">Error</div>
								<div class="panel-body">No hay más docentes vinculados a los que le pueda reversar semanas en esta resolución actualmente</div>
							</div>
						</div>
						<div class="panel-heading">
							<h4 class="intro-text"> {{ 'DOCENTES_SELECCIONADOS_REVERSAR' | translate }} </h4>
						</div>
					<div class="col-md-12">
						<ul class="list-group">
							<li class="list-group-item" ng-repeat="personas in resolucionCancelacion.personasSeleccionadas">
							  <label><span class="text-info">{{$index+1}}. </span>{{personas.IdPersona}} - {{personas.NombreCompleto}} - {{personas.Proyecto}} - {{personas.NumeroHorasSemanales}} Horas Semanales</label>
							</li>
						  </ul>
						</div>
						<div class="form-group col-lg-6 col-lg-offset-3">
								<label></label>
								<input type="submit" class="form-control btn btn-success" value="{{'SELEC_VIN_BTN' | translate }}" ng-click="resolucionCancelacion.verCancelarInscripcionDocente()">
						</div>

					</div>
					<div class="col-lg-6 col-lg-offset-3">
							<input type="submit" class="form-control btn-danger" ng-click="resolucionCancelacion.volver()" value="{{'VOLVER' | translate }}">
					  </div>
				</div>
			</div>
