<div class="panel panel-primary panel-body">
    <h3 class="page-header text-center"> {{ 'RESOLUCION' | translate }} </h3>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4 class="intro-text text-center"> {{ 'FORMATO_RESOLUCION' | translate }} </h4>
                  </div>
                  <div class="panel-body">
                    <button type="submit" class="form-control btn-primary" ng-click="resolucionDetalle.verDocentesContratados()">{{ 'VER_DOCENTES' | translate }}</button>
                      <div class="col-lg-12">
                          <form role="form">
                              <div class="row">
                                  <div class="form-group col-lg-6">
                                    <label>{{ 'NUMERO_RESOLUCION' | translate }}</label>
                                    <input type="text" class="form-control" ng-model="resolucionDetalle.contenidoResolucion.Numero">
                                  </div>
                                  <div class="form-group col-lg-6">
                                    <label>{{ 'FACULTAD' | translate }}</label>
                                    <select class="form-control" ng-if="resolucionDetalle.contratados==null" ng-model="resolucionDetalle.datosFiltro.IdFacultad">
                                      <option ng-repeat="facultad in resolucionDetalle.facultades" value={{facultad.Id}}> {{facultad.Nombre}}</option>
                                    </select>
                                    <select class="form-control" ng-if="resolucionDetalle.contratados!=null" ng-model="resolucionDetalle.datosFiltro.IdFacultad" disabled>
                                      <option ng-repeat="facultad in resolucionDetalle.facultades" value={{facultad.Id}}> {{facultad.Nombre}}</option>
                                    </select>
                                  </div>
                                  <div class="form-group col-lg-6">
                                    <label>{{ 'NIVEL_ACADEMICO' | translate }}</label>
                                    <select class="form-control" ng-if="resolucionDetalle.contratados==null" ng-model="resolucionDetalle.datosFiltro.NivelAcademico">
                                      <option value="PREGRADO">PREGRADO</option>
                                      <option value="POSGRADO">POSGRADO</option>
                                    </select>
                                    <select class="form-control" ng-if="resolucionDetalle.contratados!=null" ng-model="resolucionDetalle.datosFiltro.NivelAcademico" disabled>
                                      <option value="PREGRADO">PREGRADO</option>
                                      <option value="POSGRADO">POSGRADO</option>
                                    </select>
                                  </div>
                                  <div class="form-group col-lg-6">
                                    <label>{{ 'DEDICACION' | translate }}</label>
                                    <select class="form-control" ng-if="resolucionDetalle.contratados==null" ng-model="resolucionDetalle.datosFiltro.Dedicacion">
                                      <option value="HCH">HCH</option>
                                      <option value="HCP">HCP</option>                                        
                                      <option ng-if="resolucionDetalle.datosFiltro.NivelAcademico=='PREGRADO'" value="TCO-MTO">TCO-MTO</option>
                                    </select>
                                    <select class="form-control" ng-if="resolucionDetalle.contratados!=null" ng-model="resolucionDetalle.datosFiltro.Dedicacion" disabled>
                                      <option value="HCH">HCH</option>
                                      <option value="HCP">HCP</option>                                        
                                      <option ng-if="resolucionDetalle.datosFiltro.NivelAcademico=='PREGRADO'" value="TCO-MTO">TCO-MTO</option>
                                    </select>
                                  </div>
                              </div>
                          </form>                               
                      </div>
                      <div class="col-lg-12">
                            <form role="form">
                                  <div class="row">
                                      <div class="form-group col-lg-12">
                                          <label>{{ 'PREAMBULO' | translate }}</label>
                                          <textarea rows="5" class="form-control" ng-model="resolucionDetalle.contenidoResolucion.Preambulo"></textarea>
                                      </div>
                                  </div>
                              </form>
                      </div>
                      <div class="col-lg-12">
                            <form role="form">
                                  <div class="row">
                                      <div class="form-group col-lg-12">
                                          <label>{{ 'CONSIDERANDO' | translate }}</label>
                                          <textarea rows="21" class="form-control" ng-model="resolucionDetalle.contenidoResolucion.Consideracion"></textarea>
                                      </div>
                                  </div>
                              </form>
                      </div>
                  </div>
            </div>
        </div>
        <div class=" row col-lg-6" id="resolucion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="intro-text text-center">{{ 'VISTA_RESOLUCION' | translate }}</h4>
                    </div>
                    <div class="panel-body">
                        <button type="submit" class="form-control btn-primary" ng-click="resolucionDetalle.generarResolucion()">{{ 'VISTA_RESOLUCION_ACTUALIZADA' | translate }}</button>
                        <iframe id="vistaPDF" frameborder='0' width='100%' height='770'> </iframe>
                    </div>
                </div>
            </div>
                      <div class="col-lg-12">
                        <label>{{ 'RESUELVE' | translate }}</label>
                          <div class="panel panel-default">
                              <div class="panel-body">                                    
                                  <div class="col-lg-12" ng-repeat="i in resolucionDetalle.getNumeros(resolucionDetalle.contenidoResolucion.Articulos)">
                                    <legend class="text-primary" ng-click="info_articulo=!info_articulo">{{ 'ARTICULO' | translate }} {{i+1}}<span class="fa fa-plus pull-right" ng-show="!info_articulo"></span> <span class="fa fa-minus pull-right" ng-show="info_articulo"></span></legend>
                                      <div class="panel panel-default" ng-show="info_articulo">
                                          <div class="panel-body">
                                              <form role="form">
                                                  <div class="row">
                                                      <div class="form-group col-lg-6">
                                                          <label>{{ 'TEXTO' | translate }}</label>
                                                          <textarea rows="12" class="form-control" ng-model="resolucionDetalle.contenidoResolucion.Articulos[i].Texto"></textarea>        
                                                      </div>
                                                      <div class="form-group col-lg-6">
                                                        <div class="form-group col-lg-12" ng-repeat="j in resolucionDetalle.getNumeros(resolucionDetalle.contenidoResolucion.Articulos[i].Paragrafos)">
                                                            <label>{{ 'PARAGRAFO' | translate }} {{j+1}}</label>
                                                            <textarea rows="3" class="form-control" ng-model="resolucionDetalle.contenidoResolucion.Articulos[i].Paragrafos[j].Texto"></textarea>
                                                            <div class="col-lg-12">
                                                              <input type="submit" class="form-control btn-danger " ng-click="resolucionDetalle.eliminarParagrafo(i,j)" value="Eliminar paragrafo">
                                                            </div>
                                                        </div>
                                                      </div>
                                                      <div class="col-lg-12">
                                                          <input type="submit" class="form-control btn-success" ng-click="resolucionDetalle.agregarParagrafo(i)" value="Agregar paragrafo">
                                                      </div>
                                                      <div class="col-lg-12">
                                                          <input type="submit" class="form-control btn-danger" ng-click="resolucionDetalle.eliminarArticulo(i)" value="Eliminar artículo">
                                                      </div>
                                                  </div>
                                              </form>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-lg-6 col-lg-offset-3">
                                      <input type="submit" class="form-control btn-primary" ng-click="resolucionDetalle.agregarArticulo()" value="Nuevo artículo">
                                  </div>
                              </div>
                              <div class="col-lg-6 col-lg-offset-3">
                                      <input type="submit" class="form-control btn-success" ng-click="resolucionDetalle.guardarCambios()" value="Guardar cambios realizados en la resolución">
                              </div>
                          </div>
                      </div>
                  </div>
      </div>
  </div>

</div>
