<div class="panel panel-primary panel-body">
	<h2 class="page-header text-center">{{ 'TITULO_VIN_DOC' | translate }} <br> {{ 'TITULO_RES' | translate }} {{resolucionReduccion.resolucion.Numero}} <br> {{resolucionReduccion.resolucion.Dedicacion}} </h2>

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="intro-text"> Docentes a los que se les desea modificar horas </h4>
				</div>
				<br>
				<div class="col-md-2">
					<center><label> {{ 'SELECCIONE_PROY' | translate }}</label></center>
				</div>
				<div class="col-md-10">
					<select class="form-control" ng-model="resolucionReduccion.term" ng-change="resolucionReduccion.get_docentes_vinculados()">
						<option ng-selected="{{proyecto.Id == resolucionReduccion.defaultSelectedPrecont}}" ng-repeat="proyecto in resolucionReduccion.proyectos" value="{{proyecto.Id}}">{{proyecto.Nombre}}</option>
					</select>
				</div>
				<br>
				<div class="panel-body">
					<br>
					<div ui-grid="resolucionReduccion.precontratados" ui-grid-selection ui-grid-pagination class="grid" ng-hide="resolucionReduccion.estado"></div>
					<center><loading load="resolucionReduccion.estado" tam="5"></loading><center>
					</div>
					<div class="form-group col-lg-6 col-lg-offset-3">
						<label></label>
						<input type="submit" class="form-control btn btn-success" value="Desvincular docentes seleccionados" ng-click="resolucionReduccion.verCancelarInscripcionDocente()">
					</div>

				</div>
			</div>
		</div>
	</div>

	<div id="modal_adicion" class="modal fade" role="dialog">



		<div class="modal-content col-md-10 col-md-offset-1" style="margin-top: 5%">
			<div class="modal-header">
				<button type="button" class="btn btn-outline btn-danger btn-xs pull-right" data-dismiss="modal">&times</button><br>
			</div>
			<div class="modal-body">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Adición de horas</h3>
					</div>
					<div class="panel-body">
						<form name="formplan" ng-submit="formplan.$valid">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-2 col-md-offset-1">
										<label>Horas actuales</label>
									</div>
									<div class="col-md-1">
										<input type="tel" pattern="[0-9]*" class="form-control" ng-model="resolucionReduccion.horas_actuales" readonly>
									</div>
									<div class="col-md-2">
										<label>Horas a reducir</label>
									</div>
									<div class="col-md-1">
										<input type="tel" pattern="[0-9]*" class="form-control" ng-model="resolucionReduccion.horas_a_reducir" ng-change="resolucionReduccion.Calcular_horas_totales()" required="">
									</div>
									<div class="col-md-2">
										<label>Horas totales</label>
									</div>
									<div class="col-md-1">
										<input type="tel" pattern="[0-9]*" class="form-control" ng-model="resolucionReduccion.horas_totales" readonly>
									</div>
								</div>
								<div class="col-md-12">
									<br>
									<div class="col-md-2 col-md-offset 3">
										<label>Disponibilidad actual</label>
									</div>
									<div class="col-md-2">
										<input type="tel" pattern="[0-9]*" class="form-control" ng-model="resolucionReduccion.disponibilidad_actual" readonly>
									</div>
									<div class="col-md-2">
										<input type="submit" class="form-control btn btn-success" value="Realizar nueva vinculacion" ng-click="resolucionReduccion.realizar_nueva_vinculacion()">
									</div>
								</div>
								<br>
								</form>
						</div>
					</div>
					</div>
			</div>
		</div>
