<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="intro-text">{{ 'TRABAJOS_INVESTIGACION' | translate }}</h4>
    </div>
    <div class="panel-body">
        <div class="panel panel-default col-lg-6" ng-repeat="i in getNumeros(trabajosInvestigacion.investigaciones)">
            <div class="panel-body">
                <form role="form">
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label>{{ 'NOMBRE_INVESTIGACION' | translate }}</label>
                            <input type="text" class="form-control" ng-model="trabajosInvestigacion.investigaciones[i].NombreInvestigacion" disabled>
                        </div>    
                        <div class="form-group col-lg-6">
                            <label>{{ 'TIPO_INVESTIGACION' | translate }}</label>
                            <input type="text" class="form-control" ng-model='trabajosInvestigacion.investigaciones[i].tipoInvestigacion.NombreTipoInvestigacion' disabled>
                        </div>      
                        <div class="form-group col-lg-6">
                            <label>{{ 'INICIO' | translate }}</label>
                            <input type="text" class="form-control" ng-model="trabajosInvestigacion.investigaciones[i].FechaInicio" disabled>
                        </div>  
                        <div class="form-group col-lg-6">
                            <label>{{ 'FINALIZACION' | translate }}</label>
                            <input type="text" class="form-control" ng-model="trabajosInvestigacion.investigaciones[i].FechaFinalizacion" disabled>
                        </div>  
                        <div class="form-group col-lg-6">
                            <label>{{ 'INSTITUCION' | translate }}</label>
                            <input type="text" class="form-control" ng-model="trabajosInvestigacion.investigaciones[i].institucion.NombreInstitucion" disabled>
                        </div> 
                        <div class="form-group col-lg-6">
                            <label>{{ 'PAIS' | translate }}</label>
                            <input type="text" class="form-control" ng-model="trabajosInvestigacion.investigaciones[i].institucion.Pais" disabled>
                        </div>  
                        <div class="form-group col-lg-6">
                            <label>{{ 'DEPARTAMENTO' | translate }}</label>
                            <input type="text" class="form-control" ng-model="trabajosInvestigacion.investigaciones[i].institucion.Departamento" disabled>
                        </div>  
                        <div class="form-group col-lg-6">
                            <label>{{ 'MUNICIPIO' | translate }}</label>
                            <input type="text" class="form-control" ng-model="trabajosInvestigacion.investigaciones[i].institucion.Municipio" disabled>
                        </div>  
                        <div class="form-group col-lg-6">
                            <label>{{ 'LOCALIDAD' | translate }}</label>
                            <input type="text" class="form-control" ng-model="trabajosInvestigacion.investigaciones[i].institucion.Localidad" disabled>
                        </div>                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>