<div class="panel panel-default">
    <div class="welcome-panel">
        <h1 class="welcome-title text-center">BIENVENIDO AL MÓDULO DE NOVEDADES</h1>
        <p class="welcome-info">Los invitamos a revisar los Manuales de usuario:</p>
        <ul class="welcome-info">
            <li>
                <a href="https://ti.udistrital.edu.co/sites/default/files/documentacion/2023-05/M%C3%93DULO%20DE%20NOVEDADES%20-%20ARGO_0.pdf"
                    target="_blank" rel="noopener noreferrer">Gestión del módulo de novedades</a>
            </li>
        </ul>
    </div>
    <div class="panel-info" align="center">
        <img src="images/LogoArgo.png" width="400px" alt="">
    </div>
</div>