<div class="panel panel-default">
    <div class="welcome-panel">
        <h1 class="welcome-title text-center">BIENVENIDO AL MÓDULO DE NOVEDADES</h1>
        <p class="welcome-info">Los invitamos a revisar los Manuales de usuario:</p>
        <ul class="welcome-info">
            <li>
                <a href="https://udistritaleduco-my.sharepoint.com/personal/computo_udistrital_edu_co/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fcomputo%5Fudistrital%5Fedu%5Fco%2FDocuments%2FFUNCIONAMIENTO%2FSOPORTE%20SEGUNDO%20NIVEL%2FSistemas%20de%20Informaci%C3%B3n%2FARGO%20UD%2FMANUALES%2FM%C3%93DULO%20DE%20NOVEDADES%20%2D%20ARGO%5F0%2Epdf&parent=%2Fpersonal%2Fcomputo%5Fudistrital%5Fedu%5Fco%2FDocuments%2FFUNCIONAMIENTO%2FSOPORTE%20SEGUNDO%20NIVEL%2FSistemas%20de%20Informaci%C3%B3n%2FARGO%20UD%2FMANUALES&ga=1"
                    target="_blank" rel="noopener noreferrer">Gestión del módulo de novedades</a>
            </li>
        </ul>
    </div>
    <div class="panel-info" align="center">
        <img src="images/LogoArgo.png" width="400px" alt="">
    </div>
</div>
